.buttons {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.completion {
  padding: 1em !important;
  cursor: pointer;

  &_selected {
    background: rgba(0, 0, 0, 0.05);
  }
}

.title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #1890ff;
  font-weight: bold;

  h3 {
    margin: 0;
    margin-right: 1em;
  }
}
