.container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;

  @media (max-width: 640px) {
    flex-direction: column;
  }
}

.block {
  & > button {
    margin: 0 5px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
  @media (max-width: 640px) {
    margin-bottom: 10px;
  }
}
