<!-- {"title": "Image polygon labeling", "category": "image"} -->
<View>
  <Text name="text"
        value="Select label and start to click on image"/>

  <Image name="img" value="$image"/>

  <PolygonLabels name="tag" toName="img" strokewidth="5">
    <Label value="Airplane" background="red"/>
    <Label value="Car" background="blue"/>
  </PolygonLabels>
</View>
