{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load filters %}

{% block content %}
<head>
    <title>Subject annotation task creation </title>
</head>
<body>
    <div class="buttons">
        <form action="{% url 'landingpage:landingpage' project.id %}">
            <input type="submit" value="Go back to project page" style="background-color: #c4862b; width:25%"/>
        </form>
    </div>
    <div class="forms">
        <h2>Create subject annotation task</h2>
        <form enctype="multipart/form-data" action="{% url 'subjectannotation:create' project.id %}" method="post">
            <input type="submit" value="Create annotation task">
        </form>
    </div>
</body>


{% endblock %}