{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load filters %}

{% block content %}
<head>
    <title>Subject annotation task creation </title>
</head>
<body>
    <div class="buttons">
        <form action="{% url 'landingpage:landingpage' project.id %}">
            <input type="submit" value="Go back to project page" style="background-color: #c4862b; width:25%"/>
        </form>
    </div>
    <div class="forms">
        <h2>Create subject annotation task</h2>
        <form id="subject-form" enctype="multipart/form-data" action="{% url 'subjectannotation:create' project.id %}" method="post">
            <input type="submit" value="Create annotation task">
        </form>
    </div>
    <div id="subject-message" style="display: none;">
        <p>Preparing subject presence annotation! Please wait...</p>
    </div>
    <script>
        document.getElementById('subject-form').addEventListener('submit', function() {
            document.getElementById('subject-message').style.display = 'block';
        });
    </script>
</body>


{% endblock %}