.counter {
  width: 114px;
  height: 40px;
  display: flex;
  min-width: 114px;
  border-radius: 8px;
  background: var(--color-neutral-surface);
  box-sizing: border-box;
  box-shadow: 0 0 0 1px var(--color-neutral-border) inset;
  transition: box-shadow 80ms ease;

  &_disabled {
    opacity: 0.6;
    background-color: var(--color-neutral-background);
  }

  &__btn {
    min-width: 32px;
    min-height: 32px;
    margin: 4px;
    border-radius: 4px;
    background: var(--color-neutral-background);
    display: flex;
    color: var(--color-primary-surface-content);
    border: none;
    outline: none;
    align-items: center;
    justify-content: center;
    transition: all 80ms ease;
    box-shadow: 0 1px 0 var(--color-neutral-shadow), 0 0 0 1px var(--color-neutral-shadow), 0 5px 10px var(--color-neutral-shadow);

    &_disabled {
      box-shadow: none;
      background: none;
      pointer-events: none;
      color: var(--color-content-subtlest);
    }

    &:active {
      background: var(--color-neutral-background);
      box-shadow: 0 1px 0 var(--color-neutral-shadow), 0 0 0 1px var(--color-neutral-shadow), 0 5px 10px var(--color-neutral-shadow);
    }

    &:active,
    &:hover {
      color: var(--color-primary-surface-content);
    }
  }

  &__input {
    flex: 1;
    width: 100%;
    border: none;
    padding: 0;
    background: none;
    text-align: center;
    outline: none;
    font-size: 16px;
    line-height: 22px;
    color: var(--color-neutral-content);
  }
}