<!-- Editor CSS -->
{% for css in editor_css %}
  <link href="{{ css }}" rel="stylesheet">
{% endfor %}

<!-- Editor JS -->
{% for js in editor_js %}
  <script src="{{ js }}"></script>
{% endfor %}

<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/lsb.js"></script>

<!-- Editor -->
<div class="ui content">
  <div id="label-studio">
    <div class="ui loader active inline centered"></div>
  </div>
</div>

<script>
  window.onload = function () {
    let task = {{ task_ser | json | safe }};
    window.LSBI = LSB("label-studio", '{{ label_config_line | safe }}', task);
    window.LSBI.completionStore.addCompletion({ userGenerate: true })
  };
</script>
