.db-card {
  background: #fafafa;
  border-radius: 5px;
  padding: 1em 2em 1em 2em !important;
}

.hidden {
  display: none;
}

#import-tasks .error {
  white-space: pre-wrap;
  word-break: break-word;
  max-height: 50vh;
  overflow: auto;
  margin-bottom: 32px;
}

#import-tasks .center {
  text-align: center;
}

#import-tasks h1 {
  position: relative;
  margin-bottom: 32px;
  font-size: 24px;
  line-height: 40px;
  font-weight: 900 !important;
}

#import-tasks h1.fade {
  opacity: 0.3;
}

#import-tasks h1::before {
  content: "";
  background-image: url(/static/images/heartex_icon_opossum_green@2x.png);
  background-size: 100px;
  position: absolute;
  left: -132px;
  width: 100px;
  height: 100px;
}

/* Source switch */

.source-switch {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.source-switch > span {
  margin-right: 32px;
  font-weight: 800;
}

.source-switch .ui.buttons .button:not(:first-child) {
  margin-left: -1px;
}

.source-switch .ui.buttons .button {
  padding: 9px 18px;
}

/* Import files via dropzone */

#import-tasks {
  width: 560px;
  margin: 0 auto;
}

#import-tasks > header {
  position: relative;
  margin-bottom: 32px;
}

#import-tasks > header h1 {
  font-size: 24px;
  line-height: 40px;
  font-weight: 900 !important;
}

#import-tasks > header img {
  position: absolute;
  left: -132px;
  width: 100px;
}

#holder.dropzone {
  background: rgba(24, 144, 255, 0.05);
  border: 1px dashed rgba(24, 144, 255, 0.5);
  border-radius: 4px;
  padding: 32px;
  margin-bottom: 32px;
}

#holder.dropzone.hover {
  opacity: 0.7;
}

#holder.dropzone * {
  pointer-events: none;
}

#holder.dropzone .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #003C74;
  opacity: 0.5;
}

#holder.dropzone .content > *:not(:first-child) {
  margin-top: 32px;
}

#holder.dropzone .content header {
  font-size: 24px;
  line-height: 32px;
  font-weight: 800;
}

#holder.dropzone .content .icon {
  height: 100px;
}

#holder.dropzone .content dl {
  display: grid;
  grid-template: auto / auto auto;
  font-size: 12px;
  line-height: 20px;
  gap: 0 30px;
}


#holder.dropzone .content dl dd {
  font-weight: 900;
}

#holder.dropzone .content dl dt:last-of-type,
#holder.dropzone .content dl dd:last-of-type {
  margin-top: 20px;
}

/* Import by URL */

.ui.form > p.example {
  margin-top: 0;
  line-height: 30px;
  color: #797979;
}

/* Preview */

#import-tasks p {
  margin: 32px 0;
}

#import-tasks ul {
  display: flex;
  margin-top: 16px;
}

#import-tasks li {
  margin-right: 32px;
}

#import-tasks .ui.checkbox {
  display: block;
}

.formats {
  margin-bottom: 32px;
}

.formats > .checkbox {
  margin-right: 32px;
}

.formats label {
  cursor: pointer;
}

.stats {
  list-style: none;
  display: inline-flex;
  margin-bottom: 32px;
}

.stats > li:not(:first-child) {
  margin-left: 32px;
}

.stats .num {
  font-weight: 800;
}

table.preview {
  text-align: left;
  width: 100%;
  position: relative;
}

table.preview td,
table.preview th {
  border: none;
  padding: 0.4em 1.6em 0.4em 0;
}

/* fade out */
table.preview.fade::after {
  content: "";
  background: linear-gradient(0deg, white, transparent);
  width: 100%;
  display: block;
  position: absolute;
  bottom: 0;
  height: 30%;
  max-height: 100px;
  pointer-events: none;
}
