html {
    overflow: auto;
}

body {
    background: #fcfcfc;
    font-family: Rubik, sans-serif;
    color: #444 !important;
}

table {
    border-collapse: collapse;
}

table.responsive {

}
td,
th {
    padding: 0.4em 2em;
    border: 1px solid #ccc;
}

h1 {
    font-weight: normal !important;
}

h2 {
    font-size: 1.2em;
    font-weight: normal !important;
}

hotkey {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.1em 0.5em;
    margin: 0 0.2em;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
    background-color: #f7f7f7;
}
hotkey i {
    color: #777 !important;
}
.hotkey-helper {
    margin-bottom: 1.0em;
}
.hotkey-helper .keys {
    min-width: 15em;
    display: inline-block;
}
.hotkey-helper .description {
    margin-left: 1.5em;
    display: inline-block;
}

.max-width-wrapper {
    max-width: 1400px;
}

/* Disallow selection on page for Editor Ranker */
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.link {
    display: block;
    color: rgb(24, 144, 255);
    text-decoration: none;
    margin-bottom: 10px;
    margin-top: 10px;
}

.text-center {
    text-align: center;
}

.eye {
    color: rgb(24, 144, 255);
}

.trash {
    color: rgb(255, 13, 23);
}

.show-completion {
    cursor: pointer;
}

.remove-completion {
    cursor: pointer;
}

.remove-task {
    cursor: pointer;
}

.upper-right {
    position: absolute;
    top: 5px;
    right: 0;
}

.no-border {
    padding: 0;
    border: none;
    background: none;
}

a {
    text-decoration: none;
}

#header {
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 5px 20px 5px 40px;
    position: relative;
    box-shadow: 0 4px 3px -2px rgba(0, 0, 0, 0.0774);
    z-index: 1; /* drop the shadow over all other elements below */
    margin-bottom: 3em;
    height: 50px;
}

#logo {
    font-size: 1.5em;
    line-height: 40px;
    color: #273849;
    font-family: "Dosis", "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
    font-weight: 500;
    display: flex;
}

.img-logo {
    vertical-align: middle;
    margin-right: 5px;
    margin-top: 5px;
    width: 30px;
    height: 30px;
}

.img-text {
    font-size: 24px;
    margin-left: 0.25em
}

#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 30px;
    line-height: 40px;
    display: flex;
    align-items: center;
}

#nav a {
    color: #797979;
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
    margin-right: 2em;
    font-size: 14px;

    transition: border-bottom-color 0.25s ease-in-out;
    border-bottom: 3px rgba(74, 251, 130, 0) solid;
    padding: 7px 0.4em 4px;
}

#nav a:hover {
    transition: border-bottom-color 0.25s ease-in-out;
    border-bottom: 3px #2493FB solid;
}

#nav a.active {
    color: #2493FB;
    transition: border-bottom-color 0.25s ease-in-out;
    border-bottom: 3px #2493FB solid;
}

#nav .outside-links, #nav .outside-links:hover {
    border-bottom-color: rgba(0,0,0,0.0);
    padding-left: unset;
    padding-right: unset;
}
.outside-links {
    transition: opacity 0.25s ease-in-out !important;
    color: #444 !important;
    opacity: 0.7;
}
.outside-links:hover {
    transition: opacity 0.25s ease-in-out !important;
    opacity: 1.0;
}
.outside-links.first {
    margin-left: 3em;
}

#new-project-button:hover {
    background: #db2828 !important;
    color: white;
}

.btn {
    line-height: 1.5;
    position: relative;
    display: inline-block;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    background-image: none;
    cursor: pointer;
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    padding: 10px 25px;
    font-size: 14px;
    border-radius: 4px;
    color: rgba(0, 0, 0, 0.65);
    color: #fff;
    background-color: #1890ff;
    border-color: #1890ff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
    margin-right: 10px;
    padding-top: 7px;
}

.delim {
    color: #89ac00;
    margin-right: 1em;
    font-weight: bold;
}

.word-break {
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word !important;
}

div.task-buttons .button {
    margin: 10px
}

/* editor width */
#label-studio {
    width: 100%;
    max-width: 1440px;
    padding-left: 1em;
    padding-right: 1em;
    margin: 0 auto;
}

#label-studio div[class^="App_editor"],
div[class*="App_editor"] {
    width: 100% !important;
}


/* Import */


.upload-row-error {
    margin-top: 0.5%;
}

.upload-row-error .code {
    display: block;
    font-size: 85%;
}

.upload-row-error * {
    display: inline-block;
}

.help-button, .settings-button {
    padding: 0.80571429em 0.7em 0.80571429em !important;
}

.hover-button {
    cursor: pointer;
    opacity: 0.75 !important;
}
.hover-button:hover {
    opacity: 1.0 !important;
}

#holder {
    display: table;
    border: 1px dashed #a2a2a2;
    border-radius: 8px;
    width: 100%;
    height: 150px;
    transition: border 0.4s, color 0.4s;
    cursor: pointer;
}

#holder.hover, #holder:hover {
    border-color: rgb(24, 144, 255);
}

#holder .text {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: gray;
    transition: color 0.4s;
}

#holder .text i {
    opacity: 0.35;
    margin-bottom: 0.1em;
    transition: color 0.4s, opacity 0.4s;
}

#holder.hover .text {
    color: rgb(24, 144, 255);
}

#holder.hover .text i {
    color: rgb(24, 144, 255);
    opacity: 1;
}

.top-margin-none {
    margin-top: 0 !important;
}

.message a.no-go {
    text-decoration: none;
    border-bottom: 1px dashed #5994cb;
}

/* Import Finish */

/* semantic ui pretty */

.ui .segment {
    box-shadow: none !important;
}

.ui .button {
    font-weight: 400 !important;
    transition: background-color ease-in-out 0.25s, border ease-in-out 0.5s;
}
.ui .button.positive {
    background: rgb(24, 144, 255) !important;
    color: #fff !important;
    border-color: rgb(24, 144, 255) !important;
    transition: background-color ease-in-out 0.25s;
}
.ui .button.positive:hover {
    background: rgb(54, 162, 255) !important;
    transition: background-color ease-in-out 0.25s;
}
.ui .button.primary {
    background: rgb(24, 144, 255) !important;
    color: #fff !important;
    border-color: rgb(24, 144, 255) !important;
    transition: background-color ease-in-out 0.25s;
}
.ui .button.primary:hover {
    background: rgb(54, 162, 255) !important;
    transition: background-color ease-in-out 0.25s;
}
.ui .button {
    transition: 0.3s;
}
.ui .button:hover {
    transition: 0.3s;
}

.ui h3 {
    font-weight: 400;
}

.ui .accordion .title {
    font-size: 16px !important;
}

.ui .message {
    background: none !important;
    box-shadow: 0 0 0 1px rgba(34, 36, 38, .15) !important;
}

.ui .message .header {
    font-weight: normal !important;
}

.ui.message .content:first-of-type {
    margin-top: 0 !important;
}
.ui .message .content {
    margin-top: 0.7em;
}

.ui ul.list, .ui .list ol {
    list-style: none !important;
    margin: 1em 0 0 2em;
}

.ui ul.list li::before {
    content: "\2022";
    color: rgba(0, 0, 0, 0.4) !important;
}

.ui .label.basic {
    font-weight: normal;
}

.ui .x.icon {
    width: 2em;
    height: auto;
}

.ui .pagination.menu {
    box-shadow: none;
}

.ui.modal {
    box-shadow: none !important;
}
.ui.modal>.header {
    font-weight: normal !important;
    background: none;
}
.ui.modal>.actions {
    background: none !important;
    padding-top: 12px !important;
    padding-bottom: 6px !important;;
}
.ui.modal>.icon.close {
    color: #555;
}

.ui.modal h4:not(:first-child) {
    margin-top: 2.5em;
    margin-bottom: 1em;
}

.ui.modal .section {
    margin-left: 1em;
}
.ui.modal .section p {
    margin-top: 1em;
}
.ui.modal .section p:not(:last-child) {
    margin-bottom: 1em;
}

.ui.form label {
    font-weight: normal !important;
}

.ui.dimmer {
    background-color: rgba(0,0,0,0.7) !important;
}

.ui.list .item.error {
    color: #9f3a38;
    margin-left: 1em;
    font-size: 0.85em;
}

.ui .toast.error {
    background-color: rgba(255, 0, 0, 0.85) !important;
}

/* semantic ui pretty finish */

/* label config */

.editor-iframe {
    display: none;
    width: 100%;
    overflow: hidden !important;
    border: none;
}

pre {
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

/* label config finish */

.category .icon {
    color: #777;
}

.statistic .value small {
    font-size: 65%;
}
.statistic .sub-label {
    margin-top:2px;
    color: #555;
    font-size:90%
}

.sup-button {
    position: relative;
    top: 2px;
    cursor: pointer;
    font-size: 0.75em;
    color: rgb(24, 144, 255);
    transition: background-color ease-in-out 0.25s;
}
.sup-button.big {
    font-size: 1.25em !important;
}

.sup-button:hover {
    color: rgb(54, 162, 255);
    transition: background-color ease-in-out 0.25s;
}

.cap-first-letter:first-letter  {
    text-transform: capitalize;
}


@media only screen and (max-width: 940px) {
    #logo {
        font-size: 1.5em;
        line-height: 40px;
        color: #273849;
        font-family: "Dosis", "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
        font-weight: 500;
        display: inline-flex;
        margin-left: 10px;
    }
    .img-logo {
        margin-top: 0 !important;
    }

    .img-text {
        display: none;
    }

    #header {
        padding: 5px 3px 5px 5px;
    }

    #nav {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        right: 1px;
    }
}

@media screen and (max-width: 768px) {
    table.responsive tbody th,
    table.responsive tbody td {
        text-align: left;
        display: block;
        border: none;
    }
    table tr {
        border-top: 1px solid #ddd;
    }

    #logo {
        display: none;
    }

    #header {
        display: flex;
        justify-content: center;
        height: 80px;
    }

    #nav a {
        padding-top: 0;
        padding-bottom: 0;
        line-height: 25px;
        margin: 0 0.5em;
    }
    #nav a.outside-links.first {
        margin-left: 2em;
    }
}

@media screen and (max-width: 558px) {
    #nav a.outside-links.last {
        margin-right: 2em;
    }
}

.toast .content {
    max-width: 600px;
}
.toast pre {
    font-family: Rubik, sans-serif;
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap:  break-word !important;
}

.accordion-button {
    height: 28px;
    padding-top: 7px !important;
}

.accordion-content {
    margin-left: 25px;
    margin-top: -3px!important;
}

.invisible-borders td {
    border: none;
}