.github/                                    @HumanSignal/devops
deploy/                                     @HumanSignal/devops
Dockerfile*                                 @HumanSignal/devops
docker-compose*                             @HumanSignal/devops
docs/.npmignore                             @hlomzik @nick-skriabin
docs/package.json                           @hlomzik @nick-skriabin
docs/yarn.lock                              @hlomzik @nick-skriabin
web/libs/editor                             @hlomzik @nick-skriabin
web/tools                                   @HumanSignal/team-fit
web/libs/datamanager                        @HumanSignal/team-fit
web/design-tokens.json                      @HumanSignal/team-fit
web/libs/ui/**/tokens*                      @HumanSignal/team-fit
web/**/tailwind*                            @HumanSignal/team-fit
web/libs/editor/**/Audio*                   @HumanSignal/team-fit
web/libs/editor/**/Video*                   @HumanSignal/team-fit
web/libs/editor/**/TimeSeries*              @HumanSignal/team-fit
web/apps/labelstudio/src/pages/DataManager  @HumanSignal/team-fit
label_studio/data_manager                   @HumanSignal/team-fit
web/apps/playground                         @HumanSignal/team-fit
label_studio/**/migrations/*.py             @HumanSignal/migrations
