<% const tier = theme.tier || "all" %>
<% const isEnterpriseTheme = tier === "enterprise" %>

<footer class="Footer">
  <section class="FooterWrapper">
    <div class="FooterGrid">
      <div class="FooterSocialsLogo">
        <svg width="188" height="41" viewBox="0 0 188 41" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_346_5335)">
          <path opacity="0.25" d="M9.94937 31.0423V34.5626H31.1319V31.0423H34.6624V9.92061H31.1319V6.40033H9.94937V9.92061H6.41895V31.0423H9.94937Z" fill="#FFC27B"></path>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M11.5541 11.5209L7.70293 11.5209V29.4422H11.5541V40.9631H0V29.4422H3.85156V11.5209L0 11.5209V0H11.5541V11.5209ZM33.3786 11.5209L29.5273 11.5209V7.68062H11.5542V3.84031H29.5273V0H41.0814V11.5209L37.23 11.5209V29.4422H41.0814V40.9631H29.5273V37.1228H11.5542V33.2825H29.5273V29.4422H33.3786V11.5209Z" fill="#FFC27B"></path>
          </g>
          <path d="M61.2252 35.1778V22.0715H52.8643V35.1778H48.0811V5.39771H52.8643V17.7091H61.2252V5.39771H66.0084V35.1778H61.2252Z" fill="white"></path>
          <path d="M89.9244 25.2511C89.9244 25.613 89.8985 26.1429 89.8467 26.8409H74.8748C75.1341 28.3015 75.7239 29.426 76.6442 30.2144C77.5775 31.0029 78.7831 31.3971 80.2608 31.3971C82.257 31.3971 83.5857 30.6733 84.2468 29.2257H89.4189C88.8356 31.2679 87.7208 32.8383 86.0745 33.937C84.4412 35.0227 82.4385 35.5656 80.0664 35.5656C77.2016 35.5656 74.8359 34.6026 72.9693 32.6767C71.1157 30.7508 70.1888 28.2756 70.1888 25.2511C70.1888 22.2266 71.1157 19.7513 72.9693 17.8255C74.8359 15.8996 77.2016 14.9366 80.0664 14.9366C82.9311 14.9366 85.2903 15.8996 87.144 17.8255C88.9976 19.7513 89.9244 22.2266 89.9244 25.2511ZM83.469 20.249C82.5876 19.4864 81.4534 19.1051 80.0664 19.1051C78.6794 19.1051 77.5386 19.4864 76.6442 20.249C75.7498 20.9986 75.173 22.0715 74.9137 23.4674H85.1996C84.9403 22.0715 84.3635 20.9986 83.469 20.249Z" fill="white"></path>
          <path d="M106.16 35.1778V32.2308C104.942 34.454 102.829 35.5656 99.8214 35.5656C98.6288 35.5656 97.54 35.3781 96.5548 35.0033C95.5826 34.6285 94.766 34.0016 94.1049 33.1227C93.4568 32.2308 93.1327 31.1451 93.1327 29.8655C93.1327 28.8444 93.3142 27.959 93.6771 27.2093C94.053 26.4596 94.5456 25.878 95.1549 25.4644C95.7641 25.0508 96.4576 24.7018 97.2354 24.4174C98.0131 24.1201 98.8038 23.9133 99.6075 23.797C100.411 23.6807 101.202 23.5514 101.98 23.4092C102.757 23.267 103.451 23.1313 104.06 23.0021C104.669 22.8599 105.156 22.6337 105.518 22.3235C105.894 22.0133 106.082 21.6255 106.082 21.1602C106.082 20.4105 105.732 19.816 105.032 19.3765C104.345 18.9241 103.47 18.6979 102.407 18.6979C101.28 18.6979 100.379 18.9887 99.7047 19.5704C99.0437 20.152 98.7131 20.9857 98.7131 22.0715H93.7355C93.7355 20.8306 93.9753 19.7384 94.4549 18.7949C94.9345 17.8513 95.5891 17.1081 96.4187 16.5652C97.2483 16.0094 98.1622 15.6023 99.1603 15.3438C100.171 15.0724 101.254 14.9366 102.407 14.9366C103.548 14.9366 104.605 15.0594 105.577 15.305C106.562 15.5377 107.456 15.8996 108.26 16.3907C109.064 16.8819 109.699 17.554 110.166 18.4071C110.632 19.2473 110.866 20.2296 110.866 21.3541V35.1778H106.16ZM98.0326 29.5359C98.0326 30.208 98.2853 30.725 98.7909 31.0869C99.3094 31.4359 99.9834 31.6104 100.813 31.6104C102.291 31.6104 103.548 31.2032 104.585 30.3889C105.635 29.5746 106.16 28.4437 106.16 26.996V26.0848C105.616 26.3174 104.935 26.5242 104.119 26.7052C103.302 26.8732 102.563 27.0219 101.902 27.1511C101.241 27.2675 100.599 27.4161 99.977 27.5971C99.3677 27.778 98.8881 28.0301 98.5381 28.3532C98.2011 28.6634 98.0326 29.0576 98.0326 29.5359Z" fill="white"></path>
          <path d="M120.801 25.0572V35.1778H116.018V15.3244H120.801V18.5428C122.279 16.1387 124.509 14.9366 127.49 14.9366C127.996 14.9366 128.326 14.9625 128.482 15.0142V20.2102C127.886 20.0034 127.198 19.9 126.421 19.9C124.645 19.9 123.264 20.3459 122.279 21.2378C121.294 22.1296 120.801 23.4028 120.801 25.0572Z" fill="white"></path>
          <path d="M138.068 28.392C138.068 29.3614 138.307 30.0723 138.787 30.5247C139.267 30.977 140.019 31.2032 141.043 31.2032C141.82 31.2032 142.553 31.0869 143.24 30.8543V35.1002C142.281 35.4104 141.231 35.5656 140.09 35.5656C139.053 35.5656 138.139 35.4492 137.348 35.2166C136.558 34.9968 135.845 34.6349 135.209 34.1308C134.587 33.6267 134.108 32.9223 133.771 32.0175C133.446 31.0998 133.284 29.9947 133.284 28.7022V19.4928H130.096V15.3244H133.284V9.37226H138.068V15.3244H143.24V19.4928H138.068V28.392Z" fill="white"></path>
          <path d="M165.756 25.2511C165.756 25.613 165.73 26.1429 165.678 26.8409H150.706C150.965 28.3015 151.555 29.426 152.476 30.2144C153.409 31.0029 154.614 31.3971 156.092 31.3971C158.088 31.3971 159.417 30.6733 160.078 29.2257H165.25C164.667 31.2679 163.552 32.8383 161.906 33.937C160.273 35.0227 158.27 35.5656 155.898 35.5656C153.033 35.5656 150.667 34.6026 148.801 32.6767C146.947 30.7508 146.02 28.2756 146.02 25.2511C146.02 22.2266 146.947 19.7513 148.801 17.8255C150.667 15.8996 153.033 14.9366 155.898 14.9366C158.763 14.9366 161.122 15.8996 162.975 17.8255C164.829 19.7513 165.756 22.2266 165.756 25.2511ZM159.3 20.249C158.419 19.4864 157.285 19.1051 155.898 19.1051C154.511 19.1051 153.37 19.4864 152.476 20.249C151.581 20.9986 151.004 22.0715 150.745 23.4674H161.031C160.772 22.0715 160.195 20.9986 159.3 20.249Z" fill="white"></path>
          <path d="M181.914 35.1778L176.897 28.4307L172.367 35.1778H166.786L174.311 24.9409L167.175 15.3244H172.756L177.344 21.4704L181.525 15.3244H187.086L179.969 25.0572L187.494 35.1778H181.914Z" fill="white"></path>
          <defs>
          <clippath id="clip0_346_5335">
          <rect width="41.0813" height="40.9633" fill="white"></rect>
          </clippath>
          </defs>
        </svg>
        <nav class="SocialIcons FooterSocials" arial-label="Social media links">
          <ul>
            <li>
                <a href="https://slack.labelstudio.heartex.com/?source=site" aria-label="Slack" target="_blank" rel="noopener noreferrer">
                  <svg viewBox="0 0 24 24" astro-icon="mdi:slack"><path fill="currentColor" d="M6 15a2 2 0 0 1-2 2 2 2 0 0 1-2-2 2 2 0 0 1 2-2h2v2m1 0a2 2 0 0 1 2-2 2 2 0 0 1 2 2v5a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-5m2-8a2 2 0 0 1-2-2 2 2 0 0 1 2-2 2 2 0 0 1 2 2v2H9m0 1a2 2 0 0 1 2 2 2 2 0 0 1-2 2H4a2 2 0 0 1-2-2 2 2 0 0 1 2-2h5m8 2a2 2 0 0 1 2-2 2 2 0 0 1 2 2 2 2 0 0 1-2 2h-2v-2m-1 0a2 2 0 0 1-2 2 2 2 0 0 1-2-2V5a2 2 0 0 1 2-2 2 2 0 0 1 2 2v5m-2 8a2 2 0 0 1 2 2 2 2 0 0 1-2 2 2 2 0 0 1-2-2v-2h2m0-1a2 2 0 0 1-2-2 2 2 0 0 1 2-2h5a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-5z"></path></svg>
                </a>
              </li>
            <li>
                <a href="https://github.com/heartexlabs/" aria-label="GitHub" target="_blank" rel="noopener noreferrer">
                  <svg viewBox="0 0 24 24" astro-icon="mdi:github"><path fill="currentColor" d="M12 2A10 10 0 0 0 2 12c0 4.42 2.87 8.17 6.84 9.5.5.08.66-.23.66-.5v-1.69c-2.77.6-3.36-1.34-3.36-1.34-.46-1.16-1.11-1.47-1.11-1.47-.91-.62.07-.6.07-.6 1 .07 1.53 1.03 1.53 1.03.87 1.52 2.34 1.07 2.91.83.09-.65.35-1.09.63-1.34-2.22-.25-4.55-1.11-4.55-4.92 0-1.11.38-2 1.03-2.71-.1-.25-.45-1.29.1-2.64 0 0 .84-.27 2.75 1.02.79-.22 1.65-.33 2.5-.33.85 0 1.71.11 2.5.33 1.91-1.29 2.75-1.02 2.75-1.02.55 1.35.2 2.39.1 2.64.65.71 1.03 1.6 1.03 2.71 0 3.82-2.34 4.66-4.57 4.91.36.31.69.92.69 1.85V21c0 .27.16.59.67.5C19.14 20.16 22 16.42 22 12A10 10 0 0 0 12 2z"></path></svg>
                </a>
              </li>
            <li>
                <a href="https://twitter.com/labelstudiohq" aria-label="Twitter" target="_blank" rel="noopener noreferrer">
                  <svg viewBox="0 0 24 24" astro-icon="mdi:twitter"><path fill="currentColor" d="M22.46 6c-.77.35-1.6.58-2.46.69.88-.53 1.56-1.37 1.88-2.38-.83.5-1.75.85-2.72 1.05C18.37 4.5 17.26 4 16 4c-2.35 0-4.27 1.92-4.27 4.29 0 .34.04.67.11.98C8.28 9.09 5.11 7.38 3 4.79c-.37.63-.58 1.37-.58 2.15 0 1.49.75 2.81 1.91 3.56-.71 0-1.37-.2-1.95-.5v.03c0 2.08 1.48 3.82 3.44 4.21a4.22 4.22 0 0 1-1.93.07 4.28 4.28 0 0 0 4 2.98 8.521 8.521 0 0 1-5.33 1.84c-.34 0-.68-.02-1.02-.06C3.44 20.29 5.7 21 8.12 21 16 21 20.33 14.46 20.33 8.79c0-.19 0-.37-.01-.56.84-.6 1.56-1.36 2.14-2.23z"></path></svg>
                </a>
              </li>
            <li>
                <a href="https://www.linkedin.com/company/heartex/" aria-label="LinkedIn" target="_blank" rel="noopener noreferrer">
                  <svg viewBox="0 0 24 24" astro-icon="bx:bxl-linkedin"><circle cx="4.983" cy="5.009" r="2.188" fill="currentColor"></circle><path fill="currentColor" d="M9.237 8.855v12.139h3.769v-6.003c0-1.584.298-3.118 2.262-3.118 1.937 0 1.961 1.811 1.961 3.218v5.904H21v-6.657c0-3.27-.704-5.783-4.526-5.783-1.835 0-3.065 1.007-3.568 1.96h-.051v-1.66H9.237zm-6.142 0H6.87v12.139H3.095z"></path></svg>
                </a>
              </li>
            <li>
                <a href="https://www.youtube.com/channel/UCbloiVAlCYzBatZXk-b5rFQ" aria-label="Youtube" target="_blank" rel="noopener noreferrer">
                  <svg viewBox="0 0 24 24" astro-icon="mdi:youtube"><path fill="currentColor" d="m10 15 5.19-3L10 9v6m11.56-7.83c.13.47.22 1.1.28 1.9.07.8.1 1.49.1 2.09L22 12c0 2.19-.16 3.8-.44 4.83-.25.9-.83 1.48-1.73 1.73-.47.13-1.33.22-2.65.28-1.3.07-2.49.1-3.59.1L12 19c-4.19 0-6.8-.16-7.83-.44-.9-.25-1.48-.83-1.73-1.73-.13-.47-.22-1.1-.28-1.9-.07-.8-.1-1.49-.1-2.09L2 12c0-2.19.16-3.8.44-4.83.25-.9.83-1.48 1.73-1.73.47-.13 1.33-.22 2.65-.28 1.3-.07 2.49-.1 3.59-.1L12 5c4.19 0 6.8.16 7.83.44.9.25 1.48.83 1.73 1.73z"></path></svg>
                </a>
              </li>
          </ul>
        </nav>
      </div>
      <div class="FooterMenus">
        <nav class="FooterNav" aria-label="Footer navigation">
          <% if(isEnterpriseTheme) { %>
          <div>
            <h3 class="Text Eyebrow FooterNavHeading">Products</h3>
            <ul>
              <li>
                <a href="https://heartex.com/product">Enterprise</a>
              </li>
              <li>
                <a href="https://labelstud.io/">Community Edition</a>
              </li>
              <li>
                <a href="https://app.heartex.com/user/trial">Start Free Trial</a>
              </li>
              <li>
                <a href="https://heartex.com/get-demo">Schedule Demo</a>
              </li>
              <li>
                <a href="https://heartex.com/pricing">Pricing</a>
              </li>
            </ul>
          </div>
          <div>
            <h3 class="Text Eyebrow FooterNavHeading">Resources</h3>
            <ul>
              <li>
                <a href="https://heartex.com/resources/data-labeling-guide-download">Guide</a>
              </li>
              <li>
                <a href="https://docs.heartex.com">Documentation</a>
              </li>
              <li>
                <a href="https://heartex.com/changelog">What’s New</a>
              </li>
            </ul>
          </div>
          <div>
            <h3 class="Text Eyebrow FooterNavHeading">Company</h3>
            <ul>
              <li>
                <a href="https://heartex.com/blog">Blog</a>
              </li>
              <li>
                <a href="https://heartex.com/company/about-us">About Us</a>
              </li>
              <li>
                <a href="https://heartex.com/careers">Careers</a>
              </li>
              <li>
                <a href="https://heartex.atlassian.net/servicedesk/customer/user/login?destination=portals">Contact Us</a>
              </li>
            </ul>
          </div>
          <div>
            <h3 class="Text Eyebrow FooterNavHeading">Open Source</h3>
            <ul>
              <li>
                <a href="https://labelstud.io/">Install</a>
              </li>
              <li>
                <a href="http://slack.labelstud.io.s3-website-us-east-1.amazonaws.com/?source=heartex-docs-footer">Community</a>
              </li>
              <li>
                <a href="https://github.com/heartexlabs/label-studio">GitHub</a>
              </li>
            </ul>
          </div>
          
          <% } else { %>
            <div>
              <h3 class="Text Eyebrow FooterNavHeading">Products</h3>
              <ul>
                <li>
                  <a href="https://labelstud.io/">Community Edition</a>
                </li>
                <li>
                  <a href="https://heartex.com/product">Enterprise</a>
                </li>
                <li>
                  <a href="https://heartex.com/pricing">Pricing</a>
                </li>
              </ul>
            </div>
            <div>
              <h3 class="Text Eyebrow FooterNavHeading">Community</h3>
              <ul>
                <li>
                  <a href="/blog">Blog</a>
                </li>
                <li>
                  <a href="https://labelstud.io/community/">Newsletter</a>
                </li>
                <li>
                  <a href="/?source=site">Slack</a>
                </li>
                <li>
                  <a href="https://labelstud.io/videos">Webinars</a>
                </li>
              </ul>
            </div>
            <div>
              <h3 class="Text Eyebrow FooterNavHeading">Documentation</h3>
              <ul>
                <li>
                  <a href="/guide">Quickstart</a>
                </li>
                <li>
                  <a href="/api">API Reference</a>
                </li>
                <li>
                  <a href="https://labelstud.io/sdk">SDK Reference</a>
                </li>
                <li>
                  <a href="/tags">Customizable Tags</a>
                </li>
                <li>
                  <a href="/templates">Labeling Templates</a>
                </li>
              </ul>
            </div>
            <div>
              <h3 class="Text Eyebrow FooterNavHeading">Company</h3>
              <ul>
                <li>
                  <a href="https://heartex.com/company/about-us">About Us</a>
                </li>
                <li>
                  <a href="https://heartex.com/careers">Careers</a>
                </li>
                <li>
                  <a href="mailto:hi@heartex.com">Contact</a>
                </li>
                <li>
                  <a href="https://heartex.com/company/privacy-policy">Privacy</a>
                </li>
              </ul>
            </div>
          <% } %>
        </nav>
        <% if(!isEnterpriseTheme) { %>
          <div class="FooterCTA">
            <a class="Button Secondary FooterCTAButton" href="/guide/get_started.html#Quick-start"><span class="Heading XXSmall ButtonText astro-EXBSDJPD">Quick Start</span></a>
            <svg class="FooterCTASquares" width="201" height="201" viewBox="0 0 201 201" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
              <rect x="0.504975" y="100.505" width="49.9901" height="49.9901" stroke="#505263" stroke-width="1.00995"></rect>
              <rect x="50.505" y="150.505" width="49.9901" height="49.9901" stroke="#505263" stroke-width="1.00995"></rect>
              <rect x="100.505" y="100.505" width="49.9901" height="49.9901" stroke="#505263" stroke-width="1.00995"></rect>
              <rect x="100.505" y="50.505" width="49.9901" height="49.9901" stroke="#505263" stroke-width="1.00995"></rect>
              <rect x="150.505" y="0.504975" width="49.9901" height="49.9901" stroke="#505263" stroke-width="1.00995"></rect>
              <rect x="150.505" y="50.505" width="49.9901" height="49.9901" stroke="#505263" stroke-width="1.00995"></rect>
              <rect x="50.505" y="50.505" width="49.9901" height="49.9901" stroke="#505263" stroke-width="1.00995"></rect>
            </svg>
          </div>
        <% } %>
        </div>
      </div>
      <div class="FooterGridCopyright">
        <p class="Text Small FooterCopyright">© <script>document.write(new Date().getFullYear())</script> Heartex, Inc.</p>
        <a href="https://heartex.com/company/privacy-policy" class="Text Small">Privacy Policy</a>
      </div>
  </section>
</footer>

