# Ignore everything:
**

# Except:
!deploy/docker-entrypoint.d/**
!deploy/docker-entrypoint.sh
!deploy/heroku_run.sh
!deploy/uwsgi.ini
!deploy/default.conf
!label_studio/**
label_studio/frontend
!web/**
!README.md
!licenses/**
!LICENSE
!pyproject.toml
!poetry.lock
