node_modules
npm-debug.log
Dockerfile
.dockerignore
build
dist
docs
tests
public
label_studio.egg-info
.github
.vscode
.editorconfig
.gitignore
*.md
*.yml
.python-version

# shell scripts
update_pypi.sh
