# Ignore everything:
**

# Except:
!deploy/docker-entrypoint.d
!deploy/docker-entrypoint.sh
!deploy/prebuild_wo_frontend.sh
!deploy/requirements.txt
!label_studio
!setup.py
!README.md

# but ignore:
.DS_Store
label_studio/frontend

# except
!label_studio/frontend/dist
