node_modules
*.lock
*.pyc
*.ipynb
__pycache__

# docs
__generated__
\#$
data/
etc/
/src/
yarn-error.log

# mobile/builds
db/
logfile
env/
venv/
.venv
.vscode
.autoenv
# web/static

deploy/license.txt
deploy/logs/
deploy/redis-data/
deploy/dockerfiles/postgres-data

label_studio/core/media
label_studio/core/downloads
label_studio/core/export

label_studio/core/static_build
label_studio/core/version_.py
label_studio/core/core
label_studio/tests/test_data/tasks_and_annotations.json

archive

*.rtl.css
*.rtl.min.css
*.idea/*
.vscode/*
pyrightconfig.json
tags
tags.temp
mydatabase
label_studio.sqlite3
*.egg-info
tmp
.DS_Store
*.sqlite3
