*~
__pycache__/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.github
backend
docs
script

# Testing
coverage/

# Examples of local env
src/examples

# XML configs
build/static/media/config.*.xml

# Dependency directory
node_modules/

# Backend
backend/env3/
backend/__pycache__

# IDEA
.idea
*.iml

# VSCODE
.vscode/

# Window
Thumbs.db
Desktop.ini

# MAC
.DS_Store
