version: "3"

services: 
  label-studio:
    container_name: label-studio
    build: .
    working_dir: /label-studio
    volumes:
      - ./my_project:/label-studio/my_project
    command: "label-studio start my_project ${INIT_COMMAND} --host 0.0.0.0"
    ports:
      - "8080:8080"
    restart: always
