version: "3.3"

services:
  nginx:
    image: nginx:1.21
    ports:
      - "8080:80"
    depends_on:
      - app
    environment:
      - LABEL_STUDIO_HOST=${LABEL_STUDIO_HOST:-}
      - NGINX_FILE=${NGINX_FILE:-default.conf}
    volumes:
      # keep in sync with deploy/docker-entrypoint.d/30-copy-static-data.sh
      - source: static
        target: /label-studio/label_studio
        type: volume
        volume:
          nocopy: true
      - ./mydata:/label-studio/data:rw
      - ./deploy/nginx/${NGINX_FILE:-default.conf}:/etc/nginx/templates/${NGINX_FILE:-default.conf}.template
      - ./deploy/nginx/scripts:/docker-entrypoint.d/label-studio
    command: nginx -g "daemon off;"

  app:
    stdin_open: true
    tty: true
    build: .
    image: heartexlabs/label-studio:latest
    expose:
      - "8080"
    depends_on:
      - db
    environment:
      - DJANGO_DB=default
      - POSTGRE_NAME=postgres
      - POSTGRE_USER=postgres
      - POSTGRE_PASSWORD=
      - POSTGRE_PORT=5432
      - POSTGRE_HOST=db
      - LABEL_STUDIO_HOST=${LABEL_STUDIO_HOST:-}
      - LABEL_STUDIO_COPY_STATIC_DATA=true
    volumes:
      - ./mydata:/label-studio/data:rw
      # keep in sync with deploy/docker-entrypoint.d/30-copy-static-data.sh
      - source: static
        target: /label-studio/static_volume
        type: volume
        volume:
          nocopy: true

  db:
    image: postgres:11.5
    hostname: db
    restart: always
    environment:
      - POSTGRES_HOST_AUTH_METHOD=trust
    volumes:
      - ${POSTGRES_DATA_DIR:-./postgres-data}:/var/lib/postgresql/data

volumes:
  static: {}
