include deploy/requirements.txt
include label_studio/core/settings/*.txt
include label_studio/core/utils/schema/*.json
recursive-include label_studio/annotation_templates/* *.yml
recursive-include label_studio/core/static *
include label_studio/core/templatetags/*.py
