include deploy/requirements.txt

# react LSF / react-app with dm
recursive-include label_studio_withoutsignin/frontend/dist/lsf *
include label_studio_withoutsignin/frontend/dist/react-app/*
recursive-include label_studio_withoutsignin/frontend/dist/dm/ *

# html template files
recursive-include label_studio_withoutsignin *.html

# annotation templates
recursive-include label_studio_withoutsignin/annotation_templates *

# core
recursive-include label_studio_withoutsignin/core/static *
recursive-include label_studio_withoutsignin/core/static_build *
include label_studio_withoutsignin/core/utils/schema/*.json
include label_studio_withoutsignin/core/templatetags/*.py
include label_studio_withoutsignin/core/version_.py

# io storages
recursive-include label_studio_withoutsignin/io_storages *.yml

# tests
recursive-include label_studio_withoutsignin/tests *.sh
recursive-include label_studio_withoutsignin/tests/loadtests *.txt
recursive-include label_studio_withoutsignin/tests/test_data *.yml
recursive-include label_studio_withoutsignin/tests/test_suites/samples *
recursive-include label_studio_withoutsignin/tests/test_suites *.yml

include label_studio_withoutsignin/pytest.ini
