pip>=20.2.3
appdirs==1.4.3
attrs>=19.1.0
blis==0.4.1
certifi==2019.11.28
chardet==3.0.4
click~=7.0
cymem==2.0.3
Flask==1.1.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
lxml>=4.2.5
MarkupSafe==1.1.1
mixpanel==4.4.0
numpy>=1.17.4
python-dateutil==2.8.1
pytz==2019.3
requests>=2.22.0
six>=1.13.0
srsly>=0.2.0
tqdm>=4.40.2
urllib3==1.25.7
wasabi==0.4.2
Werkzeug==0.16.0
ordered-set==4.0.2
orjson>=2.0.11
rarfile==3.1
flask_api>=2.0
pandas>=0.24.0
jsonschema>=3.2.0
xmljson==0.2.0
rq>=1.0
boto3>=1.12.32
google-cloud-storage==1.28.1
flask_wtf==0.14.3
label-studio-converter>=0.0.22
htmlmin==0.1.12
gevent>=20.6.2
ujson==3.0.0
Colorama==0.4.4
boxing==0.1.4
pyyaml>=5.3.1
