.empty-state-default
  maxWidth: 680px
  background #FAFAFA
  border 1px solid rgba(137, 128, 152, 0.16)
  padding 40px 25px
  font: 16px Roboto;
  border-radius 8px
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

  &__icon
    margin-bottom: 10px

  &__action
    margin-bottom: 25px

  &__title
    font-size: 22px;
    font-weight: meidum;
    color: #000
    margin-bottom: 20px

  &__description
    font-size: 1rem
    color: #1f1f1f
    margin-bottom: 20px
    text-align: center
    line-height: 1.5em

  &__footer
    font-size: .75rem
    color: #434343
    text-align: center
    line-height: 1.5em

  &__footer a
    color #176CEB
