.empty-state-default
  maxWidth: 680px
  background var(--sand_100)
  border 1px solid var(--sand_300)
  padding 40px 25px
  border-radius 8px
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

  &__icon
    margin-bottom: 10px

  &__action
    margin-bottom: 25px

  &__title
    font-size: 22px;
    font-weight: meidum;
    color: var(--sand_900);
    margin-bottom: 20px

  &__description
    font-size: 1rem
    color: var(--sand_700)
    margin-bottom: 20px
    text-align: center
    line-height: 1.5em

  &__footer
    font-size: .825rem
    color: var(--sand_700)
    text-align: center
    line-height: 1.5em

  &__footer a
    color var(--primary_link)
