{% extends 'base.html' %}
{% block head %}
<script src="static/js/polyfill.min.js"></script>
<script src="static/js/vue.js"></script>
<script src="static/js/components/vue-tippy.min.js"></script>
<script src="static/semantic/semantic-ui-vue.min.js"></script>

<link rel="stylesheet" href="static/css/import-new.css">
{% endblock %}

{% block body %}

{% include 'includes/import_storages.html' %}
{% include 'includes/import_files.html' %}
{% raw %}

  <!-- Spinner while vue loading -->
  <div id="vue_loader" class="ui large text loader loading active">Loading ...</div>

  <!-- Vue app -->
  <div class="ui" id="import-tasks" :class="{ hidden: !vueLoaded }">
    <div v-if="preview && !errors.length">
      <h1>Files loaded</h1>
      <p>You can import them to the task manager.</p>
      <p><button class="ui primary button" @click="apply">Import to Data Manager</button></p>
      <ul class="stats" v-if="stats">
        <li><span class="num">{{stats.total_completions}}</span> items loaded</li>
        <li><span class="num">{{stats.total_predictions}}</span> completions</li>
        <li><span class="num">{{stats.total_tasks}}</span> predictions</li>
      </ul>
      <table class="preview">
        <thead>
          <tr>
            <th v-for="_, title in preview[0]">{{title}}</th>
          </tr>
        </thead>
        <tr v-for="row in preview">
          <td v-for="value in row">{{value}}</td>
        </tr>
      </table>
    </div>

    <div v-if="loading">
      <h1 class="fade">Import data</h1>
      <p>Loading...</p>
    </div>

    <div v-if="errors.length">
      <h1>Errors</h1>
      <div class="error" v-for="error in errors">{{error}}</div>
      <p class="center">
        <button class="ui primary button" @click="reset">Try another input</button>
      </p>
    </div>

    <div :class="{ hidden: loading || preview }">
      <h1>Import data</h1>

      <div class="source-switch">
        <span>Source</span>
        <div class="ui buttons">
          <button
            v-for="title, name in sources"
            class="ui basic button"
            :class="{ primary: source === name, ['state-' + name]: true }"
            @click="source=name"
          >{{title}}</button>
        </div>
      </div>

      <div class="ui form tab-files" v-if="source === 'files'" ref="files">
        <import-files @start="start" @finish="finish" @error="error"></import-files>
      </div>

      <div class="ui form tab-url" v-if="source === 'url'" ref="url">
        <h2>By URL</h2>
      </div>

      <div class="ui form tab-cloud" v-if="source === 'cloud'" ref="cloud">
        <cloud-storages @finish="finish"></cloud-storages>
      </div>
    </div>
  </div>

  <script>
    Vue.use(SemanticUIVue);
    Vue.use(VueTippy);

    var app = new Vue({
      el: '#import-tasks',
      components: ["cloud-storages"],

      data: function () {

        return {
          id: null,
          errors: [],
          loading: false,
          preview: null,
          vueLoaded: false, 
          source: 'files',
          sources: {'files': 'Files', 'url': 'URL', 'cloud': 'Cloud'},
          stats: null,
        };
      },

      methods: {
        start: function() {
          this.loading = true;
        },

        finish: function(id) {
          this.id = id;
          $.ajax({
            url: "api/project/import/" + id,
            processData: false,
            contentType: false
          })
          .fail((res) => {
            let text = res.responseText;
            if (res.responseJSON && res.responseJSON.length) {
              text = res.responseJSON.join("\n\n");
            }
            const message = res.status + " " + res.statusText + "\n" + text;
            const error = new Error(message);
            error.code = res.status;
            self.$emit('error', error);
          })
          .done(res => {
            this.preview = res.task_preview;
            this.stats = {
              total_completions: res.total_completions,
              total_predictions: res.total_predictions,
              total_tasks: res.total_tasks,
            };
            this.loading = false;
          })
        },

        error: function(error) {
          this.loading = false;
          this.errors.push(error);
        },

        reset() {
          this.loading = false;
          this.errors = [];
          this.preview = null;
        },

        apply() {
          this.loading = true;
          $.ajax({
            url: "api/project/import/" + this.id + "/apply",
            method: "POST",
            processData: false,
            contentType: false
          })
          .done(() => {
            window.location.href = "/tasks";
            // this.loading = false;
            // this.preview = null;
          });
        }
      },

      watch: {

      },

      // vue mounting of page
      mounted: function () {
        this.vueLoaded = true;

        $('#vue_loader').hide();
        console.log('Vue mounting success');
      }
    });
  </script>

{% endraw %}
{% endblock %}
