{% extends 'base.html' %}
{% block head %}
<script src="static/js/polyfill.min.js"></script>
<script src="static/js/vue.js"></script>
<script src="static/js/components/vue-tippy.min.js"></script>
<script src="static/semantic/semantic-ui-vue.min.js"></script>

<link rel="stylesheet" href="static/css/import-new.css">
{% endblock %}

{% block body %}

{% include 'includes/import_storages.html' %}
{% include 'includes/import_files.html' %}
{% raw %}

  <!-- Spinner while vue loading -->
  <div id="vue_loader" class="ui large text loader loading active">Loading ...</div>

  <!-- Vue app -->
  <div class="ui" id="import-tasks" :class="{ hidden: !vueLoaded }">
    <div v-if="preview && !errors.length && !loading">
      <h1>Files loaded</h1>
      <p>You can import them to the task manager.</p>
      <div v-if="formats.length > 1" ref="formats" class="formats" :class="{ last: selected_formats.length < 2 }">
        <div>You have files of different formats, that might be a problem; choose the correct ones</div>
        <ul>
          <li class="ui checkbox" v-for="format in formats">
            <input type="checkbox" :name="format" :id="format" @change="update_formats" checked />
            <label :for="format">{{format}}</label>
          </li>
        </ul>
      </div>
      <p class="ui checkbox" v-if="files_as_tasks_list">
        <input type="checkbox" id="files_type" @change="toggle_type" ref="files_type" />
        <label for="files_type">Treat this file not as plain file with data, but as tasks list</label>
      </p>
      <p>
        <button class="ui grey button" @click="reset">Cancel</button>
        <button class="ui primary button" @click="apply">Import</button>
      </p>
      <ul class="stats" v-if="stats">
        <li><span class="num">{{stats.total_tasks}}</span> items loaded</li>
        <li><span class="num">{{stats.total_completions}}</span> completions</li>
        <li><span class="num">{{stats.total_predictions}}</span> predictions</li>
      </ul>
      <table class="preview" :class="{ fade: stats && preview.length < stats.total_tasks}">
        <thead v-if="Object.keys(preview[0]).length > 1">
          <tr>
            <th v-for="_, title in preview[0]">{{title}}</th>
          </tr>
        </thead>
        <tr v-for="row in preview">
          <td v-for="value in row">{{get_short_text(value)}}</td>
        </tr>
      </table>
    </div>

    <div v-if="loading">
      <h1 class="fade">Import data</h1>
      <div class="loading">
        <p>Loading files...</p>
        <div class="spinner">
          <img src="static/images/opossum_looking.png" width="60px">
        </div>
      </div>
    </div>

    <div v-if="errors.length">
      <h1>Errors</h1>
      <div class="error" v-for="error in errors">{{error}}</div>
      <p class="center">
        <button class="ui primary button" @click="reset">Try another input</button>
      </p>
    </div>

    <div :class="{ hidden: loading || preview || errors.length }">
      <h1>Import data</h1>

      <div class="source-switch">
        <span>Source</span>
        <div class="ui buttons">
          <button
            v-for="title, name in sources"
            class="ui basic button"
            :class="{ primary: source === name, ['state-' + name]: true }"
            @click="source=name"
          >{{title}}</button>
        </div>
      </div>

      <div class="ui form tab-files" v-if="source === 'files'" ref="files">
        <import-files @start="start" @finish="finish" @error="error"></import-files>
      </div>

      <div class="ui form tab-url" v-if="source === 'url'" ref="url">
        <div class="ui fluid action input">
          <input type="text" ref="url" placeholder="Dataset URL">
          <button class="ui primary button" @click="url">Load</button>
        </div>
        <p class="example">
          You can drop in the link to
          <a href="https://labelstud.io/guide/tasks.html" target="_blank">tasks list in our format</a>
          <br/>
          or you can point out to some dataset with links to assets and other meta info in csv
        </p>
      </div>

      <div class="ui form tab-cloud" v-if="source === 'cloud'" ref="cloud">
        <cloud-storages @finish="finish"></cloud-storages>
      </div>
    </div>
  </div>

  <script>
    Vue.use(SemanticUIVue);
    Vue.use(VueTippy);

    var app = new Vue({
      el: '#import-tasks',
      components: ["cloud-storages"],

      data: function () {

        return {
          id: null,
          errors: [],
          loading: false,
          files_as_tasks_list: {selected: false, type: null},
          formats: [],
          preview: null,
          vueLoaded: false, 
          selectedFormats: [],
          source: 'files',
          sources: {'files': 'Files', 'url': 'URL', 'cloud': 'Cloud'},
          stats: null,
        };
      },

      methods: {
        get_short_text: function(text) {
          const max_len = 40;
          text = String(text);
          return (text.length <= max_len ? text: ('...' + text.slice(text.length-max_len, text.length)));
        },

        start: function() {
          this.loading = true;
        },

        loadPreview: function(params) {
          $.ajax(params)
          .fail((res) => {
            let text = res.responseText;
            if (res.responseJSON && res.responseJSON.length) {
              text = res.responseJSON.join("\n\n");
            }
            const message = res.status + " " + res.statusText + "\n" + text;
            const error = new Error(message);
            error.code = res.status;
            self.$emit('error', error);
          })
          .done(res => {
            this.preview = res.task_preview.slice(0, 10);
            this.files_as_tasks_list = res.files_as_tasks_list;
            this.formats = Object.keys(res.found_formats);
            this.selected_formats = Object.keys(res.selected_formats);
            this.stats = {
              total_completions: res.total_completions,
              total_predictions: res.total_predictions,
              total_tasks: res.total_tasks,
            };
            this.loading = false;
          })
        },

        finish: function(id) {
          this.id = id;
          this.loadPreview({
            url: "api/project/import/" + id,
            processData: false,
            contentType: false
          });
        },

        update_formats: function() {
          const formats = [];
          this.$refs.formats.querySelectorAll("input").forEach(i => i.checked && formats.push(i.name))
          this.loadPreview({
            url: "api/project/import/" + this.id,
            data: JSON.stringify({selected_formats: formats}),
            method: 'PATCH',
            processData: false,
            contentType: 'application/json',
            dataType: 'json',
          });
        },

        toggle_type: function() {
          const selected = this.$refs.files_type.checked;
          this.loadPreview({
            url: "api/project/import/" + this.id,
            data: JSON.stringify({files_as_tasks_list: {selected, type: null}}),
            method: 'PATCH',
            processData: false,
            contentType: 'application/json',
            dataType: 'json',
          });
        },

        url: function() {
          const url = this.$refs.url.value;
          $.ajax({
            url: "api/project/import/prepare",
            data: {url},
            method: 'POST',
          })
          .done(res => {
            this.finish(res.id);
          });
        },

        error: function(error) {
          this.loading = false;
          this.errors.push(error);
        },

        reset() {
          this.loading = false;
          this.errors = [];
          this.preview = null;
        },

        apply() {
          this.loading = true;
          $.ajax({
            url: "api/project/import/" + this.id + "/apply",
            method: "POST",
            processData: false,
            contentType: false
          })
          .done(() => {
            window.location.href = "/tasks";
            // this.loading = false;
            // this.preview = null;
          });
        }
      },

      watch: {

      },

      // vue mounting of page
      mounted: function () {
        this.vueLoaded = true;

        $('#vue_loader').hide();
        console.log('Vue mounting success');
      }
    });
  </script>

{% endraw %}
{% endblock %}
