messageToastInfoBackgroundColor = #262626
messageToastErrorBackgroundColor = #cf1322fc

.MessageToast
  &_info
    --background-color messageToastInfoBackgroundColor
    --hover-background-color lighten(messageToastInfoBackgroundColor, 10%)
  &_error
    --background-color messageToastErrorBackgroundColor
    --hover-background-color lighten(messageToastErrorBackgroundColor, 10%)
  background-color var(--background-color)

  .toast
    --border-color rgba(240, 238, 242, 0.16)
    --padding 8px 16px
    background-color inherit

    &__action,
    &__content
      color var(--sand_100)
      display flex
      align-items center

    &__action
      background-color inherit
      &:hover
        background-color var(--hover-background-color)
