.MessageToast {
  border-radius: 4px;

  &_info {
    --background-color: var(--color-neutral-inverted-background);
    --hover-background-color: var(--color-neutral-inverted-background-bold-light);
  }

  &_error {
    --background-color: var(--color-negative-background);
    --hover-background-color: var(--color-negative-background-light);
  }

  background-color: var(--background-color);

  .toast {
    --border-color: var(--color-neutral-border);
    --padding: 8px 16px;

    background-color: inherit;

    &__action,
    &__content {
      color: var(--sand_100);
      display: flex;
      align-items: center;
    }

    &__action {
      background-color: inherit;

      &:hover {
        background-color: var(--hover-background-color);
      }
    }
  }
}