<!-- {"title": "Multi-step annotation", "category": "time-series", "complexity": "basic", "order": "z"} -->
<View>
    <!--
     Quickstart:
     Prepare tabular data CSV format time-series.csv:

     time,signal_1,signal_2
     0.123,12.34,56.78
     4.567,-43.21,8765

     Use local file time-series.csv directly OR
     Prepare the links to hosted CSV file: "https://my.domain.com/time-series.csv"
     Set your column names in the following attributes if necessary:
     - timeColumn="time"
     - column="signal_1", column="signal_2"
     Add more <Channel> for more columns
    -->

    <!-- Control tag for region labels -->
    <Header value="Create and select region to classify it" size="6"/>
    <TimeSeriesLabels name="label" toName="ts">
        <Label value="Region" background="#5b5"/>
    </TimeSeriesLabels>

      <!-- Per region setup -->
      <View visibleWhen="region-selected">
        <Header value="Now select the signal quality" />
      </View>

      <Choices name="choices" toName="ts" showInline="true"
               perRegion="true" required="true">
        <Choice value="Good"/>
        <Choice value="Medium"/>
        <Choice value="Poor"/>
      </Choices>

    <!-- Object tag for time series data source -->
    <TimeSeries name="ts" valueType="url" value="$csv"
                sep="," timeColumn="time">
        <Channel column="signal_1"
                 strokeColor="#17b" legend="Signal 1"/>
        <Channel column="signal_2"
                 strokeColor="#f70" legend="Signal 2"/>
    </TimeSeries>
</View>