<!-- {"title": "Time Series classification", "category": "time-series", "complexity": "basic", "order": "!"} -->
<View>
    <Header value="Time Series Classification"/>

    <TimeSeries name="ts" timeColumn="time"
                value="$csv" valueType="url">
        <Channel column="first_column"/>
    </TimeSeries>

    <Choices name="pattern" toName="ts" showInline="true">
        <Choice value="Growth"/>
        <Choice value="Decay"/>
    </Choices>
</View>
