{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load filters %}

{% block content %}

<head>
    <title>Export Project</title>
</head>
<body>
    <div class="buttons">
        <form action="{% url 'landingpage:landingpage' project.id %}">
            <input type="submit" value="Go back to project page" style="background-color: #c4862b; width:25%"/>
        </form>
    </div>
    <div class="forms">
        <h2>Export project</h2>
        <form id="export-form" enctype="multipart/form-data" action="{% url 'landingpage:export-project' project.id %}" method="post">
            <input type="submit" value="Export Project">
        </form>
    </div>
    <div id="exporting-message" style="display: none;">
        <p>Preparing project export! Please wait...</p>
    </div>

    <script>
        document.getElementById('export-form').addEventListener('submit', function() {
            document.getElementById('exporting-message').style.display = 'block';
        });
    </script>
    
</body>

{% endblock %}