<a href="<%= url %>" class="Link<% if (locals.size) { %> <%= size %><% } %><% if (locals.customClass) { %> <%= customClass %><% } %>">
  <%= label %>
  <svg width="14" height="13" fill="#131522" xmlns="http://www.w3.org/2000/svg"><path d="M7.441 12.236 6.291 11.1l3.995-3.995H.25V5.442h10.036L6.29 1.453 7.441.31l5.964 5.964-5.964 5.963Z" /></svg>
</a>