<!-- {"title": "Audio segmentation", "category": "audio"} -->
<View>
  <Header value="Select genre"/>
  <Choices name="choice" toName="audio" choice="multiple">
    <Choice value="Lo-Fi" />
    <Choice value="Rock" />
    <Choice value="Pop" />
  </Choices>

  <Header value="Select regions"/>
  <Labels name="label" toName="audio" choice="multiple">
    <Label value="Beat" background="gray"/>
    <Label value="Voice" background="red"/>
    <Label value="Guitar" background="blue"/>
    <Label value="Other"/>
  </Labels>

  <Header value="Listen the audio"/>
  <AudioPlus name="audio" value="$url"/>
</View>
