.projects-page {
  min-height: calc(100vh - var(--header-height));

  &__loading {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - var(--header-height));
  }

  &__list {
    padding: 40px;
    display: grid;
    box-sizing: border-box;
    grid-gap: 32px;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
  }

  &__link {
    color: #000;
    display: block;
    display: flex;
    text-decoration: none;

    &:hover {
      color: #000;
    }
  }

  &__pages {
    background-color: var(--sand_0);
    bottom: 0;
    width: 100%;
    position: sticky;
    display: flex;
    padding: 10px 40px;
    justify-content: flex-end;
    box-sizing: border-box;
  }

  @media (width >= 1200px) {
    &__list {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media (width >= 1360px) {
    &__list {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  @media (width >= 1460px) {
    &__list {
      grid-template-columns: repeat(5, 1fr);
    }
  }
}

.empty-projects-page {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__heidi {
    height: 12rem;
    margin-top: 6rem;
  }

  &__header {
    font-size: 32px;
    font-weight: 700;
    margin: 16px;
    color: var(--sand_900);
  }

  p {
    font-size: 1.25rem;
    color: var(--sand_700);
    margin: 0;
  }

  &__action {
    margin: 2rem 0;
  }
}

.project-card {
  --text-color: var(--sand_900);

  flex: 1;
  display: flex;
  flex-direction: column;
  background: var(--sand_0);
  border: 1px solid var(--sand_300);
  border-radius: 0.5rem;
  overflow: hidden;
  color: var(--text-color);
  box-shadow: 0 4px 8px rgb(0 0 0 / 5%);

  &__header {
    padding: 12px 16px;
    border-bottom: 1px solid var(--sand_300);
  }

  &__menu {
    margin-left: auto;

    .button-ls {
      margin-right: -10px;
      opacity: 0.5;

      --button-color: var(--text-color);

      &__icon {
        width: 18px;
        height: 18px;
      }
    }
  }

  &__title {
    display: flex;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0.25rem;
    line-height: 22px;
    align-items: center;

    &-text {
      max-width: 250px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__summary {
    flex: 1;
    font-size: 14px;
    line-height: 22px;
  }

  &__annotation {
    display: flex;
    justify-content: space-between;
  }

  &__detail {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 16px;
    grid-auto-columns: max-content;

    &-item {
      --icon-color: var(--sand_0);

      display: flex;
      align-items: center;

      & .project-card__icon {
        color: var(--icon-color);
      }

      &_type {
        &_completed {
          --icon-color: var(--kale_400);
        }

        &_rejected {
          --icon-color: var(--red_7);
        }

        &_predictions {
          --icon-color: var(--grape_500);
        }
      }
    }
  }

  &__icon {
    margin-right: 10px;
  }

  &__description {
    flex: 1;
    font-size: 16px;
    line-height: 22px;
    padding: 12px 16px 0;
    overflow: hidden;
    color: var(--sand_700);
    text-overflow: ellipsis;
    display: -webkit-box;
    word-break: break-word;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  &__info {
    display: flex;
    align-items: center;
    padding: 16px 16px 10px;
    justify-content: space-between;
  }

  &__created-date {
    color: var(--sand_600);
    font-size: 0.875rem;

    & > span {
      font-weight: 500;
    }
  }

  &_colored {
    --text-color: var(--sand_0);

    background-color: var(--background-color);

    & .project-card__header {
      background-color: var(--header-color);
      box-shadow: none;
    }

    & .project-card__detail {
      &-item {
        --icon-color: var(--sand_0);
      }
    }
  }
}
