$header-height = 2em

.sticky
  position: fixed !important
  top: 0
  width: 100%

red-dot-before(leftPos = -8px)
  content: ""
  width: 0
  height: 0
  border 2px solid $red
  border-radius 50%
  position: absolute
  top: calc(50% - 1px)
  left: leftPos

#header
  background-color: #fff
  position: relative
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 3px 0px
  z-index: 99999

.header
  padding: $heading-padding-vertical 20px $heading-padding-vertical 40px;
  display: flex
  align-items: center
  justify-content: space-between
  height: $header-height

body.docs
  #nav
    margin-right: 80px

#nav
  list-style-type: none
  margin: 0
  padding: 0

  a, span
    line-height: 1.8em

  .break
    display: none
  li
    display: inline-block
    position: relative
    margin: 0 .6em
  span
    font-weight: bold;
  a
    margin-right: 1em;
    &:hover, &.current
      padding-top: 2px;
      border-bottom: 2px solid $green
      transition: 200ms;
  .nav-dropdown
    .nav-link
      &:hover, &.current
        border-bottom: none
      &.current
        &::after
          content: ""
          width: 0
          height: 0
          border-left: 5px solid $green
          border-top: 3px solid transparent
          border-bottom: 3px solid transparent
          position: absolute
          top: 50%
          margin-top: -4px
          left: 8px
      &.new::before
        red-dot-before(8px)

.nav-link
  padding-bottom: 3px
  white-space: nowrap
  &:hover, &.current
    border-bottom: 3px solid $green
  &.team
    margin-left: 10px
  &.new::before
    red-dot-before()

.new-label
  position: absolute
  top: 3px
  left: 110%
  background-color: $green
  color: #fff
  line-height: 16px
  height: 16px
  font-size: 9px
  font-weight: bold
  font-family: $code-font
  padding: 1px 4px 0 6px
  border-radius: 4px

.search-query
  height: 30px
  line-height: 30px
  box-sizing: border-box
  padding: 0 15px 0 30px
  border: 1px solid #e3e3e3
  color: $dark
  outline: none
  border-radius: 15px
  margin-right: 10px
  transition: border-color .2s ease
  background: #fff url(../images/search.png) 8px 5px no-repeat
  background-size: 20px
  vertical-align: middle !important
  &:focus
    border-color: $green

#logo
  font-size: 1.5em
  line-height: $header-height
  color: $dark
  font-family: $logo-font
  font-weight: 500
  display: flex
  img
    vertical-align: middle
    margin-right: 6px
    width: $header-height
    height: $header-height

#mobile-bar
  cursor: pointer;
  position: fixed
  top: 0
  left: 0
  height: 40px
  z-index: 1000
  display: none

  .menu-button
    position: absolute
    width: 24px
    height: 24px
    top: 70px
    left: 8px
    background: url(../images/menu.png) center center no-repeat
    background-size: 24px
    background-color: white;
    border-radius: 4px;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.08);

@media print
  #header
    display: none
