.content.guide[class*="migration"]
  h2, h3
    > sup
      margin-left: .3em
      color: #b9465c
  .upgrade-path
    margin-top: 2em
    padding: 2em
    background: rgba(73, 195, 140, .1)
    border-radius: 2px
    > h4
      margin-top: 0
    > p:last-child
      margin-bottom: 0
      padding-bottom: 0
