.modal
  box-sizing: border-box
  display: none
  position: fixed
  width: 75%
  height: auto
  padding: .5em
  background-color: #f9f9f9
  box-shadow: 0 0 10px rgba(0,0,0,.2)
  z-index: 11
  &.open
    display: block
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    z-index: 1000
.modal-text
  margin-bottom 0.5em
  text-align center
  > a
    color $green
    font-weight 600
.overlay
  position: fixed
  top: 0
  bottom: 0
  left: 0
  right: 0
  background: rgba(0,0,0,.2)
  z-index: 10
.stop-scroll
  overflow: hidden
  height: 100%
@media screen and (max-width: 400px)
  .modal
    width: 98%
