.content.menu
  font-size: 1.2em
  .menu-root
    padding-left: 0
  #search-form, .algolia-autocomplete, input
    width: 100%
  .aa-dropdown-menu
    box-sizing: border-box
  h3
    margin: 1.5em 0 .75em
    &:before, &:after
      display: none
  li
    list-style-type: none
    margin-top: .1em
