#search-page
  .search-form
    .search-query
      width: 100%
      border-radius: 5px
      margin-right: 0
    .search-footer
      display: flex
      height: 35px
      align-items: center
      justify-content: space-between
      margin-bottom: 15px
      p
        margin: 0
        padding: 0
  .search-result
    margin-bottom: 15px;
    .title
      display: block
      font-size: 17.55px
    .summary
      padding: 0
      margin: 0
    .breadcrumb
      color: $light
      & + .breadcrumb::before
        content: "\203A\A0"
        margin-left: 5px
        color: $light
