// font faces
$body-font = "Source Sans Pro", "Helvetica Neue", Arial, sans-serif
$logo-font = "Dosis", "Source Sans Pro", "Helvetica Neue", Arial, sans-serif
$code-font = "Roboto Mono", Monaco, courier, monospace

// font sizes
$body-font-size = 1rem
$code-font-size = .85em

// colors
$dark   = #273849
$medium = #304455
$light  = #4f5959
$green  = #f58a48
$border = #dddddd
$codebg = #f8f8f8
$red = #ff6666
$info = #1C90F3
$purple = #352074

$radius = 2px
$content-padding-top = 30px

// header settings
$header-inner-height = 52px
$heading-padding-vertical = 24px
$top-ribbon-height = 42px
$header-height = $header-inner-height + $top-ribbon-height + $heading-padding-vertical * 2
$mobile-header-height = 40px
// prevent headers from being covered by the top nav upon navigation
$heading-link-padding-top = $header-height + $content-padding-top
$mobile-heading-link-padding-top = $mobile-header-height + $content-padding-top
$h2-margin-top = 45px
$h3-margin-top = 52px
