.admonition {
  margin: 2em 0;
  padding: .6rem;
  overflow: hidden;
  page-break-inside: avoid;
  border-left: .3rem solid #42b983;
  border-radius: .3rem;
  box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,.05), 0 0 0.05rem rgba(0,0,0,.1);
  background-color: #fafafa;
}

.admonition p {
  padding: 0.2em 0 !important;
  margin: 0!important;
}

p.admonition-title {
  text-transform: capitalize;
  position: relative;
  margin: -.6rem -.6rem .8em -.6rem !important;
  padding: .4rem .6rem 0.4rem 0.6rem !important;
  font-weight: 700;
  background-color:rgba(66, 185, 131, .1);
}

.admonition-title::before {
  position: absolute;
  content: ' ';
}

.info>.admonition-title, .todo>.admonition-title {
  background-color: #0099FFBB;
}
.warning>.admonition-title{
  background-color: #f45240;
} 
.attention>.admonition-title {
  background-color:#6db1edbb;
}
.caution>.admonition-title {
  background-color:#e8b466bb;
}

.admonition.info, .admonition.todo {
  border-color: #0099FFBB;
}
.admonition.warning {
  border-color: #f45240;
}
.admonition.attention {
  border-color: #1460a2bb;
}
.admonition.caution {
  border-color: #e8b466bb;
}
.admonition.failure, .admonition.missing, .admonition.fail, .admonition.error {
  border-color: #ff5252;
}
.info>.admonition-title::before, .todo>.admonition-title::before {
  background-color: #0099FFBB;
  border-radius: 50%;
}
.warning>.admonition-title::before {
  background-color: #f45240;
  border-radius: 50%;
} 
.attention>.admonition-title::before{
  background-color:#1460a2bb;
  border-radius: 50%;
}
.caution>.admonition-title::before {
  background-color: #e8b466bb;
  border-radius: 50%;
}

.failure>.admonition-title::before,.missing>.admonition-title::before,.fail>.admonition-title::before,.error>.admonition-title::before{

}

.admonition>:last-child {
  margin-bottom: 0 !important;
}
