#site_search
  right: 0;
  z-index: 2000;
  margin-right: 1em;
  margin-left: 1em;

#local-search-result-wrapper
  margin-bottom: 3em;
  position: fixed;
  background: white;
  z-index: 1000;
  top: 60px;
  right: 36px;
  margin-top: 1.5em;
  // adjustment of much bolder font
  font-size: 14px;
  letter-spacing: 0.1px;
  -webkit-font-smoothing: antialiased;

.head__main #local-search-result-wrapper
  position: absolute;
  top: 65px;
  right: 15px;

  h3
    margin-top: 1em;

// on a fixed header
.head__main.active__head #local-search-result-wrapper
  // main block 1200/2 - padding 15
  right: calc(50vw - 585px);

#local-search-result
  min-width: 400px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  border-radius: 5px;
  background: white;
  overflow: auto;
  max-height: 4in;
  padding: 20px;
  word-break: break-all;

  h3
    margin-top: 1.5em;
  p.search-result
    color: #555;
    margin-top: 0;

ul.search-result-list
  padding-left: 20px;

  li
    margin-top: 1em;
    margin-bottom: 0.5em;
    cursor: pointer;

a.search-result-title
  margin-top: 2em !important;
  font-weight: 600;
  color: #f58a48;
  text-decoration: none;

em.search-keyword
  border-bottom: 1px dashed #4088b8;
  font-weight: bold !important;
  font-style: normal;

@media screen and (max-width: 900px)
  #local-search-result
    min-width: 200px;
