{% extends 'base.html' %}
{% block body %}

  <div class="ui container">
    <!-- Critical error while project loading -->
    <div class="ui error message">
      <div class="header">{{ header }}</div>
      <div class="content">{{ error }}
      </div>

      <!-- Traceback -->
      <div class="extra content ui accordion">
        <div class="title" style="font-size: 90%!important; color: #444;"><i class="dropdown icon"></i>Traceback</div>
        <div class="content">
          <pre style="font-size: 70%;">{{ traceback|safe }}</pre>
        </div>
      </div>

    </div>
  </div>
  <script>
    console.log('--- Python traceback from Label Studio ---');
    console.log(`{{ traceback|safe }}`);
    $('.accordion').accordion();
  </script>
{% endblock %}