<!-- Help message -->
<div class="ui message">
  <i class="close icon"></i>

  <!-- Label config -->
  <div class="ui accordion">
    <div class="active title"><i class="dropdown icon"></i>Labeling config help</div>
    <div class="active content" style="margin-top:0; margin-left: 10px;">
      <ul class="ui list">
        <li><p>Labeling interface is based on html-like tags, read more in our
          <a href="https://labelstud.io/tags" target="_blank">documentation</a>.</p>
        </li>
        <li><p>You can fully customize the appearance and workflow by modifying Labeling Config.</p></li>
        <li><p>Tag values can use variables that start with "$" sign,
          and those correspond to the fields in imported tasks from JSON or CSV files.</p>
        </li>
      </ul>
      <div style="margin: 0.25em"></div>
    </div>
  </div>

  {% if multi_session %}
    <div class="ui accordion">
      <div class="active title"><i class="dropdown icon"></i>Project management</div>
      <div class="active content" style="margin-left: 25px; margin-top:0px">
        <p>You can create multiple projects within one browser session.
          If you don't want to loose your project, just save the shared link in the safety place.
          If you want to share the project with somebody, send a shared link.</p>

        <button onclick="new_project()" id="new-project-button" class="ui button negative basic"
                style="height: 24px; padding-top: 5px;">
          Start new project
        </button>

        <div style="margin-bottom: 15px!important;"></div>
        <div> Current project: {{ project.description }} </div>

        <div style="margin-top: 10px!important;"></div>
        <table>
          {% for uuid, desc in project_ids.items() %}
            <div class="ui item">
              <i class="share alternate icon blue small hover-button"
                 data-tippy-content="Copy shared link to project with uuid<br>{{ uuid }}"
                 onclick="copy_share_link('{{ uuid }}')"></i>
              <a id="myLink" href="#" onclick="switch_project('{{ uuid }}', '{{ desc }}')" data-value="{{ uuid }}"
                 style="font-weight: {% if uuid == project.uuid %}bold{% else %}normal{% endif %}">
                {{ desc }}</a>
            </div>
          {% endfor %}
        </table>
        <div style="margin-top: 10px!important;"></div>
      </div> <!-- accordion -->
    </div>
  {% endif %}

  <!-- Basic Templates -->
  {% for complexity in templates %}
    <div class="ui accordion">
      <div class="{{ 'active' if complexity == 'basic' else '' }} title">
        <i class="dropdown icon"></i>{{ complexity|capitalize }} config examples
      </div>
      <div class="{{ 'active' if complexity == 'basic' else '' }} content" style="margin-top:-8px">
        <!-- Templates categories -->
        <div class="ui grid stackable" style="margin: 0 auto;">
          {% for category in templates[complexity] %}
            <div class="three wide column category">
              {% if category == 'audio' %} <i class="icon sound" title="Audio sources"></i> {% endif %}
              {% if category == 'text' %} <i class="icon font" title="Text sources"></i> {% endif %}
              {% if category == 'html' %} <i class="icon code" title="HTML sources"></i> {% endif %}
              {% if category == 'image' %} <i class="icon image" title="Image sources"></i> {% endif %}
              {% if category == 'other' %} <i class="icon archive" title="Other sources"></i> {% endif %}

              {% if category == 'layouts' %} <i class="icon eye" title="View layout examples"></i> {% endif %}
              {% if category == 'per-region' %}
                <i class="icon vector square" title="Per region examples"></i> {% endif %}
              {% if category == 'nested' %}
                <i class="icon bullseye" title="Nested examples with conditional behavior"></i> {% endif %}

              <!-- Template -->
              {% for t in templates[complexity][category] %}
                <div class="ui item">
                  <a class="use-template no-go" href="#" data-value="{{ t.pk }}">{{ t.title }}</a>
                </div>
              {% endfor %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endfor %}

</div>

<br/>

<script>
  function new_project() {
    var project_desc = prompt("You will lose ALL YOUR DATA,\nthis action CAN'T BE UNDONE.\n" +
      "Are you sure?\n\n" +
      "If yes, please enter a new project title", "default");
    if (project_desc) {
      var request = new XMLHttpRequest();
      request.open("POST", 'api/project/?new=true&desc=' + project_desc, true);
      request.onload = function () {
        window.location.reload();
      };
      request.send(null);
    }
  }

  function switch_project(uuid, desc) {
    var yes = confirm('Please confirm you\'d like to switch to project "' + desc + '"');
    if (yes) {
      var request = new XMLHttpRequest();
      request.open("POST", '/api/project-switch?uuid=' + uuid, true);
      request.onload = function () {
        window.location = "/setup"
      };
      request.send(null);
    }
  }

  function copy_share_link(uuid) {
    copyToClipboard(window.location.origin + '/api/project-switch?uuid=' + uuid)
    $('body').toast({
      class: 'orange',
      title: 'Copied!',
      message: '<pre>Link to the project is copied to clipboard<br><br>Project uuid:<br>' + uuid + '</pre>',
      position: 'bottom center'
    })
  }

  $('.ui .accordion').accordion({collapsible: true});
</script>
