<div class="ui tab message" data-tab="project-settings">

<!-- Tabs -->
<div class="ui accordion" id="tab-settings">
  <div class="title"><i class="dropdown icon"></i>Tabs</div>
  <div class="content accordion-content">
    <p>You can reset all tabs from Tasks table (Data manager) here.</p>
    <button onclick="reset_all_tabs()" class="ui button negative basic accordion-button">
      Reset all tabs
    </button>
  </div>
</div>
<div style="margin: 1em"></div>

<!-- Project switching -->
{% if multi_session %}
<div class="ui accordion" id="project-management" >
  <div class="title"><i class="dropdown icon"></i>Project management</div>
  <div class="content accordion-content">
    <div> Current project: {{ project.description }}</div>
    <div style="margin-bottom: 15px!important;"></div>

    <p>You can create multiple projects within one browser session.
      If you don't want to loose your project, just save the shared link in the safety place.
      If you want to share the project with somebody, send him or her a shared link.</p>

    <button onclick="new_project()" id="new-project-button" class="ui button negative basic accordion-button">
      Start new project
    </button>

    <div style="margin-top: 10px!important;"></div>
    <div style="padding-left: 10px">
      <style>.ui.item:hover i {
        color: darkorange !important;
      }</style>

      {% for uuid, desc in own_projects.items() %}
        <div class="ui item">
          <i class="share alternate icon blue small hover-button"
             data-tippy-content="Copy shared link to project with uuid<br>{{ uuid }}"
             onclick="copy_share_link('{{ uuid }}')"></i>
          <a id="myLink" href="#" onclick="switch_project('{{ uuid }}', '{{ desc }}')" data-value="{{ uuid }}"
             style="font-weight: {% if uuid == project.uuid %}bold{% else %}normal{% endif %}">
            {{ desc }}</a>
        </div>
      {% endfor %}

    </div>

    <div style="margin-bottom: 15px!important;"></div>
    <div>Shared projects with you</div>

    <div style="margin-bottom: 15px!important;"></div>
    <div style="padding-left: 10px">
      {% if shared_projects %}

        {% for uuid, desc in shared_projects.items() %}
          <td class="ui item">
            <i class="share alternate icon blue small hover-button"
               data-tippy-content="Copy shared link to project with uuid<br>{{ uuid }}"
               onclick="copy_share_link('{{ uuid }}')"></i>
            <a id="myLink" href="#" onclick="switch_project('{{ uuid }}', '{{ desc }}')" data-value="{{ uuid }}"
               style="font-weight: {% if uuid == project.uuid %}bold{% else %}normal{% endif %}">
              {{ desc }}</a>
          </td>
        {% endfor %}

      {% else %}
        <p>You can add a shared project here if you open a shared link from the other user</p>
      {% endif %}
    </div>
    <div style="margin-top: 10px!important;"></div>
  </div>
</div> <!-- Project switching accordion -->
{% endif %}

</div>
