<div class="ui tab message" data-tab="data-settings">

  <!-- Source Storage -->
  <div class="ui accordion" id="source-storage">
    <div class="title"><i class="dropdown icon"></i>Source storage</div>
    <div class="content accordion-content">
      <p>Test</p>
    </div>
  </div>
  <div style="margin: 1em"></div>

  <!-- Target Storage -->
  <div class="ui accordion" id="target-storage">
    <div class="title"><i class="dropdown icon"></i>Target storage</div>
    <div class="content accordion-content">
      <p>Test</p>
    </div>
  </div>
  <div style="margin: 1em"></div>

</div>
