<!-- {"title": "Time series classification", "category": "other", "complexity": "basic", "order": "!"} -->
<View>
  <Header value="Time series classification"/>

  <TimeSeries name="ts" valueType="url" value="$csv"
              timeValue="#time" overviewChannels="one">
    <TimeSeriesChannel value="#one" units="miles" showgrid="true"
                       unitsFormat=",.1f" strokeColor="#1f77b4"
                       displayName="Sensor 1" />
    <TimeSeriesChannel value="#two" units="miles" showgrid="true"
                       unitsFormat=",.1f" strokeColor="#ff7f0e"
                       displayName="Sensor 2" />
  </TimeSeries>

  <Choices name="sentiment" toName="ts" choice="single"
           showInline="true">
    <Choice value="Positive"/>
    <Choice value="Negative"/>
    <Choice value="Neutral"/>
  </Choices>
</View>
