.description
  font-size 16px
  color #000
  opacity 0.6

  &_size
    &_small
      font-size 12px
      margin 16px 0

    &_medium
      font-size 16px
      margin 32px 0

    &_large
      font-size 22px
      margin 40px 0
