<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ config['title'] }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta charset="utf-8"/>

  <link rel="shortcut icon" href="static/favicon.ico"/>
  <link rel="stylesheet" href="static/fonts/dosis/dosis.css">
  <link rel="stylesheet" href="static/css/reset.css">
  <link rel="stylesheet" href="static/css/main.css?v2">
  <link rel="stylesheet" href="static/css/fontall.min.css">
  <link rel="stylesheet" href="static/semantic/semantic.min.css">

  <script src="static/js/jquery.min.js"></script>
  <script src="static/semantic/semantic.min.js"></script>
  <script src="static/js/js.cookie.js"></script>
  <script src="static/js/popper.min.js"></script>
  <script src="static/js/tippy-bundle.umd.min.js"></script>
  <script src="static/js/helpers.js?v3"></script>

  <script src="https://browser.sentry-cdn.com/5.17.0/bundle.min.js"
          integrity="sha384-lowBFC6YTkvMIWPORr7+TERnCkZdo5ab00oH5NkFLeQUAmBTLGwJpFjF6djuxJ/5"
          crossorigin="anonymous"></script>
  <script>
    if (typeof Sentry !== 'undefined') {  // sentry could be unavailable if no internet connection
      Sentry.init({dsn: 'https://f24f3e8da54c4a16a1ce9bef30ea9c30@o227124.ingest.sentry.io/5285295'});
    }
  </script>

  {% block head %}{% endblock %}

</head>

<body>

<!-- Header -->
<div id="header">
  <a id="logo" href="welcome">
    <img src="static/images/ls_logo.png" alt="label studio logo" class="img-logo">
    <span class="img-text" id="logo-text">{% if config['description'] and config['description'] != 'default' %}
      {{ config['description'] }}
    {% else %}
      {{ config['title'] }}
    {% endif %}</span>
  </a>
  <ul id="nav">
  &nbsp;
    <a href="tasks" class="{% if url_for(request.endpoint) == '/tasks' %}active{% endif %}">Tasks</a>


    <a href="model" class="{% if url_for(request.endpoint) == '/model' %}active{% endif %}">Model</a>


    <a href="settings" class="{% if url_for(request.endpoint) == '/settings' %}active{% endif %}">Settings</a>

    <span>
      <a class="outside-links first" href="https://labelstud.io/guide/" target="_blank">Docs</a>

      <a class="outside-links" href="https://github.com/heartexlabs/label-studio" target="_blank">
        <img height="22" onerror="this.src='static/images/github.png'" src="https://static.labelstud.io/images/github.svg?sid={{ g.sid }}"/>
      </a>

      <a class="outside-links last" href="https://join.slack.com/t/label-studio/shared_invite/zt-cr8b7ygm-6L45z7biEBw4HXa5A2b5pw"
         data-tooltip="If you have found a bug or have questions ping us in Slack" data-position="bottom right"
         target="_blank"><img src="static/images/slack.png" height="22"/>
      </a>
    </span>

  </ul>
</div>

{% block body %}
  <div>Heidi is an Opossum!</div>
{% endblock %}

<script>
  $(function() {
    tippy('[data-tippy-content]', {allowHTML: true});
  });

  // hide logo if it intersects with menu
  $(window).resize(function() {
    var logo = $('#logo-text');
    logo.show();  // show logo text to calc its position
    if (logo.offset().left + logo.width() >= $('#nav').offset().left) {
      logo.hide();
    }
    else {
      logo.show();
    }
  })
</script>

</body>
</html>
