{% extends 'base.html' %}
{% block body %}

  <!-- Editor CSS -->
  {% for css in editor_css %}
    <link href="{{ css }}?version={{ version }}" rel="stylesheet">
  {% endfor %}

  <!-- Editor JS -->
  {% for js in editor_js %}
    <script src="{{ js }}?version={{ version }}"></script>
  {% endfor %}

  <script src="static/js/lsf-sdk.js"></script>

  <!-- Editor -->
  <div class="content">
    <div id="label-studio">
      <div class="ui loader active inline centered"></div>
    </div>
  </div>

  <script>
    window.onload = function () {
      var task = {{ task_data | json | safe }};
      window.LSF_SDK = LSF_SDK("label-studio", `{{ label_config_line | safe }}`, task, false,
                               `{{ project.config['instruction'] | safe }}`);
    }
  </script>

{% endblock %}
