{% extends 'base.html' %}
{% block body %}

  <div class="ui container">
    <center class="wrapper">

      <!-- Statistics -->
      <div class="ui stackable grid">

        <div class="eight wide column">
          <div class="ui statistic">
            <span class="value"><small>{{ project.ml_backend.model_name }}</small></span>
            <span class="label">Machine Learning Model</span>
          </div>
        </div>

        <div class="eight wide column">
          <div class="ui statistic">
            <span class="value">
              <small>{{ project.ml_backend.model_version|str2datetime }}</small>
            </span>
            <span class="label">Model Version</span>
          </div>
        </div>

        <!-- <div class="eight wide column">
          <p>ML Backend: {{ project.ml_backend.api._url }}</p>
        </div> -->
        <div class="ui divider hidden"></div>

        <div class="sixteen wide column">
          <!-- Input file form -->
          <div class="ui form">
            <input id="file-input" type="file" name="file" multiple onchange="send_data(event)" style="display: none"/>

            <div class="ui content">
              <div id="holder">
                <div class="text">
                  <i class="ui icon huge upload"></i>
                  <p>Check the machine learning model, drop your image here</p>
                </div>
              </div>
            </div>

          </div>

          <br/>
          <a class="ui button positive" href="/">Get Prediction</a>
        </div>

      </div>
    </center>
  </div>



  <script>

      $('.upload-data').on('click', function () {
          $("#start-upload-dialog").modal({
              closable: false
          }).modal('show');
      });

      $('#holder').on('click', function () {
          $('#file-input').trigger('click');
      });

      // drag & drop files
      $(document).ready(function () {
          let holder = $('#holder');
          holder.on('drop', function (e) {
              e.preventDefault();
              $(this).removeClass('hover');
              const event = {target: {files: e.originalEvent.dataTransfer.files}};
              send_data(event);
          });
          holder.on('dragover', function (e) {
              e.stopPropagation();
              e.preventDefault();
              $(this).addClass('hover');
          });
          holder.on('dragleave', function (e) {
              e.preventDefault();
              $(this).removeClass('hover');
          });
      });

      // show upload wait
      function start_wait() {
          $('#start-upload-dialog').modal('hide');
          $('.ui.page.dimmer').addClass('active');
      }

      // stop upload wait
      function stop_wait(msg, success) {
          $('.ui.page.dimmer').removeClass('active');
          $('#upload-dialog-msg').html(msg);
          $('#upload-dialog').modal({
              closable: false, // protect closing of uploading dialog
              onDeny() {
                  return false;
              },
              onHide() {
                  return false;
              }
          }).modal('show');

          if (success) {
              $('#upload-done-button').addClass('positive');
              $('#success-actions').show();
          } else {
              $('#upload-done-button').addClass('red')
          }
      }

      // send data with tasks to server (add more data)
      function send_data(event, upload_url = '') {
          if (upload_url === '' && typeof event.target.files === 'undefined') {
              return;
          }

          // show upload wait dialog
          start_wait();
          let fd = null;
          let request = {};

          // send url to file
          if (upload_url !== '') {
              // send url as task data
              if (IsJsonString(upload_url)) {
                  request = {
                      url: "api/import",
                      data: upload_url,
                      contentType: 'application/json',
                      method: 'post'
                  }
              }
              // send url as regular url
              else {
                  request = {
                      url: "api/import",
                      data: {url: upload_url},
                      method: 'post'
                  }
              }
          }

          // files from disk
          else {
              fd = new FormData;
              for (let i = 0; i < event.target.files.length; i++) {

                  const f = event.target.files[i];
                  let max_size_mb = {{ project.max_tasks_file_size }};
                  if (f.size / 1024.0 / 1024.0 > max_size_mb) {
                      stop_wait('Sorry, but file size is too big (more ' + max_size_mb + ' mb).\n<br/>' +
                          'Try to split your file by chunks or zip it', false);
                  }

                  // make form and attach file to it
                  fd.append(f.name, f);
              }

              request = {
                  url: "api/import",
                  data: fd,
                  method: 'POST',
                  processData: false,
                  contentType: false
              }
          }

          $.ajax(request)
              .done(answer => {
                  let msg = '<h2>Tasks created: ' + answer['task_count'] + '</h2>' +
                      'Completions created: ' + answer['completion_count'] +
                      '<br>Predictions created: ' + answer['prediction_count'] +
                      '<br><br>Duration: ' + answer['duration'].toFixed(2) + ' sec';
                  stop_wait(msg, true);
              })
              .fail(answer => {
                  let msg = "Error: can't upload/process file on server side. Reasons:<br><br>";

                  if (answer.responseJSON != null) {
                      let rows = answer.responseJSON;
                      for (let i in rows) {
                          const escaped = $('<div>').text(rows[i]).html();
                          const split = escaped.split('::');
                          msg += '<div class="upload-row-error">' +
                              '<div class=desc>' + split[0] + '</div>' +
                              (split.length > 1 ? '<div class=code>' + split[1] + '</div>' : '') +
                              '</div><br/>\n';
                      }
                  } else {
                      msg += 'Critical error, see console for more description';
                      console.log(answer);
                  }

                  stop_wait(msg, false);
              });
      }

      $(function () {
          $('.ui.accordion').accordion();
      });
  </script>

{% endblock %}
