{% raw %}

<!-- Two dialogs: source and target -->
<sui-modal v-model="storage.show" v-bind:class="{inverted: 1, small: 1}"
           v-on:hide="loadAll();" size="small" closable="0"
           :id="storage_for + '-storage-settings-dialog'"
           v-for="(storage, storage_for) in storage_settings">

  <i class="close icon"></i>
  <div class="header">{{ capitalizeFirstLetter(storage_for) }} storage
    &nbsp;<div :class="{active: storage.type_loading}" class="ui loader inline mini grey"></div>
  </div>
  <div class="content">
    <form class="ui form" :id="storage.storage_for + '-storage-form'">
      <input hidden name="storage_for" :value="storage_for">

      <!-- Storage Type -->
      <div class="ui field" v-if="storage.type != ''" :class="{disabled: storage.type_loading}">
        <label>Storage type</label>
        <select class="ui dropdown" name="type" v-model="storage.type">
          <option v-for="item in project.available_storages">{{ item }}</option>
        </select>
      </div>

      <div class="ui divider hidden"></div>

      <!-- Fields -->
      <div class="ui field"
           v-for="field in storage.fields"
           :class="{disabled: storage.type_loading, error: field.name in storage.errors}">

        <label>{{ field.description }}</label>
        <sui-checkbox v-model="field.data" :name="field.name" v-if="field.type=='BooleanField'"></sui-checkbox>
        <input type="text" :placeholder="field.name" :name="field.name" v-model="field.data"
               v-if="field.type!='BooleanField'">
        <div class="ui message error" v-if="storage.errors[field.name]">storage.errors[field.name]</div>


      </div>

    </form>

    <!-- Errors -->
    <div class="ui divider hidden" v-if="Object.keys(storage.errors).length"></div>
    <div class="ui message error" v-if="Object.keys(storage.errors).length">
      <div v-for="(error, key) in storage.errors">
        {{ key }}: {{ error }}
      </div>
    </div>
  </div>

  <!-- Actions -->
  <div class="actions">
    <!-- Save -->
    <button class="ui button positive approve" :class="{disabled: storage.loading}"
            @click="saveStorageSettings(storage_for)">
      <div class="ui active mini inline loader" v-if="storage.loading"></div>
      <span v-if="!storage.loading">Save</span>
    </button>
    <!-- Close -->
    <button class="ui button basic cancel"
            :class="{disabled: storage.loading}"
            @click="storage.show=false; loadAll();">Close
    </button>
  </div>

</sui-modal>

{% endraw %}
