{% extends 'base.html' %}
{% block body %}
{% raw %}
  <script src="/static/js/vue.js"></script>
  <script src="/static/semantic/semantic-ui-vue.min.js"></script>

  <style>
    .visible-app {
      display: block !important;
    }

    .predict-image {
      border-radius: 5px;
      height: 50px;
    }

    .fade-enter-active, .fade-leave-active {
      transition: opacity 0.5s ease-in-out;
    }

    .fade-enter-to {
      opacity: 1;
      height: 50px;
    }

    .fade-enter, .fade-leave-to {
      opacity: 0;
      height: 0;
    }

    .pagination {
      height: 10px !important;
    }

    .pagination-size {
      border: none;
      background: none;
    }

    .order {
      cursor: pointer;
    }

    .order.up, .order.down {
      font-weight: bold;
    }
  </style>

  <div id="vue_loader" class="ui large text loader loading active">Loading ...</div>

  <div class="ui container" id="app" :class="{'visible-app': vue_loaded}" style="display: none">

  <!-- Main content -->
  <center class="center">

  <div class="ui container">
    <div class="wrapper">

      <!-- Statistics -->
      <div class="ui two column centered grid stackable">
        <div class="row">
          <!-- Total tasks -->
          <div class="column center aligned">
            <div class="ui statistic small">
            <!-- Project loading -->
            <center v-if="!project_loaded" style="margin-bottom: 3px">
              <div class="ui loader loading active inline"></div>
            </center>
            <!-- Number -->
            <span class="value" v-else>
              <animated-number :number="project.task_count"></animated-number>
            </span>
              <span class="label">Total tasks</span>
              <span class="sub-label">
                <i class="word-break" v-if="project.multi_session_mode">{{ project.source_storage.readable_path }}</i>&nbsp;
                <span data-tooltip="Change source storage settings">
                  <i class="fas fa-cog sup-button big" @click="storage_settings.source.show=true"></i>
                </span>
              </span>
            </div>
          </div>
          <!-- Total completions -->
          <div class="column center aligned">
            <div class="ui statistic small">
            <!-- Project loading -->
            <center v-if="!project_loaded" style="margin-bottom: 3px">
              <div class="ui loader loading active inline"></div>
            </center>
            <!-- Number -->
            <span class="value" v-else>
              <animated-number :number="project.completion_count"></animated-number>
            </span>
            <span class="label">Total completions</span>
            <span class="sub-label">
              <i class="word-break" v-if="project.multi_session_mode">{{ project.target_storage.readable_path }}</i>&nbsp;
              <span data-tooltip="Change target storage settings">
                <i class="fas fa-cog sup-button big" @click="storage_settings.target.show=true"></i>
              </span>
            </span>
            </div>
          </div>
        </div>

        <!-- Control buttons -->
        <div class="ui row stackable" v-if="project.task_count > 0">
          <div class="center aligned">
            <!-- Start labeling -->
            <a class="ui button positive" href="/">Start Labeling</a>

            <!-- Sampling -->
            <span class="ui segment" style="padding-top: 9px; padding-bottom: 10px; margin-right: 3px;">
            Tasks sampling:&nbsp;<span class="ui orange label">
              {{ project.config['sampling'] }}
            </span>
          </span>

            <!-- Delete all tasks -->
            <a class="ui button red" @click="deleteAllTasks()" v-if="project.can_manage_tasks">Delete All Tasks</a>
          </div>
        </div>

        <!-- Import tasks -->
        <div class="row" v-else>
          <a class="ui button positive" href="/import" v-if="project.can_manage_tasks">Import Tasks</a>
        </div>

      </div>
      <div class="ui divider hidden"></div>

      <!-- Pagination -->
      <div class="ui pagination menu" v-if="project.task_count > 0">
        <a class="item" :class="{'active': page>1, 'disabled': page<=1}"
           @click="if (page!=1) page--">Prev</a>

        <div class="item">
          <input v-model="page" style="border:none" type="number" min="1" :max="totalPages">
          &nbsp; of &nbsp;&nbsp;
          {{ totalPages }}
        </div>

        <div class="item">
          <select class="pagination-size" v-model="page_size">
            <option>1</option>
            <option>5</option>
            <option selected="selected">10</option>
            <option>50</option>
            <option>100</option>
            <option>500</option>
            <option>1000</option>
          </select>
        </div>

        <a class="item" :class="{'active': page<totalPages, 'disabled': page>=totalPages}"
           @click="if (page<totalPages) page++">Next</a>
      </div>

      <div class="ui divider hidden"></div>

      <!-- Table -->
      <table v-if="project.task_count > 0" class="responsive">
        <!-- Header -->
        <tr>
          <th class="order" @click="changeOrder('id')">Task ID
            <i class="fas" :class="{'fa-sort-up': this.order=='id', 'fa-sort-down': this.order=='-id'}"></i>
          </th>
          <th class="order" @click="changeOrder('completed_at')">Completed at
            <i class="fas"
               :class="{'fa-sort-up': this.order=='completed_at', 'fa-sort-down': this.order=='-completed_at'}"></i>
          </th>
          <th v-if="project.can_manage_tasks">Delete task?</th>
          <th v-if="project.can_manage_completions">Delete completion?</th>
        </tr>

        <!-- Task row -->
        <template v-for="task in tasks">
          <!-- Broken task -->
          <tr v-if="task == null" class="text-center">
            <td colspan="2"><small>broken task [backend returns null]</small></td>
          </tr>

          <!-- Correct task -->
          <tr v-else>
            <!-- Task ID -->
            <td class="text-center">
              <a :href="'/?task_id=' + task.id">
                <i class="fas fa-eye eye show-completion"></i>
              </a>
              &nbsp;{{ task.id }}
            </td>
            <!-- Completed at -->
            <td>{{ task.completed_at }}</td>
            <!-- Task -->
            <td class="text-center" v-if="project.can_manage_tasks">
              <i @click="deleteTask(task.id)"
                 class="fas fa-trash-alt trash remove-task">&nbsp;&nbsp;</i>
            </td>
            <!-- Completion -->
            <td class="text-center" v-if="project.can_manage_completions">
              <i v-for="completion_id in task.completions" @click="deleteCompletion(task.id, completion_id)"
                 class="fas fa-trash-alt trash remove-completion">&nbsp;&nbsp;</i>
            </td>
          </tr>
        </template>


      </table>

      <br/>
    </div>
    <br/><br/>
  </div>

  </center>

  {% endraw %}
  {% include 'storages.html' %}
  {% raw %}

  </div>

  <script src="/static/js/components/animatedNumber.js"></script>
  <script>
      Vue.use(SemanticUIVue);

      var app = new Vue({
          el: '#app',

          data: function () {
              return {
                  // provided by api/project
                  project: {% endraw %}{{ serialized_project|json|safe }}{% raw %},

                  // provided by api/tasks
                  tasks: [],

                  // provided by api/project/storage-settings
                  storage_settings: {
                      source: {
                          fields: [], errors: [], type: 'json', storage_for: 'source',
                          show: false, loading: false, type_loading: false, save_success: false
                      },
                      target: {
                          fields: [], errors: [], type: 'json', storage_for: 'target',
                          show: false, loading: false, type_loading: false, save_success: false
                      }
                  },
                  storage_settings_all: {},

                  // internal variables
                  vue_loaded: false,
                  project_loaded: false,
                  page: 1,
                  page_size: 10,
                  order: 'id',
                  timer: null
              }
          },

          // components
          components: {
              'animated-number': animatedNumber
          },

          computed: {
              currentPage: function () {
                  return this.tasks;
              },
              totalPages: function () {
                  return Math.ceil(this.project.task_count / parseInt(this.page_size));
              }
          },

          methods: {
              getApi: function (dst, url, always) {
                  var root = this;
                  $.get(url + (url.includes('?') ? '&' : '?') + 'rnd=' + Math.random().toString().slice(0, 5))
                      .done(function (data) {
                          setValue(root, dst, data);
                          if (always) always(data);
                          console.log(dst + ' loaded');
                      })
                      .fail(function () {
                          if (always) always(data);
                          console.log('no ' + dst + ' loaded')
                      })
              },

              // get tasks from api
              loadTasks: function () {
                  this.getApi('tasks', '/api/tasks?page=' + this.page +
                                       '&page_size=' + parseInt(this.page_size) +
                                       '&order=' + this.order)
              },

              // get project info from api
              loadProject: function () {
                  var root = this;
                  this.getApi('project', '/api/project', function () {
                      root.project_loaded = true
                  });
              },

              // get tasks from api
              loadStorageSettings: function () {
                  var root = this;
                  root.storage_settings.source.type_loading = root.storage_settings.target.type_loading = true;
                  this.getApi('storage_settings_all', '/api/project/storage-settings',
                      function () {
                          root.storage_settings.source.type_loading = root.storage_settings.target.type_loading = false;
                          root.changeStorageSettings('source', 'current');
                          root.changeStorageSettings('target', 'current');
                      });
              },

              // get settings from storage_settings_all
              changeStorageSettings: function (storage_for, storage_type) {
                  if (storage_type === 'current') {
                      var storages = this.storage_settings_all[storage_for];
                      for (var type in storages) {
                          var value = storages[type];
                          if (value.current) {
                              setValue(this, 'storage_settings.'+storage_for, value);
                              break;
                          }
                      }
                  }
                  else {
                      var value = this.storage_settings_all[storage_for][storage_type];
                      setValue(this, 'storage_settings.'+storage_for, value);
                  }

              },

              saveStorageSettings: function(storage_for) {
                  var root = this;
                  root.storage_settings[storage_for].loading = true;
                  root.storage_settings[storage_for].save_success = false;
                  root.$set(root.storage_settings[storage_for], 'errors', []);
                  $.ajax({
                      type: 'POST',
                      url: '/api/project/storage-settings' +
                          '?type=' + this.storage_settings[storage_for].type +
                          '&storage_for=' + storage_for,
                      contentType: 'application/json',
                      dataType: 'json',
                      data: JSON.stringify(getFormData($('#' + storage_for + '-storage-form')))
                  }).fail(function (data) {
                      if (data.hasOwnProperty('responseJSON') && data.responseJSON.hasOwnProperty('errors'))
                          root.$set(root.storage_settings[storage_for], 'errors', data.responseJSON.errors);
                      else
                          root.storage_settings[storage_for].errors = {common: message_from_response(data)};
                      console.log('save storage settings error:');
                      console.log(data);
                  }).done(function() {
                      root.storage_settings[storage_for].save_success = true;
                      root.project_loaded = false;
                      setTimeout(function(){
                        root.loadAll();
                      }, 2000);
                  }).always(function () {
                      root.storage_settings[storage_for].loading = false;
                  });
                  return false;
              },

              // update all objects via api
              loadAll: function () {
                  this.loadProject();
                  this.loadTasks();
                  this.loadStorageSettings();
              },

              // update all objects via api
              loadProjectAndTasks: function () {
                  this.loadProject();
                  this.loadTasks();
              },

              // change order of sorting in table
              changeOrder: function (name) {
                  console.log('order changed to ' + name);
                  var old = getUrlArg('order', 'id');
                  if (old === name) {
                      name = '-' + name;
                  }
                  this.order = name;
                  refreshHistoryArg('order', name);
                  this.loadTasks();
              },

              // delete completion with trash button
              deleteCompletion: function (task_id, completion_id) {
                  var request = new XMLHttpRequest();
                  request.open("DELETE", "/api/tasks/" + task_id + "/completions/" + completion_id + "/", true);
                  request.onload = this.loadProjectAndTasks;
                  request.send();
              },

              // delete completion with trash button
              deleteTask: function (task_id) {
                  var request = new XMLHttpRequest();
                  request.open("DELETE", "/api/tasks/" + task_id + "/", true);
                  request.onload = this.loadProjectAndTasks;
                  request.send();
              },

              // delete all tasks from project
              deleteAllTasks: function () {
                  var deletion_confirmed = confirm(
                      'You are going to delete all existing tasks.\n' +
                      'Warning! this operation cannot be undone.\nPlease confirm your action.');
                  if (deletion_confirmed) {
                      var request = new XMLHttpRequest();
                      request.open("DELETE", "/api/tasks/delete", true);
                      request.onload = this.loadProjectAndTasks;
                      request.send();
                  }
              },

              pageReload: function () {
                  window.location.reload();
              },

              capitalizeFirstLetter: capitalizeFirstLetter // from helpers.js
          },

          watch: {
              // watch for page variable changes
              page: function () {
                  this.loadTasks();
              },
              page_size: function () {
                  this.loadTasks();
              },
              'storage_settings.source.type': function () {
                 this.changeStorageSettings('source', this.storage_settings.source.type)
              },
              'storage_settings.target.type': function () {
                 this.changeStorageSettings('target', this.storage_settings.target.type)
              }
          },

          // vue mounting of page
          mounted: function () {
              this.vue_loaded = true;
              this.project_loaded = true;

              this.order = getUrlArg('order', 'id');
              this.loadAll();
              //this.timer = setInterval(this.loadAll, 5000);

              $('#vue_loader').hide();
              console.log('Vue mounting success');
          }
      });

  </script>

{% endraw %}
{% endblock %}
