.dl {
  margin: 0;
  display: grid;
  font-size: 16px;
  line-height: 22px;
  color: var(--sand_600);
  grid-template-columns: 40% 60%;
  grid-row-gap: 12px;

  &__dt {
    font-weight: 500;
    min-width: 300px;
  }

  &__dd {
    margin: 0;
  }
}

.help-icon {
  opacity: 0.5;
  top: 1px;
  position: relative;
}