.input-ls,
.select-ls,
.textarea-ls {
  height: 40px;
  min-height: 40px;
  background: var(--color-neutral-surface);
  font-size: 16px;
  line-height: 22px;
  border: 1px solid var(--color-neutral-border);
  box-sizing: border-box;
  border-radius: 5px;
  padding: 0 16px;
  transition: all 150ms ease-out;
  font-weight: 400;
  color: var(--color-neutral-content);

  &::placeholder {
    color: var(--color-neutral-content-subtler);
  }

  &:hover:not(.disabled, [disabled]) {
    border-color: var(--color-neutral-border-bolder);
  }
  

  &:active {
    border-color: var(--color-neutral-border-boldest);
  }

  &_ghost {
    border: none;
    padding: 0;
    background-color: transparent;
    outline: none;
  }
}

input.input-ls[type="radio"] {
  width: 16px;
  height: 16px;
  min-height: 0;
}

.textarea-ls {
  padding: 12px 16px;
  min-height: 50px;
}