.ml-settings
  .form
    margin-top: 32px

  .description
    line-height: 1.5

  &__callout
    color: #9e9e9e;
    background-color rgb(255, 251, 230);
    border 1px solid rgb(255, 229, 143);
    border-radius 8px;
    padding 10px;
    line-height: 1.5;
    display: flex;
    gap: 5px;

.backend-card
  padding 15px
  border-radius 5px
  background #FAFAFA
  border 1px solid rgba(137, 128, 152, 0.16)

  &__title-container
    display flex
    justify-content space-between
    gap 5px

  &__title
    margin-top 15px
    margin-left 2px
    font-weight 500

  &__meta
    display flex
    flex-flow row wrap
    justify-content space-between
    gap 20px
    color #898098
    margin-top 5px
    margin-left 2px

  &__group
    display flex
    align-items center

  &__menu
    align-items top
