
.backend-card
  width 100%
  padding 10px
  border-radius 5px
  marginTop 0
  background #FAFAFA
  border 1px solid rgba(137, 128, 152, 0.16)

  &__title-container
    display flex
    align-items center
    justify-content space-between
    gap 5px

  &__title
    margin-top 5px

  &__meta
    display flex
    flex-flow row wrap
    gap 20px
    color #898098

  &__group
    display flex
    align-items center

  &__menu
    align-items top