<!-- {"title": "Image classification", "category": "image", "complexity": "basic", "complexity": "basic", "order": "!"} -->
<View>
  <Image name="img" value="$image"/>
  <Choices name="choice" toName="img" showInLine="true">
    <Choice value="Boeing" background="blue"/>
    <Choice value="Airbus" background="green" />
  </Choices>
</View>
