<View>
  <Image name="image" value="$image"/>
  <Labels name="label" toName="image">
    <Label value="Text" background="green"/>
    <Label value="Handwriting" background="blue"/>
  </Labels>
  <Rectangle name="bbox" toName="image" strokeWidth="3"/>
  <Polygon name="poly" toName="image" strokeWidth="3"/>
  <TextArea name="transcription" toName="image"
    editable="true"
    perRegion="true"
    required="true"
    maxSubmissions="1"
    rows="5"
    placeholder="Recognized Text"
    displayMode="region-list"
  />
</View>
