$black = #000
$accent_color = #0099FF
$danger_color = #d00
$magic_color = #944BFF

$black_2 = rgba($black, 0.02)
$black_10 = rgba($black, 0.1)
$black_15 = rgba($black, 0.15)
$black_20 = rgba($black, 0.20)
$black_40 = rgba($black, 0.40)

@require "./tools/*"
