<!-- {"title": "Circular object detector", "category": "image", "complexity": "basic", "complexity": "basic"} -->
<View>
  <Image name="image" value="$image"/>
  <EllipseLabels name="tag" toName="image">
    <Label value="Airplane" background="green"/>
    <Label value="Car" background="blue"/>
  </EllipseLabels>
</View>
