@import "../../assets/styles/global.scss";

.block {
  position: relative;
  width: 100%;
  margin-right: 20px;
  margin-bottom: 20px;
  background: #fff;
  padding: 1em 1em;
  border-radius: 0.28571429rem;
  border: 1px solid rgba(34, 36, 38, 0.15);
  margin-bottom: 1em;

  @include respond("phone") {
    width: 100%;
    margin-right: 0;
  }
}
