@import "../../assets/styles/global.scss";

.block {
  position: relative;
  max-width: 1280px;
  width: 940px;
  margin-right: 20px;
  margin-bottom: 20px;
  background: #fff;
  padding: 1em 1em;
  border-radius: 0.28571429rem;
  border: 1px solid rgba(34, 36, 38, 0.15);
  margin-bottom: 1em;

  @media screen and (max-width: 1600px) {
    max-width: 900px;
  }

  @media screen and (max-width: 1400px) {
    max-width: 800px;
  }

  @media screen and (max-width: 1280px) {
    max-width: 750px;
  }

  @include respond("phone") {
    width: 100%;
  }
}
