{% extends 'simple.html' %}

{% block content %}
    <style>
        .errorlist {
            color: red !important;
        }
    </style>

    <div class="ui container" style="max-width: 550px !important;">
        <div class="ui segment" style="text-align: left;">
            {% if validlink %}
                <h2 style="text-align: center">Change password</h2>
                <div class="ui form">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="ui button primary" type="submit">Change password</button>
                    </form>
                </div>
            {% else %}
                <p>
                    The password reset link was invalid, possibly because it has already been used.
                    Please request a new password reset.
                </p>
            {% endif %}

        </div>
    </div>
{% endblock %}
