<!-- {"title": "Keypoints and landmarks", "category": "image", "complexity": "basic"} -->
<View>
  <Image name="img" value="$image" zoom="true" zoomControl="true"/>
  <KeyPointLabels name="tag" toName="img"
                  strokewidth="2" opacity="1">
      <Label value="Engine" background="red"/>
      <Label value="Tail" background="blue"/>
  </KeyPointLabels>
</View>
