<!-- {"title": "Image keypoints and landmarks", "category": "image"} -->
<View>
  <Image name="img" value="$image" zoom="true"/>
  <Header>Select label then click on image</Header>
  <KeyPointLabels name="tag" toName="img"
                  strokewidth="5" fillcolor="red">
    <Label value="Engine" background="red"/>
    <Label value="Tail" background="rgba(0, 255, 0, 0.9)"/>
  </KeyPointLabels>
</View>
