<!-- {"title": "Loading from headless CSV", "category": "time-series", "complexity": "basic", "order": "1"} -->

<!-- readme
### Quickstart
1. Prepare `time-series.csv` in tabular CSV format without column headers:
    ```
    0,12.34,56.78
    2,-43.21,8765
    ```

2. Set column names from CSV in the labeling config below:
    - `timeColumn="0"`
    - `column="1"`, `column="2"`

3. Add `<Channel>` tags for more columns if needed.

4. After setup you can import your CSV files on Import page and Label Studio will host them OR
upload your CSV to your hosting (e.g.: `https://my.domain.com/time-series.csv`) and
<a target="_blank" href="https://labelstud.io/guide/tasks.html">prepare LS tasks for them.</a>
-->

<View>
    <Header value="Time Series from headless CSV"
            style="font-size:1.2em; font-weight: normal"/>

    <!-- Control tag for region labels -->
    <TimeSeriesLabels name="label" toName="ts">
        <Label value="Run" background="#5b5"/>
        <Label value="Walk" background="#55f"/>
    </TimeSeriesLabels>

    <!-- Object tag for time series data source -->
    <TimeSeries timeColumn="0"
                sep=","
                name="ts" valueType="url" value="$csv"
                overviewChannels="1">
        <Channel column="1"
                 units="magnitude"
                 displayFormat=",.1f"
                 strokeColor="#1f77b4"
                 showGrid="true"
                 legend="Velocity"/>
        <Channel column="2"
                 units="magnitude"
                 displayFormat=",.1f"
                 showGrid="true"
                 strokeColor="#ff7f0e"
                 legend="Acceleration"/>
    </TimeSeries>
</View>