# attr
azure-storage-blob
bleach
boto
boto3
boxing
colorama
defusedxml
Django==3.2.20
django_annoying
django-cors-headers
django_debug_toolbar
django-environ
django-extensions
django_filter
django_model_utils
django-ranged-fileresponse
djangorestframework
django_rq==2.5.1
django-storages
django-user-agents
drf_dynamic_fields
drf-flex-fields
drf-generators
google-cloud-storage
htmlmin
humansignal-drf-yasg
jsonschema==3.2.0
launchdarkly-server-sdk==7.5.0
lockfile
lxml
ordered_set
pandas
psycopg2-binary
pydantic>=1.7.3,<=1.11.0
python_dateutil
python-json-logger
pytz
pyyaml
redis
requests
rq
rules
sentry-sdk
ujson
urllib3
wheel
xmljson

label-studio-converter==0.0.57
