wheel
appdirs>=1.4.3
attr==0.3.1
attrs==19.1.0
pyyaml>=5.3.1
azure-storage-blob>=12.6.0
boto==2.49.0
boto3==1.16.28
botocore==1.19.28
google-cloud-storage==1.28.1
Django==3.1.4
django_annoying==0.10.6
django_debug_toolbar==3.2
django_filter==2.4.0
django_model_utils==4.1.1
django_rq==2.3.2
django-cors-headers==3.6.0
django-extensions==3.1.0
django-rest-swagger==2.2.0
django-user-agents==0.4.0
django-ranged-fileresponse==0.1.2
django-redis-cache==3.0.0
drf_dynamic_fields==0.3.0
drf_yasg==1.20.0
drf-generators==0.3.0
label-studio-converter==0.0.28
htmlmin==0.1.12
jsonschema==3.2.0
lockfile>=0.12.0
lxml>=4.2.5
moto==1.3.16.dev122
numpy>=1.19.1
ordered_set==4.0.2
pandas>=0.24.0
protobuf>=3.15.5
psycopg2-binary==2.8.4
pydantic==1.7.3
python_dateutil==2.8.1
pytz==2019.3
requests>=2.22.0,<3
rq==1.7.0
rules==2.2
ujson>=3.0.0
xmljson==0.2.0
colorama>=0.4.4
boxing>=0.1.4
redis>=3.5.0
