pytest==7.2.2
pytest-cov==2.12.1
pytest-django==4.1.0
pytest-mock==1.10.3
requests-mock==1.5.2
moto==4.2.6
mock==5.1.0
tavern==2.3.0
fakeredis==1.5.0
pytest-env==0.6.2
responses==0.13.0
pytest-xdist~=2.5.0
importlib-metadata==4.13.0;python_version < '3.8'
psutil==5.9.4
freezegun~=1.2.2
pre-commit==3.3.3
responses==0.13.0
s3transfer==0.7.0
https://github.com/HumanSignal/label-studio-sdk/archive/3c1e0513cba426ab8ada2259ca4e368dd1086baf.zip
