.block {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.section {
  width: 100%;
  display: block;
  position: relative;
  background: #fff;
  padding: 1em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.2rem;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 100%;
    width: 1px;
    background: rgba(0, 0, 0, 0.05);
    content: "";
  }

  &__blocks {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.delete {
  margin-left: 10px;
  border: 0;
  background: transparent;
  color: #b57272;
}
