.button
  --button-color #000
  height 40px
  border none
  cursor pointer
  padding 0 16px
  outline none
  display inline-flex
  background-color #fff
  align-items center
  border-radius 5px
  text-align center
  text-decoration none
  transition all 100ms ease
  justify-content center
  color var(--button-color) !important
  box-shadow inset 0px -1px 0px rgba(#000, 0.1), inset 0px 0px 0px 1px rgba(#000, 0.15)

  font-weight 500
  font-size 16px

  &:hover:not(:disabled):not(&_waiting)
    color var(--button-color)
    box-shadow 0px 2px 4px rgba(#000, 0.05), inset 0px -1px 0px rgba(#000, 0.1), inset 0px 0px 0px 1px rgba(#000, 0.2)

  &:active
    color var(--button-color)
    background linear-gradient(0deg, rgba(#000, 0.02), rgba(#000, 0.02)), #FFFFFF
    box-shadow inset 0px 1px 0px rgba(#000, 0.1), inset 0px 0px 0px 1px rgba(#000, 0.2)

  &:focus
    outline none
    box-shadow 0px 0px 0px 6px rgba($accent_color, 0.2), inset 0px -1px 0px rgba(#000, 0.1), inset 0px 0px 0px 1px rgba(#000, 0.15), inset 0px 0px 0px 1px rgba($accent_color, 0.2)

  &_waiting,
  &:disabled
    --button-color rgba(#000, 0.5)
    background-color #efefef

  &__extra
    font-size 14px
    line-height 16px
    display flex
    color rgba(#000, 0.4)
    align-items center
    margin-left 7px
    margin-right -7px


  &__icon
    display flex
    width 16px
    height 16px
    align-items center

    &:not(:only-child)
      margin-right 12px

    &:only-child
      flex 1
      align-items center
      justify-content center

    svg
      width 100%
      height 100%

  &_type
    &_text
      padding 0

    &_text, &_link
      padding 0
      min-width 0
      box-shadow none
      background none
      background-color none

      &:hover
        box-shadow none

    &_link
      --button-color $accent_color
      text-decoration underline

  &_look
    &_primary
      --button-color #fff
      background-color $accent_color
      box-shadow none
      box-shadow inset 0px -1px 0px rgba(#000, 0.1)

      &:disabled
        --button-color rgba(#fff, 0.8)
        background-color #BBBBBB

      &:hover:not(:disabled)
        background linear-gradient(0deg, rgba(#fff, 0.1), rgba(#fff, 0.1)), $accent_color
        box-shadow 0px 2px 4px rgba($accent_color, 0.3), inset 0px -1px 0px rgba(#000, 0.1)

      &:active:not(:disabled)
        background linear-gradient(0deg, rgba(#000, 0.04), rgba(#000, 0.04)), $accent_color
        box-shadow inset 0px 1px 0px rgba(#000, 0.1)

      &:focus:not(:disabled)
        box-shadow 0px 0px 0px 6px rgba($accent_color, 0.2), inset 0px -1px 0px rgba(#000, 0.1)

    &_danger
      --button-color $danger_color

    &_destructive
      --button-color #fff
      background-color $danger_color

  &_look_danger:disabled,
  &_look_danger&_waiting
    --button-color rgba($danger_color, 0.5)

  &_look_destructive:disabled,
  &_look_destructive&_waiting
    --button-color rgba(#fff, 0.5)
    background-color $danger_color

  &_size
    &_compact
      height 36px
      font-size 14px

    &_medium
      height 32px
      font-size 14px

    &_small
      height 24px
      font-size 12px
      padding 0 10px

    &_large
      height 40px
      font-size 16px

  &_size_small &__extra
    margin-left 5px
    margin-right -5px

  &_size_medium &__extra
    margin-left 7px
    margin-right -7px

  &_size_compact &__extra
    margin-left 7px
    margin-right -7px

  &_size_large &__extra
    margin-left 10px
    margin-right -10px

  &_withIcon
    justify-content space-between

  &_withIcon:not(&_type_link)
    padding 0 14px

  &_withIcon&_size_small
    padding 0 10px

  &_waiting
    pointer-events none
    background-repeat repeat
    background-position 40px
    background-size 37px 100%
    animation button-waiting 1s linear infinite
    background-image repeating-linear-gradient(
      -63.43deg,
      rgba(#fff, 0.2) 1px,
      #efefef 2px,
      #efefef 6px,
      rgba(#fff, 0.2) 7px,
      rgba(#fff, 0.2) 12px
    )
    background-color #fff

  &_waiting&_look_primary
    background-image repeating-linear-gradient(
      -63.43deg,
      rgba(#fff, 0.2) 1px,
      transparent 2px,
      transparent 6px,
      rgba(#fff, 0.2) 7px,
      rgba(#fff, 0.2) 12px
    )
    background-color $accent_color

  &_size_small &__icon
    width 12px

    &:not(:only-child)
      margin-right 8px

.button-group
  display flex

  &:not(&_collapsed)
    .button + .button
      margin-left 16px

  &_collapsed
    .button:first-child
      border-radius 5px 0 0 5px

    .button:last-child
      border-radius 0 5px 5px 0

    .button:not(:first-child):not(:last-child)
      border-radius 0

@keyframes button-waiting
  0%
    background-position 0 0

  100%
    background-position 37px 0
