.outliner
  &__empty
    padding 16px
    font-size 14px
    color rgba(#000, 0.6)

  &__filters
    &-empty
      text-align center
      margin 22px 0 30px 0

    &-title
      font-weight 500
      font-size 12px
      color #1f1f1f

    &-description
      font-weight 400
      font-size 12px
      color #898098