$black = #000
$accent_color = #0099FF
$danger_color = $red_7

// @todo colors indices should represent different shades (see other colors below)
// opacity should be applied in place, not in definition
$black_2 = rgba($black, 0.02)
$black_10 = rgba($black, 0.1)
$black_15 = rgba($black, 0.15)
$black_20 = rgba($black, 0.20)
$black_40 = rgba($black, 0.40)

$red_1 = #FFF1F0
$red_7 = #CF1322
$red_10 = #5C0011

$grey_1 = #FFFFFF
$grey_2 = #FAFAFA
$grey_3 = #F5F5F5
$grey_5 = #D9D9D9
$grey_6 = #BFBFBF
$grey_7 = #8C8C8C
$grey_8 = #595959
$grey_10 = #262626
$grey_13 = #000000

$green_4 = #95DE64
$green_6 = #52C41A
