* {
  box-sizing: border-box;
}

html {
  --color-purple-100: #D660FF;
  --color-purple-90: #DD7DFF;
  --color-purple-30: #F5D8FF;

  --color-orange-90: #FF8267;
  --color-orange-30: #FFDAD1;
  --color-orange-10: #FFF3F0;

  --color-yellow-100: #FFB156;
  --color-yellow-90: #FFC27B;
  --color-yellow-30: #FFEDD8;
  --color-yellow-5: #FFF9F2;

  --color-blue-90: #4AA0F1;

  --color-gray-900: #131522;
  --color-gray-800: #323443;
  --color-gray-700: #505263;
  --color-gray-600: #646676;
  --color-gray-500: #8B8D9E;
  --color-gray-400: #ACAEBF;
  --color-gray-300: #D0D2E4;
  --color-gray-200: #E2E4F6;
  --color-gray-100: #ECEEFD;
  --color-gray-50: #F5F7FE;
  --color-gray-10: #FBFCFF;
  --color-white: #ffffff;

  --font-family-primary: "SpaceGrotesk-Bold", sans-serif;
  --font-family-secondary: "Inter-Regular", sans-serif;
  --font-family-monospace: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;

  color: var(--color-gray-900);
  font-family: var(--font-family-secondary);
}

body {
  margin: 0;
  padding: 0;
}

.page-header {
  border-bottom: 1px solid;
  height: 75px;
  z-index: 2;
  position: sticky;
  top: 0;
  background-color: var(--color-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  gap: 2em;
}

.page-header nav > ul {
  display: flex;
  gap: 2em;
  list-style: none;
  margin: 0;
  padding: 0;
}

.page-header nav > ul > li {
  position: relative;
}

.page-header nav > ul > li > ul {
  display: none;
  padding: 0.75em;
  flex-direction: column;
  gap: 0.5em;
  list-style: none;
  position: absolute;
  top: calc(100% - 5px);
  left: -0.5em;
  border: 1px solid var(--color-gray-900);
  background-color: var(--color-white);
  z-index: 2;
}

.page-header nav > ul > li:hover > ul {
  display: flex;
}

.page-header nav a:not(.Button) {
  color: var(--color-gray-900);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.25em;
  height: 100%;
}

.page-header nav a:not(.Button):hover {
  color: var(--color-orange-90);
}

.page-header nav > ul li > ul {
  display: none;
}

main {
  --sidebar-size: 308px;
  display: flex;
}

.content {
  position: relative;
  padding: 75px 50px;
  width: 100%;
}

.content-decoration {
  position: absolute;
  top: -1px;
  left: -1px;
}

.page-sidebar {
  --color-accent: var(--color-orange-90);

  position: sticky;
  width: var(--sidebar-size);
  top: 75px;
  height: calc(100vh - 75px);
  overflow: auto;
  border-right: 1px black solid;
  padding: 1.5em 1.5em 3em 1.5em;
}

.page-sidebar [aria-current="page"] {
  color: var(--color-accent);
  font-weight: 600;
}

.page-sidebar .Text {
  color: var(--color-gray-600);
  margin-top: 2rem;
  margin-bottom: 0;
}

.page-sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.page-sidebar ul li + li {
  margin-top: 0.25em;
}

.page-sidebar ul a {
  font-size: 0.875rem;
  text-decoration: none;
  color: var(--color-gray-900);
}

.page-sidebar ul a:hover {
  color: var(--color-accent);
}

.columns {
  --gap: 2rem;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
  grid-gap: var(--gap);
}

.columns + .columns {
  margin-top: var(--gap);
}

.card {
  border: 1px #D0D2E4 solid;
  padding: 1.5rem;
}

.card-light {
  border: 1px #F5F7FE solid;
  background-color: #F5F7FE;
}

.card * {
  margin: 0;
}

.card-links-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.card-links-list li + li {
  margin-top: 0.75em;
}

.card-title.XSmall {
  margin-bottom: 0.75em;
}

.card-title.Medium {
  margin-bottom: 0.25em;
}

.card-cta {
  margin-top: 0.8em;
}

.content-footer {
  border-top: 1px #D0D2E4 solid;
  padding-top: 2em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
  gap: 4em;
  margin-top: 5em;
}

.container {
  margin: 0 auto;
  max-width: 1030px;
}

.home-page-title {
  margin: 0 0 -0.1em 0;
}

.home-page-title-grid {
  display: flex;
  gap: 2em;
  margin-bottom: 1em;
}









/****************************
  Heading styles
****************************/

.Heading,
.content-markdown h1,
.content-markdown h2,
.content-markdown h3,
.content-markdown h4,
.content-markdown h5,
.content-markdown h6 {
  --min-size: 1.75rem; /* 28px */
  --max-size: 2.25rem; /* 36px */
  --breakpoint: 5vw;
  --line-height: 100%;

  font-size: clamp(var(--min-size), var(--breakpoint), var(--max-size));
  line-height: var(--line-height);
  font-family: var(--font-family-primary);
}

.Heading.XXLarge {
  --min-size: 3rem; /* 48px */
  --max-size: 5.625rem; /* 90px */
  --line-height: 98%;
}

.Heading.XLarge,
.content-markdown h1 {
  --min-size: 2.375rem; /* 38px */
  --max-size: 4rem; /* 64px */
  --line-height: 106%;
}

.Heading.Large,
.content-markdown h2 {
  --min-size: 2rem; /* 32px */
  --max-size: 3rem; /* 48px */
  --line-height: 106%;
}

.content-markdown h3 {
  padding-bottom: 0.25em;
  border-bottom: 1px solid var(--color-gray-300);
}

.Heading.Small,
.content-markdown h4 {
  --min-size: 1.25rem; /* 20px */
  --max-size: 1.75rem; /* 28px */
  --line-height: 1.07;
}

.Heading.XSmall,
.content-markdown h5 {
  --min-size: 1rem; /* 16px */
  --max-size: 1.5rem; /* 24px */
  --line-height: 100%;
}

.Heading.XXSmall,
.content-markdown h6 {
  --min-size: 0.875rem; /* 14px */
  --max-size: 1.125rem; /* 18px */
  --breakpoint: 3vw;
  --line-height: 100%;
}

.content-markdown h2,
.content-markdown h3,
.content-markdown h4,
.content-markdown h5,
.content-markdown h6 {
  margin-bottom: 0;
  margin-top: 2em;
}
.content-markdown a {
  color: var(--color-orange-90);
}

.content-markdown a:hover {
  text-decoration: none;
}

/****************************
  Paragraph styles
****************************/

.Text,
.content-markdown p,
.content-markdown ul,
.content-markdown ol {
  --min-size: 1rem; /* 16px */
  --max-size: 1.125rem; /* 18px */
  --line-height: 1.56;

  font-family: var(--font-family-secondary);
  font-size: clamp(var(--min-size), 7vw, var(--max-size));
  color: var(--color-gray-900);
  line-height: var(--line-height);
  font-weight: normal;
}

.Text.Large {
  --min-size: 1.25rem; /* 20px */
  --max-size: 1.5rem; /* 24px */
  --line-height: 1.41;
}

.Text.Small {
  --min-size: 0.75rem; /* 12px */
  --max-size: 0.875rem; /* 14px */
  --line-height: 1.41;
}

.Text.Eyebrow {
  --min-size: 0.75rem; /* 12px */
  --max-size: 0.75rem; /* 12px */

  font-family: var(--font-family-monospace);
  text-transform: uppercase;
}

.Text.Code {
  --min-size: 0.875rem; /* 14px */
  --max-size: 1rem; /* 16px */
  font-family: var(--font-family-monospace);
}

/****************************
  Fonts
****************************/

@font-face {
  font-family: "SpaceGrotesk-Bold";
  src: url("/fonts/SpaceGrotesk-Bold-subset.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Regular-subset.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-SemiBold-subset.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/****************************
  Links
****************************/

.Link {
  font-size: 1em;
  color: var(--color-gray-900);
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 0.5em;
}

.Link svg {
  fill: currentColor;
}

.Link:hover {
  color: var(--color-orange-90);
}

.Link.Full {
  width: 100%;
  justify-content: space-between;
}

/****************************
  Button styles
****************************/

.Button {
  background-color: var(--color-gray-900);
  padding: 0.95em 2em;
  text-decoration: none;
  border: 1px var(--color-gray-900) solid;
  display: inline-flex;
  align-items: center;
  transition: background-color 200ms, border-color 200ms;
  color: var(--color-white);
  font-size: 1rem;
  gap: 0.5em; 
  font-family: var(--font-family-primary);
}

.Button:hover {
  background-color: var(--color-orange-90);
  border-color: var(--color-orange-90);
}

.Button svg {
  width: 1.5em;
  height: auto;
}

.Secondary {
  background-color: transparent;
  color: var(--color-gray-900);
}

.Secondary:hover {
  background-color: var(--color-gray-900);
  border-color: var(--color-gray-900);
  color: var(--color-white);
}

.content-grid {
  display: grid;
  grid-template-columns: 82ch 1fr;
  align-items: flex-start;
  gap: 3em;
}

.toc {
  background-color: var(--color-gray-10);
  padding: 2em;
}

.toc-list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 500;
}

.toc-list a {
  color: var(--color-gray-900);
  text-decoration: none;
}

.toc-list a:hover {
  color: var(--color-orange-90);
}

.toc-list li + li {
  margin-top: 1em;
}

/****************************
  Markdown styles
****************************/

.content-markdown * {
  scroll-margin-top: 3em;
}

.content-markdown li::marker {
  color: var(--color-purple-90);
  font-family: var(--font-family-primary);
  font-weight: bold;
}

.content-markdown p,
.content-markdown ol,
.content-markdown ul {
  color: var(--color-gray-700);
}

.content-markdown li + li {
  margin-top: 1em;
}

.content-markdown code:not(.hljs) {
  font-family: var(--font-family-monospace);
  font-size: 0.85em;
  font-weight: bold;
  color: var(--color-purple-90);
  background-color: var(--color-gray-50);
  padding: 0.25em;
  border-radius: 6px;
}

.content-markdown table {
  border: 1px var(--color-gray-200) solid;
  border-collapse: collapse;
  margin: 2em 0;
  overflow: auto;
}

.content-markdown table tr th {
  background-color: var(--color-gray-200);
  font-family: var(--font-family-primary);
  font-size: 0.9em;
  color: var(--color-gray-900);
  padding: 0.6em;
}

.content-markdown table tbody tr:nth-child(even) {
  background-color: var(--color-gray-10);
}

.content-markdown table tbody tr td {
  border-right: 1px var(--color-gray-200) solid;
  border-bottom: 1px var(--color-gray-200) solid;
  padding: 0.6em;
}

.content-markdown img {
  max-width: 100%;
  height: auto;
  margin: 1em 0;
}

.content-markdown hr {
  margin: 3em 0;
  border: 1px var(--color-gray-100) solid;
}

.content-markdown .admonition {
  --color-border: var(--color-gray-200);
  --color-title: var(--color-gray-900);
  --color-title-background: var(--color-gray-200);
  --color-background: transparent;

  border: 1px var(--color-border) solid;
  padding: 1em;
  background-color: var(--color-background);
}

.content-markdown .admonition-title {
  --min-size: 0.75rem; /* 12px */
  --max-size: 0.75rem; /* 12px */

  font-family: var(--font-family-monospace);
  text-transform: uppercase;
  padding: 0.25em 0.5em;
  background-color: var(--color-title-background);
  display: inline-block;
  color: var(--color-title);
  margin: 0;
}

.content-markdown .admonition.note {
  --color-border: transparent;
  padding-left: 0;
  padding-right: 0;
  font-style: italic;
}

.content-markdown .admonition.note .admonition-title {
  font-style: normal;
}

.content-markdown .admonition.attention {
  --color-border: #FF6767;
  --color-title: var(--color-white);
  --color-title-background: #FF6767;
  --color-background: #FF676705;
}


.content-markdown .admonition.warning {
  --color-border: var(--color-yellow-100);
  --color-title: var(--color-white);
  --color-title-background: var(--color-yellow-100);
  --color-background: var(--color-yellow-5);
}

.content-markdown .admonition.enterprise {
  --color-border: var(--color-gray-900);
  --color-title: var(--color-white);
  --color-title-background: var(--color-gray-900);
  --color-background: var(--color-gray-10);
}

.content-markdown iframe {
  margin: 3em 0;
}

.code-tabs > div:not(.buttons) {
  border: 1px solid var(--color-gray-100);
  border-radius: 2px;
  z-index: 100;
  padding: 1em;
}

.code-tabs > .buttons {
  display: flex;
  gap: 1.5em;
}

.code-tabs > .buttons a {
  text-decoration: none;
  padding: 0.5em 0;
  color: var(--color-gray-500);
}

.code-tabs > .buttons a:hover {
  color: var(--color-orange-90);
}

.code-tabs > .buttons a.active {
  color: var(--color-orange-90);
  border-bottom: 3px currentColor solid;
}

.code-tabs > div:not(first-child) {
  display: none;
}

/****************************
  Templates
****************************/

.templates-grid {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(16em, 1fr));
  margin-top: 3em;
}

.templates-card {
  --padding: 0.75em;

  background-color: var(--color-gray-10);
  border: 1px solid var(--color-gray-200);
  padding: var(--padding);
  transition: border-radius 200ms;
  position: relative;
}

.templates-card:hover {
  border-color: var(--color-orange-90);
  border-radius: 16px;
}

.templates-card:hover a {
  color: var(--color-orange-90);
}

.templates-card:hover img {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.templates-card img {
  width: calc(var(--padding) * 2 + 100%);
  height: auto;
  margin: calc(-1 * var(--padding)) calc(-1 * var(--padding)) 0.75em calc(-1 * var(--padding));
  transition: border-radius 200ms;
}

.templates-card p {
  color: var(--color-gray-500);
  margin-bottom: 0;
}

.templates-card a {
  color: var(--color-gray-900);
  text-decoration: none;
  transition: color 200ms;
}

.templates-card a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
}

/******
Footer 
******/

.Footer {
  background-color:var(--color-gray-900);
  padding:5em 0 2em 0;
  width:100%;
  display:grid;
  color:#fff;
  place-items:center;
  position: relative;
  z-index: 3;
}

.FooterWrapper {
  width: 100%;
  padding: 0 3em;
  overflow: hidden;
}

.FooterGrid {
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
  row-gap:2em
}
.FooterMenus {
  display:flex;
  gap:5em;
  align-items:flex-start;
  flex-wrap:wrap
}
.FooterNav {
  display:flex;
  flex-wrap:wrap;
  gap:5em
}
.FooterNav  ul {
  list-style:none;
  margin:0;
  padding:0
}
.FooterNav  ul  li +li {
  margin-top:1em
}
.FooterNav a {
  color:var(--color-white);
  text-decoration:none;
  transition:color .2s
}
.FooterNav a:hover{
  color:var(--color-orange-90)
}
.FooterLogo {
  width:100%;
  height:auto
}
.FooterCTA {
  position:relative;
  background-color:var(--color-white)
}
.FooterCTAButton:hover{
  background-color:var(--color-orange-90)
}
.FooterCTASquares {
  position:absolute;
  top:0;
  right:-51px;
  z-index:-1
}
.FooterNav .FooterNavHeading {
  margin-top:0;
  color:var(--color-gray-400)
}
.Footer .FooterCopyright {
  color:var(--color-gray-400);
  margin-top:5em
}
.FooterSocials {
  margin-top:clamp(1em,7vw,2em)
}
.FooterContainer {
  overflow:hidden;
  width:100%
}
@media (max-width: 62.8125rem){
  .FooterCTASquares {
      display:none
  }
  .FooterNav {
      grid-row-gap:3em
  }
}
@media (max-width: 37.5rem){
  .Footer {
      position:relative
  }
}
@media (max-width: 75rem){
  footer {
      position:static
  }
  .FooterSocials {
      order:2
  }
  .FooterGrid {
      flex-direction:column
  }
}

.SocialIcons{
  --border-color: transparent;
  --icon-color: var(--color-white);
  --background-color: var(--color-gray-700);
  --hover-icon-color: var(--color-white);
  --hover-background-color: var(--color-orange-90)
}
.SocialIcons.Secondary{
  --border-color: var(--color-gray-900);
  --icon-color: var(--color-gray-900);
  --background-color: var(--color-white);
  --hover-icon-color: var(--color-white);
  --hover-background-color: var(--color-gray-900)
}
.SocialIcons ul{
  display:flex;
  flex-wrap:wrap;
  list-style:none;
  margin:0;
  padding:0;
  gap:1em
}
.SocialIcons ul li{
  position:relative
}
.SocialIcons ul li a{
  width:2.3125em;
  aspect-ratio:1/1;
  display:flex;
  align-items:center;
  justify-content:center;
  background-color:var(--background-color);
  color:var(--icon-color);
  border-radius:50%;
  border:1px solid var(--border-color);
  transition:all .2s
}
.SocialIcons ul li a:hover{
  background-color:var(--hover-background-color);
  color:var(--hover-icon-color)
}
.SocialIcons ul li a svg{
  width:70%;
  height:auto
}
.SocialIconsCopyTooltip{
  color:var(--color-white);
  background-color:var(--color-gray-900);
  padding:0 .15em;
  position:absolute;
  top:.7em;
  left:calc(100% + 1em);
  margin:0;
  opacity:0;
  pointer-events:none;
  transition:opacity .1s
}

/****************************
  Was it helpful form
****************************/
.helpful-container {

}

.helpful-button-group {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
}

.helpful-form,
.helpful-form fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

.helpful-form .helpful-radio-container {
  position: relative;
  cursor: pointer;
}

.helpful-form input[type="radio"] {
  appearance: none;
  bottom: 0;
  left: 0;
  margin: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.helpful-form .helpful-form-label {
  --min-size: 0.75rem; /* 12px */
  --max-size: 0.875rem; /* 14px */
  --line-height: 1.41;

  font-family: var(--font-family-secondary);
  font-size: clamp(var(--min-size), 7vw, var(--max-size));
  color: var(--color-gray-900);
  line-height: var(--line-height);
  font-weight: normal;
  margin-bottom: 0.5rem;
  display: block;
}

.helpful-form-textarea {
  font-family: var(--font-family-secondary);
  resize: none;
  border: 1px var(--color-gray-300) solid;
  padding: 0.5em;
  min-height: 4rem;
  width: 100%;
}

.helpful-form-textarea + .helpful-form-label {
  margin-top: 1rem;
}

.helpful-form-submit-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  margin-top: 1em;
}

.helpful-form-input {
  border: 1px var(--color-gray-300) solid;
  padding: 0.5em;
  width: 100%;
}

.helpful-form-more {
  display: none;
  padding-top: 2em;
}

.helpful-form input[type="radio"]:checked + .helpful-button {
  background-color: var(--color-orange-90);
  color: var(--color-white);
}

.helpful-button {
  appearance: none;
  background-color: var(--color-orange-10);
  border: 1px var(--color-orange-90) solid;
  color: var(--color-orange-90);
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  gap: 0.25em;
  padding: 0.5em;
}






/****************************
  Temporary styles
****************************/

.badge-design {
  background-color: red;
  color: white;
  padding: 0.25em;
  font-size: 1rem;
  font-family: var(--font-family-secondary);
  vertical-align: middle;
}





/****************************
  Code theme
****************************/

pre code.hljs {
  font-family: var(--font-family-monospace);
  font-size: 0.9rem;
  line-height: 1.25;
  border-radius: 8px;
  background: #131522;
}

/* pre code.hljs{display:block;overflow-x:auto;padding:1em}code.hljs{padding:3px 5px}.hljs{background:#26233a}.hljs,.hljs-subst{color:#e0def4}.hljs-selector-tag{color:#9ccfd8}.hljs-selector-id{color:#c4a7e7;font-weight:700}.hljs-selector-attr,.hljs-selector-class{color:#c4a7e7}.hljs-property,.hljs-selector-pseudo{color:#ebbcba}.hljs-addition{background-color:rgba(156,207,216,.5)}.hljs-deletion{background-color:rgba(235,111,146,.5)}.hljs-built_in,.hljs-class,.hljs-type{color:#c4a7e7}.hljs-function,.hljs-function>.hljs-title,.hljs-title.hljs-function{color:#ebbcba}.hljs-keyword,.hljs-literal,.hljs-symbol{color:#9ccfd8}.hljs-number{color:#f6c177}.hljs-regexp{color:#f6c177}.hljs-string{color:#9ccfd8}.hljs-title{color:#c4a7e7}.hljs-params{color:#e0def4}.hljs-bullet{color:#9ccfd8}.hljs-code{color:#c4a7e7}.hljs-emphasis{font-style:italic}.hljs-formula{color:#c4a7e7}.hljs-strong{font-weight:700}.hljs-link:hover{text-decoration:underline}.hljs-comment,.hljs-quote{color:#6e6a86}.hljs-doctag{color:#c4a7e7}.hljs-meta,.hljs-meta .hljs-keyword{color:#31748f}.hljs-meta .hljs-string{color:#9ccfd8}.hljs-attr{color:#c4a7e7}.hljs-attribute{color:#e0def4}.hljs-name{color:#9ccfd8}.hljs-section{color:#ebbcba}.hljs-tag{color:#9ccfd8}.hljs-template-variable,.hljs-variable{color:#e0def4}.hljs-template-tag{color:#31748f}.language-abnf .hljs-attribute{color:#ebbcba}.language-abnf .hljs-symbol{color:#f6c177}.language-apache .hljs-attribute{color:#ebbcba}.language-apache .hljs-section{color:#9ccfd8}.language-arduino .hljs-built_in{color:#ebbcba}.language-aspectj .hljs-meta{color:#eb6f92}.language-aspectj>.hljs-title{color:#ebbcba}.language-bnf .hljs-attribute{color:#c4a7e7}.language-clojure .hljs-name{color:#ebbcba}.language-clojure .hljs-symbol{color:#f6c177}.language-coq .hljs-built_in{color:#ebbcba}.language-cpp .hljs-meta .hljs-string{color:#c4a7e7}.language-css .hljs-built_in{color:#ebbcba}.language-css .hljs-keyword{color:#eb6f92}.language-diff .hljs-meta,.language-ebnf .hljs-attribute{color:#c4a7e7}.language-glsl .hljs-built_in{color:#ebbcba}.language-groovy .hljs-meta:not(:first-child),.language-haxe .hljs-meta,.language-java .hljs-meta{color:#eb6f92}.language-ldif .hljs-attribute{color:#c4a7e7}.language-lisp .hljs-name,.language-lua .hljs-built_in,.language-moonscript .hljs-built_in,.language-nginx .hljs-attribute{color:#ebbcba}.language-nginx .hljs-section{color:#31748f}.language-pf .hljs-built_in,.language-processing .hljs-built_in{color:#ebbcba}.language-scss .hljs-keyword,.language-stylus .hljs-keyword{color:#9ccfd8}.language-swift .hljs-meta{color:#eb6f92}.language-vim .hljs-built_in{color:#ebbcba;font-style:italic}.language-yaml .hljs-meta{color:#eb6f92} */
pre code.hljs{display:block;overflow-x:auto;padding:1em}code.hljs{padding:3px 5px}/*!
  Theme: Tokyo-night-Dark
  origin: https://github.com/enkia/tokyo-night-vscode-theme
  Description: Original highlight.js style
  Author: (c) Henri Vandersleyen <hvandersleyen@gmail.com>
  License: see project LICENSE
  Touched: 2022
*/.hljs-comment,.hljs-meta{color:#565f89}.hljs-deletion,.hljs-doctag,.hljs-regexp,.hljs-selector-attr,.hljs-selector-class,.hljs-selector-id,.hljs-selector-pseudo,.hljs-tag,.hljs-template-tag,.hljs-variable.language_{color:#f7768e}.hljs-link,.hljs-literal,.hljs-number,.hljs-params,.hljs-template-variable,.hljs-type,.hljs-variable{color:#ff9e64}.hljs-attribute,.hljs-built_in{color:#e0af68}.hljs-keyword,.hljs-property,.hljs-subst,.hljs-title,.hljs-title.class_,.hljs-title.class_.inherited__,.hljs-title.function_{color:#7dcfff}.hljs-selector-tag{color:#73daca}.hljs-addition,.hljs-bullet,.hljs-quote,.hljs-string,.hljs-symbol{color:#9ece6a}.hljs-code,.hljs-formula,.hljs-section{color:#7aa2f7}.hljs-attr,.hljs-char.escape_,.hljs-keyword,.hljs-name,.hljs-operator{color:#bb9af7}.hljs-punctuation{color:#c0caf5}.hljs{background:#1a1b26;color:#9aa5ce}.hljs-emphasis{font-style:italic}.hljs-strong{font-weight:700}



/****************************
  Enterprise theme
****************************/

.page-tier-enterprise .page-header {
  background-color: var(--color-gray-900);
}

.page-tier-enterprise .page-header nav a:not(.Button) {
  color: var(--color-white);
}

.page-tier-enterprise .page-header nav a:not(.Button):hover {
  color: var(--color-yellow-90);
}

.page-tier-enterprise .page-header .Button {
  background-color: var(--color-yellow-90);
  color: var(--color-gray-900);
}

.page-tier-enterprise .page-header .Button:hover {

}

.page-tier-enterprise .page-sidebar {
  --color-accent: var(--color-yellow-100);
}

.page-tier-enterprise .content-markdown a {
  color: var(--color-yellow-100);
}

.page-tier-enterprise .content-markdown li::marker {
  color: var(--color-gray-900);
}

.page-tier-enterprise .content-markdown code:not(.hljs) {
  color: var(--color-yellow-100);
}

.page-tier-enterprise .code-tabs > .buttons a {
  color: var(--color-gray-500);
}

.page-tier-enterprise .code-tabs > .buttons a:hover {
  color: var(--color-yellow-100);
}

.page-tier-enterprise .code-tabs > .buttons a.active {
  color: var(--color-yellow-100);
}