{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load filters %}

{% block content %}
<head>
    <title>Add sensor data </title>
</head>
<body>
    <div class="buttons">
        <form action="{% url 'sensordata:sensordatapage' project.id %}">
            <input type="submit" value="Go back to sensor data overview" style="background-color: #c4862b; width:25%; color: white"/>
        </form>
    </div>
    <div class="forms">
        <h2>Add sensor data</h2>
        <form id="sensor-data-form" enctype="multipart/form-data" action="{% url 'sensordata:addsensordata' project.id %}" method="post">
            {{ sensordataform }}
            <input type="submit" value="Add sensor data file">
        </form>
    </div>
    <div id="unpacking-message" style="display: none;">
        <p>Unpacking the zip file! Please wait...</p>
    </div>

    <script>
        document.getElementById('sensor-data-form').addEventListener('submit', function() {
            document.getElementById('unpacking-message').style.display = 'block';
        });
    </script>
</body>


{% endblock %}