{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load filters %}

{% block content %}
<head>
    <title>Add sensor data </title>
</head>
<body>
    <div class="buttons">
        <form action="/sensordata/">
            <input type="submit" value="Go back to sensor data overview" style="background-color: #c4862b; width:25%; color: white"/>
        </form>
    </div>
    <div class="forms">
        <h2>Add sensor data</h2>
        <form enctype="multipart/form-data" action="/sensordata/add/" method="post">
            {{ sensordataform }}
            <input type="submit" value="Add sensor data file">
        </form>

    </div>
</body>


{% endblock %}