<!-- {"title": "Link regions with text", "category": "time-series", "complexity": "basic", "order": "z"} -->
<View>
    <Header value="Link logger events with
                   monitoring signals using relations"/>

    <!-- Text setup -->
    <Header value="Mark actions in text" size="6"/>
    <Labels name="logger_label" toName="logger">
        <Label value="Error" background="red"/>
        <Label value="High load" background="darkorange"/>
        <Label value="None" background="orange"/>
    </Labels>

    <Text name="logger" value="$event"/>

    <!-- Time series setup -->
    <Header value="Mark regions in time series" size="6"/>
    <TimeSeriesLabels name="ts_label" toName="ts">
        <Label value="Error" background="red"/>
        <Label value="High load" background="darkorange"/>
        <Label value="None" background="orange"/>
    </TimeSeriesLabels>

    <TimeSeries name="ts" valueType="url" value="$csv"
                sep="," timeColumn="time">
        <Channel column="temperature"
                 strokeColor="#17b" legend="Temperature"/>
    </TimeSeries>

</View>

<!-- Sample task data -->
<!-- { "data": { "event": "NetworkManager[1365]: <warn>  [1603289054.3953] error requesting auth for org.freedesktop.NetworkManager.enable-disable-wwan: Authorization check failed: Failed to open file “/proc/1868/status”: No such file or directory" } } -->
