import os

from label_studio.ml import init_app
from {script} import {model_class}

app = init_app(
    model_class={model_class},
    model_dir=os.environ.get('MODEL_DIR', "{model_dir}"),
    redis_queue=os.environ.get('RQ_QUEUE_NAME', 'default'),
    redis_host=os.environ.get('REDIS_HOST', 'localhost'),
    redis_port=os.environ.get('REDIS_PORT', 6379),
)


if __name__ == "__main__":
    app.run(host='localhost', port={port}, debug=True)
