<!-- {"title": "Dialogs & conversations", "category": "html", "complexity": "basic", "order": "1", "new": true} -->
<View>
  <ParagraphLabels name="actions" toName="dialogue">
      <Label value="Inform"/>
      <Label value="Request"/>
      <Label value="Negate"/>
      <Label value="Affirm"/>
  </ParagraphLabels>

  <Paragraphs
          audioUrl="$audio"
          name="dialogue"
          value="$dialogue"
          layout="dialogue"
          savetextresult="yes"
          nameKey="speaker"
          textKey="phrase"
  />
</View>
