.projects-page
  min-height calc(100vh - var(--header-height))
  background-color #e8e8e8

  &__loading
    width 100%
    height 100%
    display flex
    align-items center
    justify-content center

  &__title-container 
    display flex
    justify-content space-between
    align-items center
    border-radius 10px
    background-color #FAFAFA
    max-width 90%
    height 20%
    margin: 20px auto 0
    

  &__title-container h3
    margin-left: 20px
    color: #000000
    font-size: 18px
    font-weight: 600
  
  &__title-container p
    margin-left: 20px
    color: #000000
    font-size: 14px
    font-weight: 50


  &__create-project-button 
    margin: 10px;

  &__context-area
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100%;

    &__input-container
      width: 600px;
      border-radius: 10px;
      margin-right: 100px;
      padding: 10px;



  &__projects-container
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 90%;
    height: 80%;
    border-radius: 10px;
    background-color: #FAFAFA;
    margin: 20px auto 10px;
    gap: 20px;

  &__list
    padding: 0px;
    display: flex;
    flex-wrap: wrap; 
    box-sizing: border-box;
    width: 100%;
    justify-content: space-between;

  &__link
    color #000
    display block
    display flex
    text-decoration none
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    
    width: 45%; 
    margin: 10px auto

    &:hover
      color #000

  &__pages
    bottom 0
    width 100%
    position sticky
    display flex
    padding 10px 40px
    justify-content flex-end
    box-sizing border-box
    background-color #fafafa


  @media (min-width 1200px)
    &__list
      grid-template-columns repeat(2, 1fr)

  @media (min-width 1360px)
    &__list
      grid-template-columns repeat(4, 1fr)

  @media (min-width 1460px)
    &__list
      grid-template-columns repeat(5, 1fr)

.empty-projects-page
  color $grey_8
  text-align center
  display flex
  flex-direction column
  align-items center
  &__heidi
    height 256px
    margin-top 24px
  &__header
    font-size 32px
    font-weight 700
    margin 16px
    color $grey_8
  p
    font-size 24px
  &__action
    margin 72px 0 32px

.project-card
  --text-color #000
  flex 1
  display flex
  flex-direction column
  background #FFFFFF
  box-shadow 0px 0px 5px rgba(0, 0, 0, 0.1);
  border-radius 4px
  padding: 20px;
  overflow hidden
  margin: 10px;
  width: 70%;
  color var(--text-color)

  &__header
    padding 12px 16px
    background-color: #e8e8e8;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); 
    margin-bottom: 20px;

  &__menu
    margin-left auto

    .button
      opacity 0.5
      margin-right -10px
      --button-color var(--text-color)

      &__icon
        width 28px
        height 28px

  &__title
    display flex
    font-size 16px
    font-weight 500
    margin-bottom 5px
    line-height 22px
    align-items flex-start
  
    &-text
      max-width 250px
      white-space nowrap
      overflow hidden
      text-overflow ellipsis

    &-created-by
    display flex
    flex-direction row-reverse  
    align-items center
    position relative

    .userpic {
      position: absolute;
      margin-left: 30.5%; 
    }

  &__summary
    flex 1
    font-size 14px
    line-height 22px

  &__total
    opacity 0.6
    display flex
    align-items center



  &__annotation
    display flex
    justify-content space-between

  &__detail
    display grid
    grid-auto-flow column
    grid-gap 30px
    grid-auto-columns max-content

    &-item
      --icon-color #fff
      display flex
      align-items center

      ^[0]__icon
        color var(--icon-color)

      &_type
        &_completed
          --icon-color #64BF00
        &_rejected
          --icon-color #DD0000
        &_predictions
          --icon-color #0077FF

  &__icon
    margin-right 10px

  &__description
    flex 1
    opacity 0.6
    font-size 16px
    line-height 22px
    padding 0px 0px 0
    overflow hidden
    color rgba(#000, 0.6)
    text-overflow ellipsis
    display -webkit-box
    word-break break-word
    -webkit-line-clamp 3
    -webkit-box-orient vertical

  &__info
    display flex
    align-items center
    padding 16px 16px 10px 16px
    justify-content space-between

  &__created-date
    color rgba(#000, 0.4)
    font-size: 90%
    display flex
    align-items center

    & > span
      font-weight 500

  &_colored
    --text-color #fff
    background-color var(--background-color)

  &_colored ^[0]
    &__header
      background-color var(--header-color)
      box-shadow none

    &__detail
      &-item
        --icon-color #fff


