{% extends 'users/user_base.html' %} 
{% load static %} 

{% block user_content %}

<div class="container mx-auto h-full flex justify-center items-center">
  <div class="w-1/3">
    <h1 class="font-hairline mb-6 text-center">Data Studio</h1>
    <div class="border-teal p-8 border-t-12 bg-white mb-6 rounded-lg shadow-lg">
      <div class="mb-4">
        <label class="font-bold text-grey-darker block mb-2"
          >Create Your Data Studio Account</label
        >
      </div>
      <form
        id="signup-form"
        action="{% url 'user-signup' %}?{% if next %}&next={{ next }}{% endif %}{% if token %}&token={{ token }}{% endif %}"
        method="post"
      >
        {% csrf_token %}
        <div class="mb-4">
          <label class="font-bold text-grey-darker block mb-2">Email</label>
          {% if user_form.errors.email %}
          <ul class="field_errors">
            {% for error in user_form.errors.email %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
          {% endif %}
          <input
            type="text"
            class="block appearance-none w-full bg-white border border-grey-light hover:border-grey px-2 py-2 rounded shadow"
            name="email"
            id="email"
            placeholder="Your email"
            value="{{ form.data.email }}"
          />
        </div>
        <div class="flex mb-4">
          <div class="w-1/2 mr-1">
              <label class="font-bold text-grey-darker block mb-2"
              >First Name</label
              >
              <input
              type="text"
              class="block appearance-none w-full bg-white border border-grey-light hover:border-grey px-2 py-2 rounded shadow"
              name="first_name"
              placeholder="First name"
              />
              {% if "first_name" in user_form.errors %}
              <ul class="field_errors">
                {% for error in user_form.errors.first_name %}
                <li>{{ error }}</li>
                {% endfor %}
            {% else %}
                user: {
                    id: {{user.id}},
                    firstName: "{{user.first_name}}",
                }
            {% endif %}
        </div>
          <div class="w-1/2 ml-1">
            <label class="font-bold text-grey-darker block mb-2"
              >Last Name</label
            >
            <input
              type="text"
              class="block appearance-none w-full bg-white border border-grey-light hover:border-grey px-2 py-2 rounded shadow"
              name="last_name"
              placeholder="Last name"
            />
            {% if "last_name" in user_form.errors %}
            <ul class="field_errors">
              {% for error in user_form.errors.last_name %}
              <li>{{ error }}</li>
              {% endfor %}
            </ul>
            {% else %}
            user: {
                lastName: "{{user.last_name}}",
            }
            {% endif %}
          </div>
        </div>
        <div class="mb-4">
          <label class="font-bold text-grey-darker block mb-2">Password</label>
          <input
            type="password"
            class="block appearance-none w-full bg-white border border-grey-light hover:border-grey px-2 py-2 rounded shadow"
            name="password"
            id="password"
            placeholder="Password"
          />
          {% if user_form.errors.password %}
          <ul class="field_errors">
            {% for error in user_form.errors.password %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
        <div class="mb-4">
            <input
            type="password"
            class="block appearance-none w-full bg-white border border-grey-light hover:border-grey px-2 py-2 rounded shadow"
            name="re_password"
            placeholder="Confirm Password"
            />
            {% if user_form.data.password != user_form.data.re_password %}
            <ul class="field_errors">
              <li>Passwords do not match!</li>
            </ul>
            {% endif %}
            <label class="font-bold text-grey-darker block mb-2"
              >Re-enter Password</label
            >
        </div>
        <div class="flex mt-4">
          <button
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full"
            type="submit"
          >
            Sign Up
          </button>
        </div>
        <div class="mt-4">
          <p class="text-sm">
            By proceeding, you agree to the
            <a href="#" class="underline">Terms and Conditions</a> and
            <a href="#" class="underline">Privacy Policy</a>.
          </p>
        </div>
      </form>
    </div>
    <div class="text-center">
      {% if not settings.DISABLE_SIGNUP_WITHOUT_LINK %}
      <p class="text-grey-dark text-sm">
        Already have an account?
        <a
          href="{{ settings.HOSTNAME }}/user/login"
          class="{% if 'login' in request.path %}active{% endif %} no-underline text-blue font-bold"
          >Login</a
        >.
      </p>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
