{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{{ settings.HOSTNAME }}{% static 'css/uikit.css' %}">
<link rel="stylesheet" href="{{ settings.HOSTNAME }}{% static 'css/users.css' %}">
{% endblock %}

{% block divider %}
{% endblock %}

{% block frontend_settings %}
  {
    breadcrumbs: [
      {
        title: "Account & Settings"
      }
    ],
  }
{% endblock %}

{% block content %}


<div class="full_content">
  <div class="account-page">
    <form action="{% url 'user-detail' pk=user.pk %}" method="patch" class="user__info">
      <input type="hidden" name="_method" value="patch"/>

      <header>Account info</header>
      <ul>
        <li class="field">
          <label for="">E-mail</label>
          <input type="text" class="ls-input" value="{{user.email}}" disabled />
        </li>
        <li class="field">
          <label for="">First Name</label>
          <input type="text" class="ls-input" name="first_name" value="{{user.first_name}}" />
        </li>
        <li class="field">
          <label for="">Last Name</label>
          <input type="text" class="ls-input" name="last_name" value="{{user.last_name}}" />
        </li>
        <li class="field">
          <label for="">Phone</label>
          <input type="text" class="ls-input" name="phone" value="{{user.phone}}" />
        </li>
        <div>
          <label for="advocate">Are you an advocate for animals?</label><input type="radio" name="advocate" value=true checked="{{user.advocate}}">Yes</input>
          <input type="radio" name="advocate" value=false >No</input></div>
        <div>
          <label for="current_lifestyle">Current Lifestyle/Diet:</label>
          <select id="current_lifestyle" name="current_lifestyle">
            <option value="diet_regular_meat_eater" {% if user.current_lifestyle == "diet_regular_meat_eater" %}selected{% endif %}>              Regular meat eater</option>
            <option value="diet_occasional_meat_eater" {% if user.current_lifestyle == "diet_occasional_meat_eater" %}selected{% endif %}>Occasional meat eater</option>
            <option value="diet_flexitarian" {% if user.current_lifestyle == "diet_flexitarian" %}selected{% endif %}>Flexitarian</option>
            <option value="diet_vegetarian" {% if user.current_lifestyle == "diet_vegetarian" %}selected{% endif %}>Vegetarian</option>
            <option value="diet_vegan" {% if user.current_lifestyle == "diet_vegan" %}selected{% endif %}>Vegan</option>
            <option value="diet_other" {% if user.current_lifestyle == "diet_other" %}selected{% endif %}>Other</option>
          </select>
        </div>
        <li>
          <label for="role">What is your role in animal advocacy?</label>
          <div class="checkboxes">
            <input type="checkbox" name="roles" id="roles" value="role_volunteer" {% if "role_volunteer" in user.roles %}checked{% endif %}>
            <label>Volunteer for an Animal Advocacy Organisation</label>
          </div>
          <div class="checkboxes">
            <input type="checkbox" name="roles" id="roles" value="role_donor" {% if "role_donor" in user.roles %}checked{% endif %}>
            <label>Donor to an Animal Advocacy Organisation</label>
          </div>
          <div class="checkboxes">
            <input type="checkbox" name="roles" value="role_staff" {% if "role_staff" in user.roles %}checked{% endif %}>
            <label>Staff Member of an Animal Advocacy Organisation</label>
          </div>  
          <div class="checkboxes">
            <input type="checkbox" name="roles" id="roles" value="role_researcher" {% if "role_researcher" in user.roles %}checked{% endif %}>
            <label>Researcher Studying Animal Advocacy Issues</label>
          </div>
          <div class="checkboxes">
            <input type="checkbox" name="roles" id="roles" value="role_independent" {% if "role_independent" in user.roles %}checked{% endif %}>
            <label>Independent Animal Advocate</label>
          </div>
          <div class="checkboxes">
            <input type="checkbox" name="roles" id="roles" value="role_legal" {% if "role_legal" in user.roles %}checked{% endif %}>
            <label>Animal Lawyer or Legal Advocate</label>
          </div>
          <div class="checkboxes">
            <input type="checkbox" name="roles" id="roles" value="role_rescuer" {% if "role_rescuer" in user.roles %}checked{% endif %}>
            <label>Animal Carer or Rescuer</label>
          </div>
          <div class="checkboxes">
            <input type="checkbox" name="roles" id="roles" value="role_influencer" {% if "role_influencer" in user.roles %}checked{% endif %}>
            <label>Vegan Influencer, Blogger or Content Creator</label>
          </div>
          <div class="checkboxes">
            <input type="checkbox" name="roles" id="roles" value="role_company_owner" {% if "role_company_owner" in user.roles %}checked{% endif %}>
            <label>Owner of a Vegan orCruelty-Free Company</label>
          </div>
          <div class="checkboxes">
            <input type="checkbox" name="roles" id="roles" value="role_company_staff" {% if "role_company_staff" in user.roles %}checked{% endif %}>
            <label>Staff Member of a Vegan or Cruelty-Free Company</label>
          </div>
          <div class="checkboxes">
            <input type="checkbox" name="roles" id="roles" value="role_investor" {% if "role_investor" in user.roles %}checked{% endif %}>
            <label>Investor in a Vegan or Cruelty-Free Company</label>
          </div>
          <div class="checkboxes">
            <input type="checkbox" name="roles" id="roles" value="role_other" {% if "role_other" in user.roles %}checked{% endif %}>
            <label>Other</label>
          </div>
        </li>
        <div>
          <label for="">What is your approach to animal advocacy?</label>
        </div>
        <div class="slidecontainer">
          <input type="range" min="1" max="5" class="slider" name="advocacy_approach" id="advocacy_approach" value="{{user.advocacy_approach}}">
        </div>
        <div class="slider-labels">
          <span>Incrementalist</span>
          <span>Abolitionist</span>
        </div>
        <div class="slidecontainer">
          <input type="range" min="1" max="5"  class="slider" name="advocacy_focus" id="advocacy_focus" value="{{user.advocacy_focus}}">
        </div>
        <div class="slider-labels">
          <span>Individual</span>
          <span>Institutional</span>
        </div>
        <div class="slidecontainer">
          <input type="range" min="1" max="5"  class="slider" name="advocacy_intersectionality" id="advocacy_intersectionality" value="{{user.advocacy_intersectionality}}">
        </div>
        <div class="slider-labels">
          <span>Solely on Animal Activisim</span>
          <span>Intersectional</span>
        </div>
        <div class="slidecontainer">
          <input type="range" min="1" max="5" class="slider" name="advocacy_rights" id="advocacy_rights" value="{{user.advocacy_rights}}">
        </div>
        <div class="slider-labels">
          <span>Focus on welfare</span>
          <span>Focus on rights</span>
        </div>
        <div class="slidecontainer">
          <input type="range" min="1" max="5" class="slider" name="advocacy_diplomacy" id="advocacy_diplomacy" value="{{user.advocacy_diplomacy}}">
        </div>
        <div class="slider-labels">
          <span>Diplomatic</span>
          <span>Confrontational</span>
        </div>
        <div class="slidecontainer">
          <input type="range" min="1" max="5"  class="slider" name="advocacy_empiricism" id="advocacy_empiricism" value="{{user.advocacy_empiricism}}">
        </div>
        <div class="slider-labels">
          <span>Intuitive Judgements on Effectiveness</span>
          <span>Empirical Judgements on Effectiveness</span>
        </div>
      </ul>
      <div class="user-some-actions">

        <div class="user-pic {{ user.avatar|yesno:'can_delete,can_upload' }}">
          <div class="userpic userpic--big">
            {% if user.avatar %}
              <img src="{{user.avatar_url}}" alt="User photo" width="92" />
            {% endif %}

            {% if user.get_initials %}
              <span>{{user.get_initials}}</span>
            {% else %}
              <span>{{user.username}}</span>
            {% endif %}
          </div>

          <button class="ls-button ls-button_look_danger" name="delete-avatar" type="button">
            Delete
          </button>

          <input class="file-input" type="file" name="avatar" value="Choose"
                accept="image/png, image/jpeg, image/jpg"/>
        </div>

        <!-- <div class="user-activity">
          <p>Inspect all your actions<br/>performed on the platform</p>
          <button type="button">Activity Log<img src="" /></button>
        </div> -->
      </div>
      <footer>
        <p class="secondary">Registered {{ user.date_joined|date:"M j, Y" }}, user ID {{ user.id }}</p>
        <button class="ls-button ls-button_look_primary" onclick="smart_submit()">Save</button>
      </footer>
    </form>

    <!-- Token -->
    <form action="" class="access_token__info">
      <header>Access Token</header>
      <div class="field field--wide">
        <label for="access_token">Use this token to authenticate with our API:</label>
        <input id="access_token" class="ls-input" name="access_token" type="text" value="{{token}}" readonly />
        <p class="actions">
          <button type="button" class="blinking-status ls-button" data-copy="access_token">Copy</button>
          <button type="button" class="blinking-status ls-button" name="renew">Renew</button>
        </p>
      </div>
      <!-- Example -->
      <div class="field field--wide">
        <label for="example_fetch">Example fetch projects data:</label>
        <textarea id="example_fetch" class="example_code ls-textarea" type="text" readonly
                  style="height: 92px; font-size: 14px">
          {% if settings.HOSTNAME %}
            curl -X GET {{ settings.HOSTNAME }}/api/projects/ -H 'Authorization: Token {{token}}'
          {% else %}
            curl -X GET http://localhost:8080/api/projects/ -H 'Authorization: Token {{token}}'
          {% endif %}
        </textarea>
        <p class="actions">
          <button type="button" class="blinking-status ls-button" data-copy="example_fetch">Copy</button>
          <a class="ls-button"
             {% if settings.VERSION_EDITION == 'Enterprise' %}
             href="https://docs.heartex.com/guide/api.html"
             {% else %}
             href="https://labelstud.io/guide/api.html"
             {% endif %} target="_blank">Documentation
          </a>
        </p>
      </div>
    </form>


    <!-- Organization -->
    <form action="" class="organization block-info" id="organization">
      <header>
        {{ user.active_organization.title }}
        <br>
        <sub style="font-size: 16px; margin-top: 0; color: rgba(0,0,0,0.2); ">Your active organization</sub>
      </header>

      <table>
        {% with user.get_pretty_role as role %}
          {% if role %}
            <tr><td>Your role</td><td>{{ user.get_pretty_role }}</td></tr>
          {% endif %}
        {% endwith %}
        <tr><td>Annotations completed by you</td><td>{{ user.active_organization_annotations.count }}</td></tr>
        <tr><td>Projects contributed by you</td><td>{{ user.active_organization_contributed_project_number }}</td></tr>
        <tr><td></td><td></td></tr>
        <tr><td style="min-width: 75px">Organization ID</td><td>{{ user.active_organization.id }}</td></tr>
        <tr><td>Organization owner</td><td>{{ user.active_organization.created_by }}</td></tr>
        <tr><td>Organization created at</td><td>{{ user.active_organization.created_at }}</td></tr>
      </table>

    </form>

    <!-- Notifications -->
    <form action="{% url 'user-detail' pk=user.pk %}?update-notifications=1" method="patch" class="notifications block-info" id="notifications">
      <header>
        Notifications
        <br>
        <sub style="font-size: 16px; margin-top: 0; color: rgba(0,0,0,0.2);">Email and other notifications</sub>
      </header>

      <table>
        <tr><td style="{% if user.allow_newsletters is None %}border: 1px red solid; border-radius: 5px{% endif %}">

          <input name="email" type="hidden" value="{{ user.email }}">
          <input name="first_name" type="hidden" value="{{ user.first_name }}">
          <input name="last_name" type="hidden" value="{{ user.last_name }}">

          <input name="allow_newsletters" type="hidden"
                 value="{% if user.allow_newsletters is None %}true{% else %}{{ user.allow_newsletters|yesno:"false,true" }}{% endif %}">

          <input name="allow_newsletters_visual" id="allow_newsletters_visual" type="checkbox"
                 style="width: auto;"
                 {% if user.allow_newsletters %}checked="true"{% endif %}
                 onclick="smart_submit()">

          <label for="allow_newsletters_visual" style="display: inline-block; cursor: pointer; margin-top: -10px">
            Get the latest news & tips from Heidi
            <img src="{{ settings.HOSTNAME }}{% static 'images/heidi.png' %}" alt="Heidi"
                 width="25" style="display: inline; margin: 0; position: relative; top: 5px; left: 0">
          </label>

        </td></tr>
      </table>

    </form>


  </div>

  <script>
    (() => {
      {% if settings.HOSTNAME %}
      const hostname = '{{ settings.HOSTNAME }}';
      {% else %}
      const hostname = 'http://localhost:8080';
      {% endif %}

      document.querySelectorAll('[data-copy]').forEach(button => {
        button.onclick = e => {
          const input = document.getElementById(e.target.dataset.copy);
          input.select();
          document.execCommand("copy");
          input.setSelectionRange(0, 0);
          input.blur();
          button.classList.add('blink');
          setTimeout(() => button.classList.remove('blink'))
        }
      });

      document.querySelector('[name=renew]').onclick = e => {
        const button = e.target;
        const input = document.getElementById("access_token");
        const example = document.getElementById("example_fetch");

        fetch("{% url 'current-user-reset-token' %}", { method: "POST" })
          .then(res => res.json())
          .then(res => {
            input.value = res.token;
            example.value = `curl -X GET ${hostname}/api/projects/ -H 'Authorization: Token ${res.token}'`
            button.classList.add('blink');
            setTimeout(() => button.classList.remove('blink'))
          });
      };

      $('[name=avatar]').on('change', async (e) => {
        const formData = new FormData;

        formData.append(e.target.name, e.target.files[0]);

        try {
          const response = await fetch("{% url 'user-avatar' pk=user.pk %}", {
            method: "post",
            body: formData
          });

          if (!response.ok) {
            handleResponseError(response)
          } else {
            updateAvatar(true)
          }
        } catch (err) {
          console.error(err)
        }
      });

      $('[name=delete-avatar]').on('click', async (e) => {
        try {
          const response = await fetch("{% url 'user-avatar' pk=user.pk %}", {
            method: "delete"
          })

          if (!response.ok) {
            handleResponseError(response)
          } else {
            updateAvatar(false)
          }
        } catch (err) {
          console.err(err)
        }
      })

      /**
        * @param {Response} response
        */
      const handleResponseError = (response) => {
        response.json().then(data => {
          alert(message_from_response(data));
        })
      }

      const updateAvatar = async (setAvatar = true) => {
        if (setAvatar) {
          const response = await fetch("{% url 'current-user-whoami' %}")

          if (response.ok) {
            const {avatar} = await response.json()
            const userpic = document.querySelector('.userpic')

            let userpicImage = userpic.querySelector('img')

            if (!userpicImage) {
              userpicImage = document.createElement('img')
              userpic.insertBefore(userpicImage, userpic.firstChild);
            }

            userpicImage.src = avatar

            const userpicRoot = document.querySelector('.user-pic');
            userpicRoot.classList.remove('can_delete', 'can_upload')
            userpicRoot.classList.add('can_delete')
          }
        } else {
          const userpic = document.querySelector('.user-pic')
          const userpicImage = userpic.querySelector('img')
          if (userpicImage) userpicImage.remove();

          userpic.classList.remove('can_delete', 'can_upload')
          userpic.classList.add('can_upload')
        }
      }
    })();
  </script>
</div>

{% endblock %}
