{% extends 'simple.html' %}
{% load i18n %}
{% load static %}
{% load filters %}

{% block head %}
<link rel="stylesheet" href="{{ settings.HOSTNAME }}{% static 'css/login.css' %}"/>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-129877673-1"></script>
<script nonce="{{request.csp_nonce}}">
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config', 'UA-129877673-1');
</script>
{% endblock %}

{% block content %}
<div class="login_page">
  <h1>Welcome to Label Studio Community Edition {{versions.package.short_version}}</h1>
  <h2>A full-fledged open source solution for data labeling</h2>

  <img src="{{ settings.HOSTNAME }}{% static 'images/opossum_hanging.svg' %}" height="128px" />

  <div class="toggle">
    {% if not settings.DISABLE_SIGNUP_WITHOUT_LINK %}
        <a href="{{ settings.HOSTNAME }}/user/signup" class="{% if 'signup' in request.path %}active{% endif %}">Sign up</a>
        <a href="{{ settings.HOSTNAME }}/user/login" class="{% if 'login' in request.path %}active{% endif %}">Log in</a>
    {% endif %}
  </div>

  {% block user_content %}
  {% endblock %}
{% endblock %}
