.people {
  &__controls {
    padding: 0 0 1rem;
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content;
    align-items: flex-start;
    grid-gap: 20px;
  }

  .heidy-tip {
    max-width: 450px;
  }
}