<View>
  <Repeater on="$pdf" indexFlag="{{idx}}">
    <View style="display: flex; align-items: center; column-gap: 50px">
    <HyperText name="page_{{idx}}" value="$pdf[{{idx}}].page" inline="true"/>
    </View>
  </Repeater>
</View>


<!-- {
"pdf": [
  {
    "page": "<embed src='https://htx-pub.s3.amazonaws.com/samples/Data-Report-Martin-Inline-Graphics-R7.pdf#page=1'/>"
  },    {
    "page": "<embed src='https://htx-pub.s3.amazonaws.com/samples/Data-Report-Martin-Inline-Graphics-R7.pdf#page=2'/>"
  },    {
    "page": "<embed src='https://htx-pub.s3.amazonaws.com/samples/Data-Report-Martin-Inline-Graphics-R7.pdf#page=3'/>"
  },    {
    "page": "<embed src='https://htx-pub.s3.amazonaws.com/samples/Data-Report-Martin-Inline-Graphics-R7.pdf#page=4'/>"
  },    {
    "page": "<embed src='https://htx-pub.s3.amazonaws.com/samples/Data-Report-Martin-Inline-Graphics-R7.pdf#page=5'/>"
  },    {
    "page": "<embed src='https://htx-pub.s3.amazonaws.com/samples/Data-Report-Martin-Inline-Graphics-R7.pdf#page=6'/>"
  }
]
} -->