{% extends 'simple.html' %}
{% load i18n %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{{ settings.HOSTNAME }}{% static 'css/login.css' %}"/>
{% endblock %}

{% block content %}
<div class="ui segment">
    <div style="margin-top: 2em; margin-bottom: 1em;"><h2>{% trans "Reset your password" %}</h2></div>
    
    <div class="content" style="color: grey; margin-bottom: 1em;">Enter the email you're using for your account.</div>

    <form action="" method="post" class="ui form form-signin">
      
      {% csrf_token %}
      <div class="required field"><input placeholder="Your Email" type="email" name="email" maxlength="254" required id="id_email"></div>
      <input class="ui fluid large primary submit button" value="{% trans "Reset" %}" type="submit">
      
    </form>    
    <div class="row">
    <a href="{% url 'user-login' %}">{% trans "Login" %}</a>&nbsp;
  </div>
</div>        
{% endblock %}
