{% extends 'users/user_base.html' %}

{% block user_content %}

<div class="login_page">
    <div style="margin-top: 2em; margin-bottom: 1em;"><h1>Reset your password</h1></div>
    
    <h2>Enter the email you're using for your account</h2>

    <form action="" method="post" class="ui form form-signin">
      {% csrf_token %}
      <div class="required field">
        <input class="ls-input" placeholder="Your Email" type="email" name="email" maxlength="254" required id="id_email">
      </div>
      <input class="ls-button ls-button_look_primary" value="{% trans "Reset" %}" type="submit">
    </form>
</div>        
{% endblock %}
