{% extends 'users/user_base.html' %}

{% block user_content %}
  <h1>Email with instructions has been sent</h1>
  <h2 style="max-width: 600px; margin: 0 auto;">
    We've emailed you instructions for setting your password.<br><br>
    If an account exists for the email you entered, you'll receive an email with instructions to reset your password soon. <br><br>

    If you don't receive an email, check your spam folder and make sure you entered the email you registered with.
  </h2>
{% endblock %}
