.datamanager
  height calc(100vh - var(--header-height))

  // hack to change background of selected annotation in LSF inside DM
  #label-studio-dm [class*=Annotations_annotation_selected]
    background: var(--grape_0)
