<% if (page.title.trim()) { %>
  <%- partial("component/heading", {text: page.title, size: "XLarge", tag: "h1", customClass: "home-page-title"}) %>
<% } %>

<div class="content-grid">
  <div class="content-markdown">
    <%- page.content %>
  </div>
  <div class="toc">
    <%- partial("component/text", {text: "In this article", tag: "h3", size: "Eyebrow"}) %>
  </div>
</div>