.general-settings
  display flex

  .heidy-tip
    margin 0 0 0 40px
    max-width 500px

.settings-caption
  color #1F1F1F;
  font-size 12px;
  font-style normal;
  font-weight 400;
  line-height 16px;
  letter-spacing 0.4px;

  a
    color #09F;
    font-size 12px;
    font-style normal;
    font-weight 500;
    line-height 16px;
    letter-spacing 0.4px;

    &:hover
      text-decoration underline
      
.disabled-field
  display flex
  align-items flex-start

  p
    padding 0
    margin 0

    a
      color #09F;
      font-size 12px;
      font-style normal;
      font-weight 500;
      line-height 16px;
      letter-spacing 0.4px;

      &:hover
        text-decoration underline

  &__label
    margin-top 5px

  input
    margin-top: 5px;

  &__title
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    padding: 0 16px;
    height: 22px;
    display: flex;
    margin-bottom: 4px;

  &__description
    margin-top: 5px;
    font-size: 14px;
    line-height: 22px;
    color: rgba(0,0,0,0.4);
    font-weight: 500;
    padding: 0 16px;
    height: 22px;
    display: flex;
    margin-bottom: 4px