<View>
  <Header value="Listen the audio:"></Header>
  <AudioPlus name="audio" value="$url"></AudioPlus>
  <Header value="Select its topic:"></Header>
  <Labels name="label" toName="audio">
    <Label value="Politics"></Label>
    <Label value="Business"></Label>
    <Label value="Education"></Label>
    <Label value="Other"></Label>
  </Labels>
</View>
