.general-settings
  display flex

  &__wrapper
    width 488px

  .heidy-tip
    margin 0 0 0 40px
    max-width 500px

  .label
    &__text
      padding 0;

  .radio-group__buttons
    .label__content
        padding 0 16px

.workspace-placeholder
  &__badge-wrapper
    display flex
    margin-bottom 8px
    line-height normal

  &__title
    font-size 16px
    color #3a3a3a
    font-weight 500

.settings-caption
  color #1F1F1F;
  font-size 12px;
  font-style normal;
  font-weight 400;
  line-height 16px;
  letter-spacing 0.4px;

  a
    color #09F;
    font-size 12px;
    font-style normal;
    font-weight 500;
    line-height 16px;
    letter-spacing 0.4px;

    &:hover
      text-decoration underline
      
.disabled-field
  display flex
  align-items flex-start

  p
    padding 0
    margin 0

    a
      color #09F;
      font-size 14px;
      font-style normal;
      font-weight 500;
      line-height 16px;
      letter-spacing 0.4px;

      &:hover
        text-decoration underline

  &__label
    margin-top 5px

  input
    margin-top: 5px;

  &__title
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    padding: 0 16px;
    height: 22px;
    display: flex;
    margin-bottom: 4px;
    align-items center

  &__description
    margin-top: 5px;
    font-size: 14px;
    line-height: 22px;
    color: rgba(0,0,0,0.4);
    font-weight: 500;
    padding: 0 16px;
    height: 22px;
    display: flex;
    margin-bottom: 4px
