<!-- {"title": "Loading from JSON", "category": "time-series", "complexity": "basic", "order": "2"} -->

<!-- readme
### Quickstart

JSON is a native format for Label Studio and you can store time series column data right in of LS task.
<a target="_blank" href="https://labelstud.io/guide/tasks.html">Read more about LS tasks.</a>

1. Prepare JSON-formatted input:

    ```json
    {
      "ts": {
        "time": [0,1,2],
        "first_column": [3,4,5],
        "second_column": [6,7,8]}
    }
    ```

2. Set your data keys in the following attributes:
    * `timeColumn="time"`
    * `column="first_column"` and `column="second_column"`

3. Add more `<Channel>` tags for more columns if needed
-->

<View>
    <Header value="Time Series from JSON"
            style="font-weight: normal"/>

    <TimeSeries timeColumn="time"
                name="ts" value="$ts" valueType="json">
        <Channel column="first_column"
                 strokeColor="#1f77b4" legend="Signal A"/>
        <Channel column="second_column"
                 strokeColor="#ff7f0e" legend="Signal B"/>
    </TimeSeries>

    <Header value="Time series classification"/>
    <Choices name="pattern" toName="ts"
             choice="single" showInline="true">
        <Choice value="Growth"/>
        <Choice value="Decay"/>
    </Choices>

    <Header value="Time series segmentation"/>
    <TimeSeriesLabels name="label" toName="ts">
        <Label value="Anomaly" background="#a4a"/>
        <Label value="Ordinary" background="#aa4"/>
    </TimeSeriesLabels>
</View>
