<!-- {"title": "Speech Transcription", "category": "audio", "complexity": "basic"} -->
<View>
  <Header value="Listen to the audio and write the transcription" />
  <AudioPlus name="audio" value="$audio" />
  <TextArea name="transcription" toName="audio" editable="true"
            rows="4" transcription="true" maxSubmissions="1" />

  <Style>
  [dataneedsupdate]>div:first-child{flex-grow:1;order:2}
  [dataneedsupdate]>div:last-child{margin-top:0 !important;margin-right:1em}
  </Style>
</View>
