<!-- {"title": "Segmentation", "category": "time-series", "complexity": "basic"} -->

<!-- readme
### Tips

-->
<View>
    <Header value="Time Series Segmentation"
            style="font-weight: normal"/>

    <!-- Control tag for region labels -->
    <TimeSeriesLabels name="label" toName="ts">
        <Label value="Run" background="red"/>
        <Label value="Walk" background="green"/>
        <Label value="Fly" background="blue"/>
        <Label value="Swim" background="#f6a"/>
        <Label value="Ride" background="#351"/>
    </TimeSeriesLabels>

    <!-- Object tag for time series data source -->
    <TimeSeries timeColumn="time"
                sep=","
                name="ts" valueType="url" value="$csv"
                overviewChannels="velocity">
        <Channel column="velocity"
                 units="magnitude"
                 displayFormat=",.1f"
                 strokeColor="#1f77b4"
                 legend="Velocity"/>
        <Channel column="acceleration"
                 units="magnitude"
                 displayFormat=",.1f"
                 strokeColor="#ff7f0e"
                 legend="Acceleration"/>
    </TimeSeries>
</View>