{% extends 'simple.html' %}
{% load i18n %}
{% load static %}
{% load filters %}


{% block head %}
<link rel="stylesheet" href="{{ settings.HOSTNAME }}{% static 'css/fonts.hellix.css' %}"/>
<link rel="stylesheet" href="{{ settings.HOSTNAME }}{% static 'css/login.css' %}"/>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-129877673-1" nonce="{{request.csp_nonce}}"></script>

{% if settings.TURNSTILE_ENABLED and settings.TURNSTILE_SITE_KEY %}
<script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
{% endif %}
<script nonce="{{request.csp_nonce}}">
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config', 'UA-129877673-1');
</script>
{% endblock %}

{% block content %}
<script nonce="{{request.csp_nonce}}">
  window.APP_SETTINGS = window.APP_SETTINGS ?? {};
  window.APP_SETTINGS.collect_analytics = {{ settings.COLLECT_ANALYTICS|yesno:"true,false" }};

  // Log event to the server, if analytics are enabled
  // This is a fallback for when the __lsa global is not defined
  // Normally this is a part of our main bundle but these pages do not use the main bundle
  // and this allows us to log events from these pages
  const logEvent = (eventName, metadata = {}) => {
    if (!window.APP_SETTINGS?.collect_analytics) return;

    const payload = {
      ...metadata,
      event: eventName,
      url: window.location.href,
    };

    window.requestIdleCallback(() => {
      const params = new URLSearchParams({ __: JSON.stringify(payload) });
      const url = `/__lsa/?${params}`;
      try {
        if (navigator.sendBeacon) {
          navigator.sendBeacon(url);
        } else {
          const img = new Image();
          img.src = url;
        }
      } catch {
        // Ignore errors here
      }
    });
  };
  if (!window.__lsa) {
    window.__lsa = logEvent;
  }
</script>

<script nonce="{{request.csp_nonce}}">
  const gaClientIdTrackingIframe = (event) => {
    if (!window.APP_SETTINGS?.collect_analytics) return;
    
    const iframe = document.createElement("iframe");
    window.addEventListener("message", (message) => {
      if(message.source === iframe.contentWindow && message.data.gaClientId) {
        sessionStorage.setItem('ls_gaclient_id', message.data.gaClientId);
      }
    });
    const origin = window.location.origin;
    iframe.src = `https://labelstud.io/track/?event=${event}&origin=${origin}`;
    iframe.style.display = "none";
    iframe.style.visibility = "hidden";
    document.body.appendChild(iframe);
  }
</script>

<div class="login_page_new_ui">
  <div class="right">
    {% block user_content %}
    {% endblock %}
  </div>
</div>
{% endblock %}
