{% extends 'users/new-ui/user_base.html' %}

{% block user_content %}
  <form id="login-form" action="{% url 'user-login' %}{% if next %}?next={{ next }}{% endif %}" method="post">
    {% csrf_token %}
    <p><input type="text" class="ls-input" name="email" id="email" placeholder="Email" value="{{ form.data.email }}"></p>
    <p><input type="password" class="ls-input" name="password" id="password" placeholder="Password"></p>
    {% if form.non_field_errors %}
      {% for error in form.non_field_errors %}
        <p class="error">
          {{ error }}
        </p>
      {% endfor %}
    {% endif %}
    <p>
      <input type="checkbox" id="persist_session" name="persist_session" class="ls-checkbox" checked="checked" style="width: auto;" />
      <label for="persist_session">Keep me logged in this browser</label>
    </p>
    <p><button type="submit" aria-label="Log In" class="ls-button ls-button_look_primary">Log in</button></p>
  </form>

{% endblock %}
