<script>
  const dataTips = [
    {
      title: 'Did you know?',
      description: 'You can sync data from all popular cloud storage providers to collect new items for labeling as they are uploaded, and return the annotation results to train and continuously improve models.',
      cta: {
        text: 'Learn more',
        url: 'https://labelstud.io/guide/storage'
      },

    }, {
      title: 'Did you know?',
      description: 'You can enable webhooks to trigger machine learning model training or perform active learning after a certain number of tasks have been annotated.',
      cta: {
        text: 'See use cases',
        url: 'https://labelstud.io/guide/webhooks#What-to-use-Label-Studio-webhooks-for'
      },

    }, {
      title: 'Did you know?',
      description: 'You can use keyboard shortcuts, or hotkeys, to speed up labeling. Click the gear icon in the labeling task to enable predefined hotkeys.',
      cta: {
        text: 'Learn more',
        url: 'https://labelstud.io/guide/labeling.html#Use-keyboard-shortcuts'
      },

    }, {
      title: 'Did you know?',
      description: 'Label Studio has dozens of pre-built templates for all data types you can use to configure your labeling UI, from image classification to sentiment analysis to supervised LLM fine-tuning. ',
      cta: {
        text: 'See all templates',
        url: 'https://labelstud.io/templates'
      },

    }
  ];

  document.addEventListener('DOMContentLoaded', function() {
    const _title = document.querySelector('.tips .title');
    const _description = document.querySelector('.tips .description');

    const selectedTip = dataTips[Math.floor(Math.random() * dataTips.length)];

    _title.innerHTML = selectedTip.title;
    _description.innerHTML = `${selectedTip.description} <a href="${selectedTip.cta.url}" target="_blank">${selectedTip.cta.text}</a>`;
  });

</script>

<div class="tips">
  <div class="title"></div>
  <div class="description"></div>
</div>