.DS_Store
Thumbs.db
db.json
*.log
node_modules/
public/
.deploy*/
_multiconfig.yml
package-lock.json
source/guide/release_notes.md
source/guide/notion-faq.md
themes/v2/layout/partials/alert.ejs
themes/v2/layout/partials/alert-enterprise.ejs

themes/v2/source/images/notion/**
