<!-- Header -->
<div id="header">
    <a id="logo" href="/">
        <img src="/static/images/ls_logo.png" alt="label studio logo" class="img-logo">
        <span class="img-text">{{ config['title'] }}</span>
    </a>
    <ul id="nav">
        <a href="/" class="{% if url_for(request.endpoint) == '/' %}active{%endif%}">
            Labeling</a>
        <span class="delim">|</span>

        <a href="/tasks" class="{% if url_for(request.endpoint) == '/tasks' %}active{%endif%}">Tasks and Completions</a>
        <span class="delim">|</span>

        <a href="https://labelstud.io/guide/" target="_blank">Guide</a>
        <span class="delim">|</span>

        <a href="https://github.com/heartexlabs/label-studio" target="_blank"><img src="/static/images/github.svg" height="22"/></a>

        <a href="https://docs.google.com/forms/d/e/1FAIpQLSdLHZx5EeT1J350JPwnY2xLanfmvplJi6VZk65C2R4XSsRBHg/viewform?usp=sf_link"
           target="_blank"><img src="/static/images/slack.png" height="22"/></a>

        <div class="fb-like"
             style="top: -8px !important;"
             data-href="https://www.facebook.com/heartexnet/"
             data-width="" data-layout="button" data-action="like"
             data-size="small" data-show-faces="false" data-share="false"
             data-colorscheme="dark"></div>
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v5.0&appId=1384721251840630&autoLogAppEvents=1"></script>

    </ul>
</div>
