{% include 'header.html' %}

<!-- Editor -->
<div class="ui container">
    <div id="label-studio"></div>
</div>

<script>
    window.onload = function () {
        {% if task_data %}
            // Show specified task with completions
            new LabelStudio("label-studio", {
                config: '{{ label_config_line | safe }}',
                expert: {"pk": 1, "firstName": "Label", "lastName": "Expert"},
                project: { id: 1 },
                interfaces: [
                    "basic",
                    "panel",  // undo, redo, reset panel
                    "controls",  // all control buttons: skip, submit, update
                    "submit",  // submit button on controls
                    "update",  // update button  on controls
                    "predictions:menu", // right menu with prediction items
                    "completions:menu", // right menu with completion items
                    "completions:add-new",
                    "completions:delete",
                    "side-column" // entity
                ],
                supports: [
                    "predictions", // show predictions from task.predictions = [{...}, {...}]
                    "completions", // load completions                    
                ],
                task: {{ task_data | json | safe }}
            });
        {% else %}
            // Label stream mode
            new LabelStudio("label-studio", {
                config: '{{ label_config_line | safe }}',
                expert: {"pk": 1, "firstName": "Label", "lastName": "Expert"},
                explore: true, // label stream mode (task by task)
                project: { id: 1 },
                interfaces: [
                    "basic",
                    "load",  // load next task automatically (label stream mode)
                    "panel",  // undo, redo, reset panel
                    "controls",  // all control buttons: skip, submit, update
                    "submit",  // submit button on controls                    
                    "side-column" // entity
                ],

                supports: [
                    "next:load",
                    "predictions", // show predictions from task.predictions = [{...}, {...}]
                    "completions",  // show completions
                ]
            });
        {% endif %}
    }
</script>
</body>
</html>
