<%- css('css/header-footer.css') %>

<header class="Grid mainHeader astro-7IFFX3A3 astro-IYSTJHZO">
  <section class="Wrapper Standard astro-O2YX5VCR">
    <div class="Header astro-7IFFX3A3">
  <div class="HeaderMini astro-7IFFX3A3">
    <a href="/" class="HeaderLogo astro-7IFFX3A3" arial-label="Homepage">
      <svg width="173" height="26" fill="none" xmlns="http://www.w3.org/2000/svg" class="LabelStudioLogo astro-7IFFX3A3">
        <path fill="#FFDAD1" d="M3.5 4.5h19v18h-19z" class="astro-7IFFX3A3"></path>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M25.7 7.503h-7.087V5.147H7.588V2.792h11.025V.436H25.7v7.067Zm-18.112 0H5.225v10.994H2.863V7.503H.5V.436h7.088v7.067Zm0 18.061v-7.067H.5v7.067h7.088ZM25.7 18.497v7.067h-7.088v-2.356H7.588v-2.355h11.025v-2.356H25.7Zm-2.363 0V7.503h-2.363v10.994h2.363Z" fill="#FF8267" class="astro-7IFFX3A3"></path>
        <path class="LabelStudioLogoText astro-7IFFX3A3" d="M33.946 21.245V4.755h3.11v13.663h7.538v2.827H33.946ZM50.436 21.575c-.833 0-1.578-.141-2.238-.424a3.839 3.839 0 0 1-1.578-1.272c-.377-.566-.566-1.249-.566-2.05 0-.8.189-1.468.566-2.002.392-.55.926-.958 1.602-1.225.69-.283 1.476-.424 2.355-.424h3.204v-.66c0-.55-.173-.997-.518-1.343-.346-.36-.895-.541-1.65-.541-.737 0-1.287.172-1.648.518-.362.33-.597.762-.707 1.296l-2.733-.92a4.72 4.72 0 0 1 .895-1.625c.425-.502.982-.903 1.673-1.201.707-.314 1.563-.471 2.568-.471 1.539 0 2.756.385 3.651 1.154.896.77 1.343 1.885 1.343 3.345v4.358c0 .472.22.707.66.707h.942v2.45h-1.979c-.58 0-1.06-.141-1.437-.424a1.343 1.343 0 0 1-.565-1.13v-.024h-.448c-.063.188-.204.44-.424.754-.22.298-.565.565-1.036.8-.471.236-1.115.354-1.932.354Zm.518-2.403c.832 0 1.508-.228 2.026-.683.534-.471.801-1.091.801-1.861v-.236H50.79c-.55 0-.981.118-1.295.354-.315.235-.472.565-.472.99 0 .423.165.769.495 1.036.33.267.809.4 1.437.4ZM67.448 21.575c-1.053 0-1.862-.18-2.427-.542-.565-.361-.981-.762-1.248-1.201h-.425v1.413h-2.92V4.755h2.968v6.148h.424c.172-.282.4-.55.683-.8.298-.252.683-.456 1.154-.613.487-.173 1.084-.26 1.79-.26.943 0 1.814.236 2.615.708.801.455 1.445 1.13 1.932 2.025.487.896.73 1.98.73 3.251v.377c0 1.272-.243 2.356-.73 3.251-.487.896-1.13 1.579-1.932 2.05a5.2 5.2 0 0 1-2.614.683Zm-.896-2.591c.911 0 1.673-.29 2.285-.872.613-.597.92-1.46.92-2.591v-.236c0-1.13-.307-1.987-.92-2.568-.596-.597-1.358-.895-2.285-.895-.91 0-1.672.299-2.285.895-.612.581-.919 1.437-.919 2.568v.236c0 1.13.307 1.994.92 2.591.612.581 1.373.872 2.284.872ZM80.774 21.575c-1.162 0-2.191-.243-3.086-.73a5.428 5.428 0 0 1-2.073-2.097c-.487-.91-.73-1.979-.73-3.204v-.282c0-1.225.243-2.286.73-3.18a5.072 5.072 0 0 1 2.05-2.097c.879-.503 1.9-.754 3.062-.754 1.146 0 2.144.259 2.992.777a5.163 5.163 0 0 1 1.979 2.12c.47.896.706 1.94.706 3.134v1.012H77.9c.031.802.33 1.453.895 1.956.566.502 1.257.754 2.073.754.833 0 1.445-.18 1.838-.542.392-.361.69-.762.895-1.202l2.426 1.273c-.22.408-.542.855-.966 1.342-.408.471-.958.88-1.649 1.225-.69.33-1.57.495-2.638.495Zm-2.85-7.515h5.465c-.063-.675-.338-1.217-.825-1.625-.47-.409-1.091-.613-1.86-.613-.802 0-1.438.204-1.909.613-.471.408-.762.95-.872 1.625ZM89.046 21.245V4.755h2.968v16.49h-2.968ZM106.915 21.575c-1.272 0-2.395-.228-3.368-.683-.974-.456-1.736-1.107-2.285-1.955-.55-.849-.825-1.87-.825-3.063v-.66h3.062v.66c0 .99.307 1.736.919 2.238.613.487 1.445.73 2.497.73 1.068 0 1.861-.212 2.38-.636.534-.424.801-.966.801-1.625 0-.456-.134-.825-.401-1.107-.251-.283-.628-.51-1.131-.684a12.566 12.566 0 0 0-1.79-.518l-.542-.118c-1.131-.25-2.104-.565-2.921-.942-.801-.393-1.421-.903-1.861-1.531-.424-.628-.636-1.445-.636-2.45 0-1.005.235-1.861.707-2.568.486-.722 1.162-1.272 2.026-1.649.879-.393 1.908-.589 3.086-.589s2.222.204 3.133.613c.926.392 1.649.989 2.167 1.79.534.785.801 1.775.801 2.968v.707h-3.062v-.707c0-.628-.126-1.13-.377-1.507a1.99 1.99 0 0 0-1.037-.849c-.455-.188-.997-.282-1.625-.282-.943 0-1.642.18-2.097.542-.44.345-.66.824-.66 1.437 0 .408.102.753.307 1.036.22.283.541.518.966.707.424.188.965.353 1.625.495l.542.117c1.178.252 2.199.574 3.062.966.88.393 1.563.911 2.05 1.555.487.644.73 1.468.73 2.474 0 1.005-.259 1.892-.777 2.662-.503.753-1.225 1.35-2.168 1.79-.926.424-2.026.636-3.298.636ZM120.047 21.245c-.769 0-1.397-.235-1.884-.707-.471-.486-.707-1.13-.707-1.931V12.01h-2.921V9.56h2.921V5.933h2.968V9.56h3.204v2.45h-3.204v6.078c0 .47.22.706.66.706h2.262v2.45h-3.299ZM130.767 21.434c-.91 0-1.711-.204-2.402-.613a4.345 4.345 0 0 1-1.579-1.743c-.377-.738-.565-1.586-.565-2.544V9.56h2.968v6.737c0 .88.212 1.54.636 1.979.44.44 1.06.66 1.861.66.911 0 1.618-.299 2.12-.896.503-.612.754-1.46.754-2.544V9.561h2.968v11.684h-2.921v-1.531h-.424c-.188.393-.542.777-1.06 1.154-.518.377-1.303.566-2.356.566ZM144.949 21.575a5.288 5.288 0 0 1-2.615-.683c-.801-.471-1.445-1.154-1.931-2.05-.487-.895-.731-1.979-.731-3.25v-.378c0-1.272.244-2.355.731-3.25.486-.896 1.13-1.571 1.931-2.026a5.067 5.067 0 0 1 2.615-.707c.707 0 1.296.086 1.767.259.487.157.88.361 1.178.612.298.252.526.519.683.801h.424V4.755h2.968v16.49h-2.921v-1.413h-.424c-.267.44-.683.84-1.248 1.201-.55.361-1.359.542-2.427.542Zm.895-2.591c.911 0 1.673-.29 2.285-.872.613-.597.919-1.46.919-2.591v-.236c0-1.13-.306-1.987-.919-2.568-.596-.597-1.358-.895-2.285-.895-.91 0-1.672.299-2.285.895-.612.581-.918 1.437-.918 2.568v.236c0 1.13.306 1.994.918 2.591.613.581 1.375.872 2.285.872ZM155.26 21.245V9.561h2.969v11.684h-2.969Zm1.484-13.05a1.95 1.95 0 0 1-1.366-.519c-.361-.346-.542-.801-.542-1.366 0-.566.181-1.021.542-1.367a1.95 1.95 0 0 1 1.366-.518c.55 0 1.006.173 1.367.518.361.346.542.801.542 1.367 0 .565-.181 1.02-.542 1.366-.361.346-.817.518-1.367.518ZM166.375 21.575c-1.162 0-2.207-.235-3.133-.707a5.298 5.298 0 0 1-2.191-2.05c-.534-.894-.801-1.97-.801-3.227v-.377c0-1.256.267-2.332.801-3.227a5.298 5.298 0 0 1 2.191-2.05c.926-.47 1.971-.706 3.133-.706s2.206.235 3.133.707a5.298 5.298 0 0 1 2.191 2.05c.534.894.801 1.97.801 3.226v.377c0 1.257-.267 2.333-.801 3.228a5.298 5.298 0 0 1-2.191 2.05c-.927.47-1.971.706-3.133.706Zm0-2.638c.911 0 1.665-.291 2.261-.872.597-.597.896-1.445.896-2.544v-.236c0-1.1-.299-1.94-.896-2.52-.581-.597-1.335-.896-2.261-.896-.911 0-1.665.299-2.262.896-.596.58-.895 1.42-.895 2.52v.236c0 1.1.299 1.947.895 2.544.597.581 1.351.872 2.262.872Z" fill="#131522"></path>
      </svg>
    </a>
    <button class="HamburgerButton astro-7IFFX3A3" aria-label="Toggle Menu">
      <span class="astro-7IFFX3A3"></span>
      <span class="astro-7IFFX3A3"></span>
      <span class="astro-7IFFX3A3"></span>
    </button>
  </div>
  <div class="HeaderMenu astro-7IFFX3A3">
    <nav class="astro-7IFFX3A3">
      <ul class="HeaderNav astro-7IFFX3A3">
        <li class="astro-7IFFX3A3">
          <a href="/playground" class="astro-7IFFX3A3 navigation">Playground</a>
        </li>
        <li class="astro-7IFFX3A3">
          <a href="https://labelstud.io/learn" class=" astro-7IFFX3A3 navigation">
            Learn
            <svg aria-hidden="true" width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg" class="HeaderNavDropdownIcon astro-7IFFX3A3"><path d="M1 0.5L5 4.5L9 0.5" stroke="#131522" class="astro-7IFFX3A3"></path></svg>
          </a>
          <button class="HeaderNavToggleButton astro-7IFFX3A3">
            <svg aria-hidden="true" width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg" class="astro-7IFFX3A3"><path d="M1 0.5L5 4.5L9 0.5" stroke="#131522" class="astro-7IFFX3A3"></path></svg>
          </button>
          <ul class="HeaderSubNav astro-7IFFX3A3">
            <li class="astro-7IFFX3A3">
              <a href="/blog" class="astro-7IFFX3A3 navigation">Blog</a>
            </li>
            <li class="astro-7IFFX3A3">
              <a href="/videos" class="astro-7IFFX3A3 navigation">Videos</a>
            </li>
          </ul>
        </li>
        <li class="astro-7IFFX3A3">
          <a href="/guide" class="astro-7IFFX3A3 navigation">
            Docs
            <svg aria-hidden="true" width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg" class="HeaderNavDropdownIcon astro-7IFFX3A3"><path d="M1 0.5L5 4.5L9 0.5" stroke="#131522" class="astro-7IFFX3A3"></path></svg>
          </a>
          <button class="HeaderNavToggleButton astro-7IFFX3A3">
            <svg aria-hidden="true" width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg" class="astro-7IFFX3A3"><path d="M1 0.5L5 4.5L9 0.5" stroke="#131522" class="astro-7IFFX3A3"></path></svg>
          </button>
          <ul class="HeaderSubNav astro-7IFFX3A3">
            <li class="astro-7IFFX3A3">
              <a href="/guide/index.html#Quick-start" class="astro-7IFFX3A3 ">Quickstart</a>
            </li>
            <li class="astro-7IFFX3A3">
              <a href="/guide/install.html" class="astro-7IFFX3A3">Install</a>
            </li>
            <li class="astro-7IFFX3A3">
              <a href="/guide/tasks.html" class="astro-7IFFX3A3">Import Data</a>
            </li>
            <li class="astro-7IFFX3A3">
              <a href="https://labelstud.io/api" class="astro-7IFFX3A3">API Reference</a>
            </li>
            <li class="astro-7IFFX3A3">
              <a href="https://labelstud.io/sdk" class="astro-7IFFX3A3">SDK Reference</a>
            </li>
            <li class="HeaderSubNavSeparator astro-7IFFX3A3">
              <a href="/tags" class="astro-7IFFX3A3">Customizable Tags</a>
            </li>
            <li class="astro-7IFFX3A3">
              <a href="/templates" class="astro-7IFFX3A3">Labeling Templates</a>
            </li>
          </ul>
        </li>
        <li class="astro-7IFFX3A3">
          <a href="https://labelstud.io/community/" class="astro-7IFFX3A3 navigation">
            Community
          </a>
        </li>
        <li class="astro-7IFFX3A3">
          <a href="https://app.heartex.com/user/trial" target="_blank" rel="noopener noreferrer" class="astro-7IFFX3A3">Try Cloud</a>
        </li>
      </ul>
    </nav>
      <br><br>
      <%- partial('partials/search') %>
      <%- partial('partials/github_stars') %>
    
      <a class="Button HeaderCTA astro-7IFFX3A3 astro-NJHSWM7L" href="https://labelstud.io/guide/index.html#Quick-start"><span class="Heading XXSmall ButtonText astro-NJHSWM7L astro-EXBSDJPD">Quick Start</span></a>
      </div>

      <svg class="HeaderSquares astro-7IFFX3A3" width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
        <rect x="0.252488" y="50.2525" width="24.495" height="24.495" stroke="#ECEEFD" stroke-width="0.504975" class="astro-7IFFX3A3"></rect>
        <rect x="75.2525" y="25.2525" width="24.495" height="24.495" stroke="#ECEEFD" stroke-width="0.504975" class="astro-7IFFX3A3"></rect>
        <rect x="25" y="50" width="25" height="25" fill="#FF8267" class="astro-7IFFX3A3"></rect>
        <rect x="25.2525" y="75.2525" width="24.495" height="24.495" stroke="#ECEEFD" stroke-width="0.504975" class="astro-7IFFX3A3"></rect>
        <rect x="50.2525" y="0.252488" width="24.495" height="24.495" stroke="#ECEEFD" stroke-width="0.504975" class="astro-7IFFX3A3"></rect>
        <rect x="50" y="25" width="25" height="25" fill="#DD7DFF" class="astro-7IFFX3A3"></rect>
        <rect x="50" y="50" width="25" height="25" fill="#FFC27B" class="astro-7IFFX3A3"></rect>
      </svg>
</div>
</section>
<script>
  const hamburgerButton = document.querySelector(".HamburgerButton");
  const headerMenu = document.querySelector(".HeaderMenu");

  hamburgerButton.addEventListener("click", (event) => {
    event.currentTarget.classList.toggle("isOpen");
    headerMenu.classList.toggle("isOpen");
  });

  const toggleButtons = document.querySelectorAll(".HeaderNavToggleButton");
  const navElem = document.querySelectorAll(".navigation");

  navElem.forEach(toggleButton => {
    if (window.location.href.includes(toggleButton.href)) toggleButton.classList.add("Active")
    else toggleButton.classList.remove("Active")
  })

  const toggleSubMenu = (event) => {
    const button = event.currentTarget;
    const submenu = button.nextElementSibling;

    button.classList.toggle("HeaderNavToggleButtonActive")
    submenu.style.display = submenu.style.display === "flex" ? "none" : "flex";
  }

  toggleButtons.forEach(toggleButton => toggleButton.addEventListener("click", toggleSubMenu ));
</script>
</header>
  
  


