<!-- <header>
  <div class="container">
    <div class="outer__header">
      <div class="left__header">
        <a href="/">
          <img src="<%- url_for("/images/new/htx_white.svg") %>" alt="logo">
        </a>
      </div>

      <a class="join__slack" target="_blank" href="https://slack.labelstudio.heartex.com/?source=site-header">
        <img src="<%- url_for("/images/new/logoslack.svg") %>" alt="logoslack" />
        Join Community
      </a>
    </div>
  </div>
</header> -->

<%- css('css/new-header') %>

<a href="https://label-studio-website.netlify.app/blog/announcing-the-label-studio-1-5-0-features-and-release-notes/" class="Alert astro-G2V7ZB5K"><span class="Text Eyebrow AlertContent astro-G2V7ZB5K astro-X6LJS3LE"><span class="Badge astro-G2V7ZB5K">New</span><span class="AlertText astro-G2V7ZB5K">Release 1.5 is here with dynamic &amp; custom label sets</span></span></a>
