<header>
  <div class="container">
    <div class="outer__header">
      <div class="left__header">
        <a href="/">
          <img src="<%- url_for("/images/new/htx_white.svg") %>" alt="logo">
        </a>
      </div>

      <a class="join__slack" target="_blank" href="https://slack.labelstudio.heartex.com/?source=site-header">
        <img src="<%- url_for("/images/new/logoslack.svg") %>" alt="logoslack" />
        Join Community
      </a>
    </div>
  </div>
</header>
