<header>
  <div class="container">
    <div class="outer__header">
      <div class="left__header">
        <a href="/">
          <img src="<%- url_for("/images/new/htx_white.svg") %>" alt="logo">
        </a>
      </div>
      <a href="https://heartex.com/blog/announcing-label-studio-enterprise-2-1-0" class="new-product-link">Label Studio Enterprise v2.1 – Custom Agreement Metrics</a>
      <a class="join__slack" target="_blank" href="http://slack.labelstud.io.s3-website-us-east-1.amazonaws.com?source=site-header">
        <img src="<%- url_for("/images/new/logoslack.svg") %>" alt="logoslack" />
        Join Community
      </a>
    </div>
  </div>
</header>
