<header>
  <div class="container">
    <div class="outer__header">
      <div class="left__header">
        <a href="/">
          <img src="<%- url_for("/images/new/htx_white.svg") %>" alt="logo">
        </a>
      </div>
      <div class="center__header">
        <ul>
          <li class="active__menu"><a href="/">Open Source</a></li>
          <li><a href="https://heartex.com" target="_blank">Enterprise</a></li>
        </ul>
      </div>
      <a class="join__slack" target="_blank" href="https://join.slack.com/t/label-studio/shared_invite/zt-cr8b7ygm-6L45z7biEBw4HXa5A2b5pw">
        <img src="<%- url_for("/images/new/logoslack.svg") %>" alt="logoslack" />
        Join Community
      </a>
    </div>
  </div>
</header>
