<header>
  <div class="container">
    <div class="outer__header">
      <div class="left__header">
        <a href="/">
          <img src="<%- url_for("/images/new/htx_white.svg") %>" alt="logo">
        </a>
      </div>

      <div style="position: relative; left: -75px; opacity: 90%; display: none" id="happy-new-year">
        <span style="padding: 3px; background: chocolate; color:white">Happy</span>
        <span style="padding: 3px; background: lightcoral; color:white">New</span>
        <span style="padding: 3px; background: orangered; color:white">Year!</span>
      </div>
      <a href="https://heartex.com" style="position:absolute; height: 60px; top: 5px"
         onmousemove="$('#happy-new-year').fadeIn()"
         onmouseleave="$('#happy-new-year').fadeOut()"
      >
        <img src="/images/Heidi-New-Year.png" alt="Opossum Heidi New Year" style="height: 60px">
      </a>

      <a class="join__slack" target="_blank" href="http://slack.labelstud.io.s3-website-us-east-1.amazonaws.com?source=site-header">
        <img src="<%- url_for("/images/new/logoslack.svg") %>" alt="logoslack" />
        Join Community
      </a>
    </div>
  </div>
</header>
