

<% if (page.type === "guide") { %>
<span style="margin-right: 1em;">Guide</span>
<% } else { %>
<a style="margin-right: 1em;" href="<%- url_for("/guide") %>">Guide</a>
<% } %>

<% if (page.type === "tags") { %>
<span style="margin-right: 1em;">Tags</span>
<% } else { %>
<a style="margin-right: 1em;" href="<%- url_for("/tags") %>">Tags</a>
<% } %>

<% if (page.type === "templates") { %>
<span style="margin-right: 1em;">Templates</span>
<% } else { %>
<a style="margin-right: 1em;" href="<%- url_for("/templates") %>">Templates</a>
<% } %>

<% if (page.type === "playground") { %>
<span style="margin-right: 1em;">Playground</span>
<% } else { %>
<a style="margin-right: 1em;" href="<%- url_for("/playground") %>">Playground</a>
<% } %>

<!-- Place this tag where you want the button to render. -->
<div style="margin-top: 7px !important;" class="github-button-wrap">
    <a class="github-button" href="https://github.com/heartexlabs/label-studio"
       data-icon="octicon-star""
       data-size="large" data-show-count="true" aria-label="Star heartexlabs/label-studio on GitHub"></a>

</div>
<img src="/images/github-icon.png" height="25px" style="margin-left: 10px; cursor:pointer" class="github-link"
     onclick="window.location='https://github.com/heartexlabs/label-studio'">

<div id="site_search">
  <input type="text" id="local-search-input" name="q" results="0"
         placeholder="Search" class="st-search-input st-default-search-input form-control"/>
</div>
