<%- css('css/header-footer.css') %>

<a href="https://labelstud.io/blog/label-studio-1-6-video-object-tracking-and-new-annotation-ui" class="Alert astro-G2V7ZB5K">
    <span class="Text Eyebrow AlertContent astro-G2V7ZB5K astro-X6LJS3LE">
        <span class="Badge astro-G2V7ZB5K">Check out</span>
        <span class="AlertText astro-G2V7ZB5K">release 1.6 with Video Object Tracking</span>
    </span>
</a>
