<% if (page.type !== "blog") { %>
<div class="sidebar">
  <!-- Github starts -->
    <div style="margin: 7px 0 0 7px !important;" class="github-button-wrap">
        <a class="github-button" href="https://github.com/heartexlabs/label-studio"
           data-icon="octicon-star"
           data-size="large" data-show-count="true" aria-label="Star heartexlabs/label-studio on GitHub"></a>

        <!-- Github repo -->
        <img src="/images/github-icon.png" height="25px" style="margin-left: 10px; margin-top:-20px; cursor:pointer" class="github-link"
         onclick="window.location='https://github.com/heartexlabs/label-studio'">

    </div>


  <div class="sidebar-inner">

      <ul style="font-size: 1.2em">
        <li><a class="sidebar-link section-link" href="/guide/#Quickstart">Quickstart</a></li>
        <li><a class="sidebar-link section-link" href="/guide">Guide</a></li>
        <li><a class="sidebar-link section-link" href="/tags">Tags</a></li>
        <li><a class="sidebar-link section-link" href="/templates">Templates</a></li>
        <li><a class="sidebar-link section-link" href="/blog">Blog</a></li>
        <br/>
        <li><a class="sidebar-link section-link" href="/playground">Playground</a></li>
        <li><a class="sidebar-link" href="https://app.labelstud.io">Demo</a></li>
      </ul>

    <br/><br/>



  </div>
  <a href="/"><img src="<%- url_for("/images/opossum/other/5.svg") %>" alt="label studio logo" height="120" /></a>
</div>
<% } %>
