<% if (page.type !== "playground" && page.type !== "blog") { %>
<div class="sidebar">
  <div class="sidebar-inner">
    <div class="list">
      <%- partial('partials/toc', { type: type }) %>
    </div>
  </div>
  <a href="/"><img src="<%- url_for("/images/opossum/other/5.svg") %>" alt="label studio logo" height="120" /></a>
</div>
<% } %>

<% if (page.type === "playground") { %>
<%- partial('partials/sidebar_main_page', {type: page.type === 'menu' ? 'guide' : page.type, index: page.index}) %>
<% } %>