<div class="sidebar">
  <div class="sidebar-inner">
    <ul class="main-menu">
      <%- partial('partials/main_menu', { context: 'sidebar' }) %>
    </ul>
    <div class="list">
      <%- partial('partials/toc', { type: type }) %>
    </div>
  </div>
</div>
