<% if (page.type !== "playground") { %>
<div class="sidebar">
  <div class="sidebar-inner">
    <ul class="main-menu">
      <%- partial('partials/main_menu', { context: 'sidebar' }) %>
    </ul>
    <div class="list">
      <%- partial('partials/toc', { type: type }) %>
    </div>
  </div>
  <img src="<%- url_for("/images/opossum/other/5.svg") %>" alt="label studio logo" height="120" />
</div>
<% } %>
