body {
  background: #fcfcfc;
  font-family: Rubik, sans-serif;
  color: #333;
}

table {
  border: 1px solid #ccc;
  margin: 0 auto;
  border-collapse: collapse;
}

td,
th {
  padding: 0.4em 2em;
  border: 1px solid #ccc;
}

.content {
  max-width: 1400px;
  padding: 1em 2em;
}

.wrapper {
  margin: 0 auto;
  text-align: center;
}

/* Disallow selection on page for Editor Ranker */
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.link {
  display: block;
  color: rgb(24, 144, 255);
  text-decoration: none;
  margin-bottom: 10px;
  margin-top: 10px;
}

.text-center {
  text-align: center;
}

.eye {
  color: rgb(24, 144, 255);
}

.trash {
  color: rgb(255, 13, 23);
}

.show-completion {
  cursor: pointer;
}

.remove-completion {
  cursor: pointer;
}

a {
  text-decoration: none;
}
