<View>
  <Image name="img" value="$image"></Image>
  <EllipseLabels name="tag" toName="img" fillOpacity="0.5" strokeWidth="3">
    <Label value="Planet" background="yellow"></Label>
    <Label value="Moonwalker" background="red"></Label>
  </EllipseLabels>
  <Choices name="choice" toName="img">
    <Choice value="Space" />
    <Choice value="Underground" />
  </Choices>
</View>
