<View>
  <Header value="Listen the audio:"></Header>
  <Audio name="audio" value="$url" cursorcolor="#FF0000" cursorwidth="4"></Audio>
  <Header value="Select its topic:"></Header>
  <Choices name="label" toName="audio" choice="single-radio" showInline="true">
    <Choice value="Politics"></Choice>
    <Choice value="Business"></Choice>
    <Choice value="Education"></Choice>
    <Choice value="Other"></Choice>
  </Choices>
</View>
