name: "Docker build & push"

on:
  workflow_call:
    inputs:
      sha:
        required: true
        type: string
      branch_name:
        required: true
        type: string
    outputs:
      image_version:
        description: "Docker tag"
        value: ${{ jobs.docker_build_and_push.outputs.image_version }}
      ubi_image_version:
        description: "Docker UBI tag"
        value: ${{ jobs.docker_build_and_push.outputs.ubi_image_version }}

env:
  DOCKER_CLI_EXPERIMENTAL: enabled
  IMAGE_NAME: heartexlabs/label-studio
  PREFLIGHT_REPO: quay.io/opdev/preflight:stable
  DOCKER_CONFIG_PATH: /home/runner/.docker/config.json
  DOCKER_IMAGE_TAG_CHECK_NAME: "Docker image tag"

jobs:
  docker_build_and_push:
    name: "Docker image"
    timeout-minutes: 30
    runs-on: ubuntu-latest
    outputs:
      image_version: ${{ steps.version.outputs.image_version }}
      ubi_image_version: ${{ steps.version.outputs.ubi_image_version }}
    steps:
      - uses: hmarr/debug-action@v2.1.0

      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ inputs.sha }}

      - name: Calculate version
        id: version
        shell: bash
        run: |
          set -x
          sha="$(git rev-parse HEAD)"
          echo "::set-output name=sha::$sha"
          regexp='^ls-release\/(.*)$'; 
          if [[ '${{ inputs.branch_name }}' =~ $regexp ]]; then
            image_version="${BASH_REMATCH[1]}rc${sha}"
          else
            image_version='${{ inputs.branch_name }}'
          fi
          echo "::set-output name=image_version::${image_version}"
          echo "::set-output name=ubi_image_version::ubi_${image_version}"

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2.2.0

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Create version_.py
        run: |
          python3 $(pwd)/label_studio/core/version.py
          cat $(pwd)/label_studio/core/version_.py

      - name: Download feature flags
        env:
          LAUNCHDARKLY_COMMUNITY_SDK_KEY: ${{ secrets.LAUNCHDARKLY_COMMUNITY_SDK_KEY }}
        run: |
          curl -H "Authorization: $LAUNCHDARKLY_COMMUNITY_SDK_KEY" https://app.launchdarkly.com/sdk/latest-all > label_studio/feature_flags.json

      - name: Login to DockerHub
        uses: docker/login-action@v2.1.0
        with:
          username: heartexlabs
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push ubuntu
        uses: docker/build-push-action@v3.1.1
        id: docker_build_and_push_ubuntu
        with:
          context: .
          file: Dockerfile
          push: true
          tags: ${{ env.IMAGE_NAME }}:${{ steps.version.outputs.image_version }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Login to RedHat Registry
        uses: docker/login-action@v2.1.0
        with:
          registry: scan.connect.redhat.com
          username: unused
          password: ${{ secrets.REDHAT_MARKETPLACE_LS_PASSWORD }}

      - name: Build and push ubi
        uses: docker/build-push-action@v3.1.1
        id: docker_build_and_push_ubi
        with:
          context: .
          file: Dockerfile.redhat
          push: true
          tags: scan.connect.redhat.com/${{ secrets.REDHAT_MARKETPLACE_LS_OSPID }}/label-studio:${{ steps.version.outputs.image_version }},${{ env.IMAGE_NAME }}:${{ steps.version.outputs.ubi_image_version }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Run preflight and submit validation results to RedHat
        run: |
          docker pull ${{ env.PREFLIGHT_REPO }}
          docker run --rm -v ${{ env.DOCKER_CONFIG_PATH }}:${{ env.DOCKER_CONFIG_PATH }} \
          --env PFLT_DOCKERCONFIG=${{ env.DOCKER_CONFIG_PATH }} \
          --env PFLT_PYXIS_API_TOKEN=${{ secrets.REDHAT_MARKETPLACE_LS_PYXIS_TOKEN }} \
          --env PFLT_CERTIFICATION_PROJECT_ID=${{ secrets.REDHAT_MARKETPLACE_LS_PROJECT_ID }} \
          ${{ env.PREFLIGHT_REPO }} \
          check container scan.connect.redhat.com/${{ secrets.REDHAT_MARKETPLACE_LS_OSPID }}/label-studio:${{ steps.version.outputs.image_version }} \
          --submit

      - name: Create Docker image tag Check
        uses: actions/github-script@v6
        with:
          script: |
            const { repo, owner } = context.repo;
            const details = {
              "image_version": "${{ steps.version.outputs.image_version }}",
              "ubi_image_version": "${{ steps.version.outputs.ubi_image_version }}",
              "sha": "${{ steps.version.outputs.sha }}"
            }
            const { data: check } = await github.rest.checks.create({
              owner,
              repo,
              name: '${{ env.DOCKER_IMAGE_TAG_CHECK_NAME }}',
              head_sha: '${{ steps.version.outputs.sha }}',
              status: 'in_progress',
              output: {
                title: '${{ env.DOCKER_IMAGE_TAG_CHECK_NAME }}',
                summary: JSON.stringify(details)
              }
            });
            await github.rest.checks.update({
              owner,
              repo,
              check_run_id: check.id,
              status: 'completed',
              conclusion: 'success'
            });
