name: "Docker build & push"

on:
  workflow_call:
    inputs:
      ref:
        required: true
        type: string

env:
  DOCKER_CLI_EXPERIMENTAL: enabled
  IMAGE_NAME: heartexlabs/label-studio
  RELEASE_TAG: 'latest'
  DEVELOP_TAG: 'develop'

jobs:
  docker_build_and_push:
    name: "Docker image"
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - uses: hmarr/debug-action@v2.0.1

      - name: Checkout
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GIT_PAT }}
          ref: ${{ inputs.ref }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2.0.0

      - name: Login to DockerHub
        uses: docker/login-action@v2.0.0
        with:
          username: heartexlabs
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.8'

      - name: Create version_.py
        run: |
          python3 $(pwd)/label_studio/core/version.py
          cat $(pwd)/label_studio/core/version_.py

      - name: Download feature flags
        run: |
          curl -H "Authorization: ${{ secrets.LAUNCHDARKLY_COMMUNITY_SDK_KEY }}" https://app.launchdarkly.com/sdk/latest-all > label_studio/feature_flags.json

      - name: Build and push
        uses: docker/build-push-action@v3.0.0
        id: docker_build_and_push
        with:
          context: .
          push: true
          tags: ${{ env.IMAGE_NAME }}:${{ env.DEVELOP_TAG }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
