name: "Frontend build"

on:
  workflow_call:
    inputs:
      ref:
        required: true
        type: string
  workflow_dispatch:
    inputs:
      ref:
        description: "Ref"
        required: true
        type: string

env:
  NODE: 14
  CACHE_NAME_PREFIX: v1
  FRONTEND_DIR: label_studio/frontend
  FRONTEND_BUILD_COMMIT_MESSAGE: "ci: Build frontend"

jobs:
  build:
    name: "Frontend"
    timeout-minutes: 15
    runs-on: ubuntu-latest
    steps:
      - uses: hmarr/debug-action@v2.1.0

      - name: Get GitHub user details
        id: get-github-user
        uses: actions/github-script@v6
        env:
          ACTOR_USERNAME: ${{ github.event.sender.login }}
        with:
          script: |
            const actor_username = process.env.ACTOR_USERNAME;
            
            let user_name = 'robot-ci-heartex';
            let user_email = 'robot-ci-heartex@users.noreply.github.com';
            
            try {
              const {data: user} = await github.rest.users.getByUsername({
                username: actor_username,
              });
              user_name = user.login;
              user_email = user.email;
            } catch (e) {
              console.log(e)
            }
            
            core.setOutput('user_name', user_name);
            core.setOutput('user_email', user_email);

      - name: Configure git
        shell: bash
        run: |
          set -xeuo pipefail
          git config --global user.name '${{ steps.get-github-user.outputs.user_name }}'
          git config --global user.email '${{ steps.get-github-user.outputs.user_email }}'

      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ inputs.ref }}

      - uses: actions/setup-node@v3
        with:
          node-version: "${{ env.NODE }}"

      - name: Get npm cache directory path
        id: npm-cache
        run: echo "dir=$(npm config get cache)" >> $GITHUB_OUTPUT

      - name: Configure npm cache
        uses: actions/cache@v3
        with:
          path: ${{ steps.npm-cache.outputs.dir }}
          key: ${{ env.CACHE_NAME_PREFIX }}-${{ runner.os }}-node-${{ env.NODE }}-${{ hashFiles('**/package.json') }}-${{ hashFiles('**/yarn.lock') }}

      - name: Print Yarn cache size
        run: du -d 0 -h ${{ steps.npm-cache.outputs.dir }} || true

      - name: Build
        run: |
          npm ci
          npm run build:production
        working-directory: ${{ env.FRONTEND_DIR }}

      - name: Commit and Push
        run: |
          git add "${{ env.FRONTEND_DIR }}"
          git status -s
          git commit -m '${{ env.FRONTEND_BUILD_COMMIT_MESSAGE }}' || true
          git push origin HEAD
