# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: ls-branch:build

on:
  push:
    branches:
      - '*'
      - '*/*'
      - '!master'
  pull_request:

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.5, 3.6, 3.7, 3.8]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip setuptools
        python -m pip install --upgrade cython
        pip install -e .
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        if [ -f label_studio/tests/requirements.txt ]; then pip install -r label_studio/tests/requirements.txt; fi
    - name: init project
      run: |
        label-studio init my_project
    - name: Test with pytest
      env:
        collect_analytics: 0
      run: |
        python -m pytest -vrP
        coverage run -m --source=label_studio pytest
        coverage report -m --fail-under=40
