name: "Release Pipeline"

on:
  release:
    types:
      - released

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.event.pull_request.head.ref || github.ref }}
  cancel-in-progress: true

jobs:
  promote_docker_image:
    name: "Promote"
    uses: nikitabelonogov/label-studio/.github/workflows/docker-release-promote.yml@develop
    with:
      release_tag: ${{ github.ref_name }}
    secrets: inherit

  build-pypi:
    name: "Build"
    uses: nikitabelonogov/label-studio/.github/workflows/build_pypi.yml@develop
    with:
      version: ${{ github.ref_name }}
      ref: ${{ github.ref_name }}
      release-id: ${{ github.event.release.id }}
    secrets: inherit
