name: "Upload to PYPI"

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version'
        type: string
        required: true
      ref:
        description: 'Ref'
        type: string
        required: true
  release:
    types:
      - released

jobs:
  ReleaseNotification:
    name: "Build & Upload"
    runs-on: ubuntu-latest
    steps:
      - uses: hmarr/debug-action@v2.0.1

      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.release.tag_name || inputs.ref }}

      - name: Manage version
        env:
          PROVIDED_VERSION: ${{ github.event.release.tag_name || inputs.version }}
        run: |
          version=$(sed "s/^v//g" <<< ${PROVIDED_VERSION})
          sed -i "s/^__version__[ ]*=.*/__version__ = '${version}'/g" label_studio/__init__.py

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.8'

      - name: Configure pip cache
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('deploy/requirements-mw.txt') }}-${{ hashFiles('deploy/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Install dependencies
        run: |
          pip install -r deploy/requirements-mw.txt
          pip install -r deploy/requirements.txt
          pip install -e .
          pip install twine

      - name: Collect static
        run: |
          python label_studio/manage.py collectstatic

      - name: Download feature flags
        env:
          LAUNCHDARKLY_COMMUNITY_SDK_KEY: ${{ secrets.LAUNCHDARKLY_COMMUNITY_SDK_KEY }}
        run: |
          curl -H "Authorization: $LAUNCHDARKLY_COMMUNITY_SDK_KEY" https://app.launchdarkly.com/sdk/latest-all >label_studio/feature_flags.json

      - name: Package
        run: python setup.py sdist bdist_wheel

      - name: Upload to PYPI
        if: github.event_name == 'release'
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_APIKEY }}
        run: twine upload dist/*

      - name: Upload to artifacts
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: Dist
          path: dist/
