name: pytest:win

on:
  push:
    branches: ['*', '*/*', master]
  paths:
    - 'label_studio/**'

jobs:

  windows_label_studio:
    name: LS SQLite
    runs-on: windows-latest
    strategy:
      matrix:
        python-version: [3.6, 3.7, 3.8]

    env:
      DJANGO_SETTINGS_MODULE: core.settings.label_studio
      LOG_DIR: pytest_logs
      collect_analytics: false

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip setuptools
        pip install --upgrade cython
        if (Test-Path -Path '.\deploy\requirements.txt' -PathType Leaf)
        {pip install -r deploy\requirements.txt}
        if (Test-Path -Path '.\deploy\requirements-test.txt' -PathType Leaf)
        {pip install -r deploy/requirements-test.txt}
        pip install -e .

    - name: Init project
      run: |
        set PYTHONIOENCODING=utf-8
        set PYTHONLEGACYWINDOWSSTDIO=utf-8
        label-studio init my_project --agree-fix-sqlite  # just install sqlite3.dll
        label-studio init my_project --username test@test.com --password testpwd
        cp sqlite3.dll %pythonLocation%/DLLs/sqlite3.dll
      shell: cmd

    - name: Test with pytest
      env:
        collect_analytics: 0
        # PYTHONPATH: ../..
      run: |
        cd label_studio/
        coverage run -m pytest
        coverage report -m --fail-under=40
