.controls
  height 32px
  display grid
  grid-auto-columns 1fr
  grid-auto-flow column
  grid-column-gap 12px
  justify-content flex-end

  &__tooltip-wrapper
    button
      width 100%

  &__skipped-info
    display flex
    svg
      margin 0 8px 0 4px
